<% 
    params[:search] = {} if params[:search].blank? 
    params[:refine_search] = {} if params[:refine_search].blank? 

%>
<div class="left_side_bar margin_left_100 mt_10">
    <form action="/search" accept-charset="utf-8" id="searchfrm" name="searchfrm" class="js-search_refine_form" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="hidden" name="search[keywords]" value="<%= params[:search][:keywords] %>" />
    <input type="hidden" name="search[location]" value="<%= params[:search][:location] %>" />
    <input type="hidden" name="search[experience]" value="<%= params[:search][:experience] %>" />
    <input type="hidden" name="search[salary]" value="<%= params[:search][:salary] %>" />

    <div class="left_side_bar_heading">
        Refine Search
    </div>
    <div class="left_menu_section bottom_border">
        <span class="search_label">
            Freshness
        </span>
        <select class="form-control search_select" name="refine_search[freshness]">
            <% get_freshness.each do |key, value| %>
                <option value="<%= key %>" <% if key == params[:refine_search][:freshness].to_i %> selected <% end %> >
                    <%= value %>
                </option>
            <% end %>
        </select>
    </div>
    <!--
    <div class="left_menu_section bottom_border">
        <span class="search_label">
            By Category
        </span>
        <select class="form-control search_select js-refine_category" name="refine_search[category_id]">
            <% get_categories.each do |category| %>
                <option value="<%= category.id %>">
                    <%= category.name %>
                </option>
            <% end %>        
        </select>
    </div>
    <div class="left_menu_section bottom_border">
        <span class="search_label">
            By Designation
        </span>
        <select class="form-control search_select js-refine_designation" name="refine_search[designation_id]">
            <% get_designations.each do |designation| %>
                <option value="<%= designation.id %>">
                    <%= designation.name %>
                </option>
            <% end %>        
        </select>
    </div>
    <div class="left_menu_section bottom_border">
        <span class="search_label">
            By Location
        </span>
        <select class="form-control search_select js-refine_location" name="refine_search[city_id]">
            <% get_locations.each do |location| %>
                <option value="<%= location.id %>">
                    <%= location.name %>
                </option>
            <% end %>        
        </select>
    </div>
    -->
    <a href="#">
        <div class="refine_search js-refine_search">
            Submit
        </div>
    </a>
    </form>
</div>