<div class="multi_column col_count_three" column-count="3">
    <% items.each do |item| %>
        <a title="<%= section_name(item) %>" target="_blank" href="<%= section_url(item) %>">
            <%= section_name(item) %>
        </a> 
    <% end %>
</div> 
<div class="clr"></div>
<div class="view-more"><a href="<%= more_url %>">View More Jobs</a></div>