<form action="/advanced_search" accept-charset="utf-8" method="post" class="js-adv_search_form"> 
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <div class="field_container dashboard">
        <h3>Advance Search</h3>
        <div class="form-group">
            <label class="col-sm-2 control-label label dash-label"><span class="required">*</span> Keywords</label>
            <input type="text" class="form-control dash-input js-key_skills js-search_keywords" placeholder="Skills,Designations,Roles,Companies" id="adv_keywords" name="search[keywords]" value="">
            <p class="error_message js-error hide">
                Please enter keywords.
            </p>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label label dash-label"><span class="required">*</span> Location</label>
            <input type="text" class="form-control dash-input js-location js-search_location" placeholder="Enter the location you want to work in" id="adv_search_location" name="search[location]" value="">
            <p class="error_message js-error hide">
                Please enter location.
            </p>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label dash-label">Work Experience</label>
            <select class=" form-control dash-select" name="search[exp_years]" >
                <%= render :partial => 'shared/sal_exp_dropmenu_options', :locals => { :label => 'Select', :selected_id => "" } %>
            </select> years
            <select class="form-control dash-select" name="search[exp_months]" >
                <option value="">Select</option>
                <% (0..11).each do |month| %>
                    <option value="<%= month %>"><%= month %></option>
                <% end %>
            </select> months
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label dash-label">Expected Salary</label>
            <select class="form-control dash-select js-min_exp_salary" name="search[min_salary]">
                <%= render :partial => 'shared/annual_salary_lakh', :locals => { :label => 'Min' }  %>
            </select> to
            <select class="form-control dash-select dash_select_exceptional js-max_exp_salary" name="search[max_salary]">
                <%= render :partial => 'shared/annual_salary_lakh', :locals => { :label => 'Max' }  %>
            </select> in Lacs
            <p class="error_message js-error hide">
                Please enter correct maximum salary.
            </p>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label dash-label"><span class="required">*</span>Category</label>
            <select class="form-control dash-select js-category" name="search[category_id]" >
                <option value="">Select</option>
                <% get_categories.each do |category| %>
                    <option value="<%= category.id %>">
                        <%= category.name %>
                    </option>
                <% end %>
            </select> 
            <p class="error_message js-error hide">
                Please select category.
            </p>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label">Job Type</label>
            <% @job_types.each do |job_type| %>
                <input type="radio" class="dash-radio"checked name="search[job_type]" value="<%= job_type.id %>"/><%= job_type.name %>
            <% end %>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label ">Sort By</label>
            <input type="radio" class="dash-radio" name="search[sort_by]" checked value="rel" />Relevance
            <input type="radio" class="dash-radio" name="search[sort_by]" value="date"/>Date
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary adv-search js-adv_search">Search</button>
        </div>    
</form>