<div class="middle_container">
    <div class="center-sec">
        <div class="mid_heading">
            Search Result
            <span style="font-size: 12px; font-weight: normal; margin-left: 5px;">
            	(<%= @jobs.size %> Jobs Found)
            </span>
        </div>
        <% if @jobs.present? %>
        	<%= render :partial => "shared/job_grid", :locals => { :jobs => @jobs } %>
        <% else %>
        	<%= render "shared/search_zero" %>
        <% end %>
    </div>
</div>

