<div class="middle_container full_width">
    <div class="center-sec ml_0">
        <div class="mid_heading">
            Browse Jobs by Top <%= params[:section].camelize %>
        </div>
        <div class="section_container">
            <div class="multi_column col_count_four" column-count="4">
                <% @objects.each do |item| %>
                    <% if item.jobs.present? %>
                    <a title="<%= section_name(item) %>" target="_blank" href="<%= section_url(item) %>">
                        <%= section_name(item) %></a>

                    <% end %>
                <% end %>
            </div>
        </div>
    </div><!-- center section of the body ends here-->
</div>

