<div class="middle_container">
    <div class="center-sec">
        <div class="mid_heading">
            Search Result
        </div>
        <% if @jobs.present? %>
            <%= render :partial => "shared/job_grid", :locals => { :jobs => @jobs } %>
            
        <% else %>
            <%= render "shared/search_zero" %>
        <% end %>
    </div>
</div>

