<div class="profile_section">
    <div class="profile_heading">
        Profile Snapshot
    </div>
    <div class="profile_section_content">
        <div class="p5">
            <strong class="f14 pt5 candidate_name"><%= @candidate.full_name %></strong>
            <div class="resDetail pt10 wrapL">
                <i class="resume_headline">Resume Headline :</i> <%= @candidate.resume_headlines %>
                <div class="sp5"></div>
                <ul class="profList">
                    <li>
                        <i>Current Designation:</i>
                        <%= @candidate.full_name %>
                    </li>
                    <li>
                        <i>Current Company:</i>
                        <%= @current_employment.employer_name rescue "" %>
                    </li>
                    <li>
                        <i>Current Location:</i>
                        <%= @candidate.location.name %>
                    </li>
                    <li>
                        <i>Preferred Location:</i>
                        <span class="redCol"><%= @candidate.city.name rescue "" %></span>
                    </li>
                    <li>
                        <i>Functional Area:</i>
                        <%= get_child_data(@candidate.vacancy_category, 'name') %>
                    </li>
                    <li>
                        <i>Role:</i>
                        <%= get_child_data(@candidate.designation, 'name') %>
                    </li>
                    <li>
                        <i>Industry:</i>
                        Test
                    </li>
                    <li>
                        <i>Date of Birth:</i> <%= "#{@candidate.dob_day}/#{@candidate.dob_month}/#{@candidate.dob_year}" %>
                    </li>
                    <li>
                        <i>Gender:</i>
                        <%= gender[@candidate.gender.to_i] %>
                    </li>
                </ul>
                <ul class="profList">
                    <li>
                        <i>Total Experience:</i>
                        <%= @candidate.total_exp_years %>
                    </li>
                    <li>
                        <i>Annual Salary: </i> 
                        <span class="WebRupee"> Rs.</span>          
                        <%= @candidate.salary_lakhs %> lakh(s) <%= @candidate.salary_thousands %> thousand(s)
                    </li>
                    <li>
                        <i>Highest Degree:</i>
                        <%= get_education(@educations.last.course_id, @educations.last.course_type) rescue "" %>
                    </li>
                    <li>
                        <i>Phone:</i>
                        <%= @candidate.phone_number %>
                    </li>
                    <li>
                        <i>Email:</i>
                        <%= @candidate.email_id %>
                    </li>
                    <li class="wrapL">
                        <i>Permanent Address:</i>
                        <%= @candidate.mailing_address %>
                    </li>
                    <li>
                        <i>Hometown/City:</i>
                        <%= @candidate.home_town %>
                    </li>
                    <li>
                        <i>Pin Code:</i>
                        <%= @candidate.home_town_pincode %>
                    </li>
                    <li>
                        <i>Marital Status:</i>
                        <%= marital_status[@candidate.marital_status.to_i] %>
                    </li>
                </ul>
                <div class="key_skills"><i>Key Skills:</i> <span class="grnCol">
                    <%= @candidate.full_name %>
                </span></div>
            </div>
        </div>
    </div>
</div>