<div class="profile_section">
    <div class="profile_heading">
        Profile Summary
    </div>
    <div class="profile_section_content">
        <div class="p5">
            <div class="profile_summary pl8 wrapL">
                <%= @candidate_profile_summary.summary rescue "" %>
            </div>
        </div>
    </div>
</div>