<div class="profile_section">
    <div class="profile_heading">
        Resume
    </div>
    <div class="profile_section_content">
        <% if @resume.present? && @resume.data_file.present? %>
            <div class="p5">
                <span id="links1">
                   <strong>Attached Resume:</strong>
                    <span class="grytxta">(Uploaded on <%= show_date(@resume.created_at) %>)</span>
                    <br /><br />
                    <a href="#" data-candidate="<%= @candidate.id %>" class="link ml8 js-download_resume">Download</a>
                </span>
            </div>
        <% else %>
            <br />
            <h3>Please upload resume.</h5>
        <% end %>
        <!--<div class="mt16 bdrinp1">
            <div class="resHead">Your latest resume</div>
            <div class="p10 wrapL">
                <div class="grytxta f11 pb20">Updated Date: May  9, 2015</div>
                <div id="textCv">
                    
                </div>
            </div>
        </div>-->
    </div>
</div>