<h1>Hi <%= @candidate.company_name %></h1>

Welcome to Pharam Vacancy.

<% if @candidate.user.present? && @candidate.user.verify_code.present? %>
	Actvation link <br />
	<a href='<%= "#{request.protocol}#{request.host_with_port}/activate/#{@candidate.user.verify_code}" %>'></a>
<% else %>
	Unable to activate your account, please contact to admin.
<% end %>

