<%= form_for(@admin_location, url: generate_admin_path(@admin_location)) do |f| %>
  <% if @admin_location.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @admin_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Enter name" %>
  </div>
  <div class="form-group">
    <%= f.label :short_name %>
    <%= f.text_field :short_name, :class => "form-control", :placeholder => "Enter short name" %>
  </div>  
  <button type="submit" class="btn btn-primary">Submit</button>
  &nbsp;
  <a href="<%= admin_locations_url %>"><button type="button" class="btn btn-primary">Cancel</button></a>
<% end %>
