<div class="panel panel-default locations_grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Locations</h3>
    </div>
    <div class="new_link_div">
      <a href="<%= new_admin_location_path %>" class="">
          <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-warning">New Location</button>
          </div>
      </a>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Short name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @admin_locations.each_with_index do |admin_location, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= admin_location.name %></td>
          <td><%= admin_location.short_name %></td>
          <td><%= link_to 'Edit', "#{edit_admin_location_path(admin_location)}" %> &nbsp;<%= link_to 'Destroy', "#{admin_location_path(admin_location)}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
