<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_location.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @admin_location.short_name %>
</p>

<%= link_to 'Edit', edit_admin_location_path(@admin_location) %> |
<%= link_to 'Back', admin_locations_path %>
