<div class="login_div">
    <% if flash[:error].present? %>
        <%= render :partial => "/shared/alert_message", :locals => { :message => flash[:error] } %>
    <% end %>
    <form class="admin_login_form" action="<%= admin_perform_login_path %>" method="post">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <input type="hidden" name="user[role]" value="admin" />
        <div class="form-group js_user_name_group">
            <label for="user_name" class="col-sm-2 control-label label"><span class="required">*</span> User Name</label>
            <input type="text" name="user[user_name]" class="form-control input js_user_name" id="user_name" placeholder="User Name">
            <p class="error_message js_user_name_error hide">Please enter username.</p>
        </div>
        <div class="form-group js_password_group">
            <label for="password" class="col-sm-2 control-label label "><span class="required">*</span> Password</label>
            <input type="password"  name="user[password]"  class="form-control input js_password" id="inputEmail3" placeholder="Password">
            <p class="error_message js_password_error hide">Please enter password.</p>
        </div>
        <div class="forgot_password"> <a href="<%=admin_reset_password_path %>" class="forgot_password"> Forgot Password? </a></div>
        <div>
            <button type="submit" class="btn btn-primary admin_login_submit">Submit</button>
        </div>
    </form>

</div>