
<div class="form-group">
    <input type="email"  name="user[email]"  class="form-control input" id="inputEmail3" placeholder="Please Enter valid EmailId">
</div>
<div>
    <button type="submit" class="btn btn-primary candidate_registration_submit">Submit</button>
</div>