<h1>Hi <%= @employer.company_name rescue "" %></h1>

    <br/>
    Following candidate applied to job(<%= @job.title %>) posted by you.
    </br>

    <table>
    <tbody>
        <tr>
            <td>Candidate Name</td>
            <td><%= @candidate.full_name rescue "" %>
        </tr>
        <tr>
            <td>Email</td>
            <td><%= @candidate.email_id rescue "" %>
        </tr>
    <tr>
        <td>Contact No</td>
        <td><%= @candidate.phone_number rescue "" %>
    </tr>
    <tr>
        <td>Resume Title</td>
        <td><%= @candidate.resume_headlines rescue "" %>
    </tr>
    </tbody>
    </table>
    <br/>
    Please login to get more details and resume of candidate.