<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @employer.company_name %></h1>

    <br/>
    Following candidate applied to job(<%= @job.title %>) posted by you.
    </br>

    <table>
    <tbody>
        <tr>
            <td>Candidate Name</td>
            <td><%= @candidate.full_name %>
        </tr>
        <tr>
            <td>Email</td>
            <td><%= @candidate.email_id %>
        </tr>
    <tr>
        <td>Contact No</td>
        <td><%= @candidate.phone_number %>
    </tr>
    <tr>
        <td>Resume Title</td>
        <td><%= @candidate.resume_headlines %>
    </tr>
    </tbody>
    </table>
    <br/>
    Please login to get more details and resume of candidate.
  </body>
</html>