<div class="panel panel-default grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Applied Jobs</h3>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="width: 50px;">#</th>
        <th>Full Name</th>
        <th>Qualification</th>
        <th>Current CTC</th>
        <th>Expected CTC</th>
        <th>NP</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each_with_index do |job, index| %>
        <% if (candidates = job.candidates).present? %>
            <tr class="warning">
                <th scope="row" colspan="6">
                  <a href="<%= employer_job_path(@employer, job) %>" class="blue_font">
                      <%= job.title %>
                      &nbsp; - 
                      <%= show_date(job.created_at) %>
                  </a>
                </th>
            </tr>

            <% candidates.each_with_index do |candidate, index| %>
              <tr>
                  <td>
                    <%= index+1 %>
                  </td>
                  <td>
                    <a class="blue_font" href='<%= "/employers/#{@employer.id}/candidate_profile/#{candidate.id}" %>' >
                        <%= candidate.full_name %>
                    </a>
                  </td>
                  <td>
                    <%= get_education(candidate.educations.last.course_id, candidate.educations.last.course_type) %>
                  </td>
                  <td>
                    <%= candidate.salary_lakhs %> lakh(s) <%= candidate.salary_thousands %> thousand(s)
                  </td>
                  <td>
                    <%= expected_ctc(candidate) %>
                  </td>
                  <td>
                  <%= candidate.notice_period %>(Months)
                  </td>
              </tr>
            <% end %>
        <% end %>

      <% end %>
    </tbody>
  </table>
  <!-- pagination div starts here-->
        <div style="float: right;">
            <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
        </div>
</div>
