<div class="employer_candidate candidate_body">
	<%= render :partial => "/shared/candidate_profile" %>
	<div class="back_button">
        <a href="<%= employer_applied_candidates_path(@employer) %>">
            <button type="button" class="btn btn-primary">
                Back
            </button>
        </a>
    </div>
</div>