<div class="candidate_search">
    <form action="<%= employer_perform_search_path(@employer) %>" accept-charset="utf-8" method="post" class="js-candidate_search_form">
        <% if flash[:error].present? %>
            <br />
            <%= render :partial => "/shared/alert_message", :locals => { :message => flash[:error] } %>
        <% end %>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <div class="field_container dashboard">
            <h3>Advance Search</h3>
            <div class="form-group">
                <label class="col-sm-2 control-label label dash-label"><span class="required">*</span> Keywords</label>
                <input type="text" class="form-control dash-input js-key_skills js-search_keywords" placeholder="" id="candidate_keywords" name="search[keywords]" value="">
                <p class="error_message js-error hide">
                    Please enter keywords or select category.
                </p>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label label dash-label"><span class="required">*</span>Area Worked</label>
                <select class="form-control dash-select js-category" name="search[category_id]" >
                    <option value="">Select</option>
                    <% get_categories.each do |category| %>
                        <option value="<%= category.id %>">
                            <%= category.name %>
                        </option>
                    <% end %>
                </select> 
                <p class="error_message js-error hide">
                    Please enter keywords or select category.
                </p>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label label dash-label">Current Designation</label>
                <select  class="form-control large_select" name= "search[designation_id]">   
                    <option value="">Select</option>
                    <% @designations.each do |designation|%>
                        <option value="<%= designation.id%>"> 
                            <%= designation.name %>
                        </option>
                    <% end %>
                </select>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label label dash-label">Total Experience</label>
                <select class="form-control dash-select js-exp_from" name="search[exp_from]">
                    <option value="">Select</option>
                    <% (1..30).each do |id| %>
                        <option value="<%= id %>">
                            <%= id %>
                        </option>
                    <% end %>
                </select> to
                <select class="form-control dash-select js-exp_to" name="search[exp_to]">
                    <option value="">Select</option>
                    <% (1..30).each do |id| %>
                        <option value="<%= id %>">
                            <%= id %>
                        </option>
                    <% end %>
                </select> in years
            </div>

            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label" style="margin-top: 5px">Annual Salary:</label>
                <select name="search[salary_lakhs_from]" class="form-control select_option js-annual_salary"  >
                    <%= render :partial => 'shared/annual_salary_lakh', :locals => { :label => 'select', :selected => "" }  %>
                </select>
                <span class="connector"> Lakhs </span>
                <select name="search[salary_thousands_from]" class="form-control select_option">
                    <%= render :partial => 'shared/annual_salary_thousand', :locals => { :label => 'select', :selected => ""}%>
                </select>
                <span class="connector"> to </span>
                <select name="search[salary_lakhs_to]" class="form-control select_option js-annual_salary"  >
                    <%= render :partial => 'shared/annual_salary_lakh', :locals => { :label => 'select', :selected => "" }  %>
                        </select>
                    <span class="connector"> Lakhs </span>
                <select name="search[salary_thousands_to]" class="form-control select_option">
                    <%= render :partial => 'shared/annual_salary_thousand', :locals => { :label => 'select', :selected => ""}%>
                </select>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label label dash-label">Current Location</label>
                <select name="search[city_id]" class="form-control js-cities">
                    <option value="">Select</option>
                      <% @cities.each do |city| %>
                          <option value="<%= city.id %>">
                              <%= city.name %>
                          </option>
                      <% end %>        
                    </select>
            </div>
            
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">UG Qualification </label>
                <select name="search[ug_id]" class="form-control js-ug_qualification">
                    <option value="">Select</option>
                    <% @ug_qualifications.each do |ug_qualification|%>
                        <option value="<%= ug_qualification.id%>">
                            <%= ug_qualification.name %>
                        </option>
                    <% end %>
                </select>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">PG Qualification </label>
                <select name="search[pg_id]" class="form-control js-ug_qualification">
                    <option value="">Select</option>
                    <% @pg_qualifications.each do |pg_qualification|%>
                        <option value="<%= pg_qualification.id%>">
                            <%= pg_qualification.name %>
                        </option>
                    <% end %>
                </select>
            </div>
            <div class="form-group gender_box">
                <label for="text" class="col-sm-2 control-label label">Gender:</label>
                <%= render :partial => "/shared/select_field", :locals => {:name => "search[gender]", :class_name => "form-control select_option", :selected => "", :objects => gender } %>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary adv-search js-candidate_search">Search</button>
            </div>    
    </form>
</div>