<div class="panel panel-default grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Candidates</h3>
    </div>
    <div class="new_link_div">
      <a href="<%= employer_candidate_search_path(@employer) %>" class="">
          <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-warning">Advance Search</button>
          </div>
      </a>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Skills</th>
        <th>Total Experience</th>
      </tr>
    </thead>
    <tbody>
      <% if @candidates.present? %>
        <% @candidates.each_with_index do |candidate, index| %>
          <tr>
              <td>
                <%= index+1 %>
              </td>
              <td>
                <a class="blue_font" href='<%= "/employers/#{@employer.id}/candidate_profile/#{candidate.id}" %>' >
                    <%= candidate.full_name %>
                </a>
              </td>
              <td>
                <%= candidate.key_skills %>
              </td>
              <td>
                <%= show_total_experiance(candidate) %>
              </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
              <td>No records found</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
