<% payment_service_for @order.id, CCAVENUE_ACCOUNT,
    :amount => @order.amount,
    :currency => 'INR',
    :service => :ccavenue do |service| %>    
  <%  service.customer :name => @employer.company_name,
             :email => @employer.email_id,
             :phone => @employer.contact_number %>    
  <%  service.redirect :return_url => "/employers/#{@employer.id}/confirm_order/#{@order.id}" %>
  <%= submit_tag 'Proceed to payment' %>
<% end %>