<div class="dashboard_container">
    <img src="<%= employer_logo_url(@employer) %>" style="display: inline-block; width: 75px;" class="employer_logo employer_image"/>
    <br />
    <h2 style="  display: inline-block; margin-bottom: 22px; "> 
      <%= @employer.company_name %> : Welcome to Employer Dashboard
    </h2>


    <br />
    <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
    <div class="plan_status">
      <table class="table table-hover status_table">
        <thead>
          <tr class="success">
            <th colspan="4" class="plan_name">
                Plan - <%= @plan.name %>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <th scope="row">&nbsp;</th>
              <th>Limit</th>
              <th>Used</th>
              <th>Available</th>
          </tr>
          <tr>
              <th scope="row">Profile Views</th>
              <td><%= @plan.view_limit %></td>
              <td><%= @employer.profile_views %></td>
              <td><%= @plan.view_limit.to_i - @employer.profile_views.to_i %></td>
          </tr>
          <tr>
            <th scope="row">Profile Downloads</th>
            <td><%= @plan.download_limit %></td>
            <td><%= @employer.profile_downloads %></td>
            <td><%= @plan.download_limit.to_i - @employer.profile_downloads.to_i %></td>
          </tr>
        </tbody>
    </table>
    </div>

</div>