<div class="payment_form">
    <% if flash[:error].present? %>
        <%= render :partial => "/shared/alert_message", :locals => { :message => flash[:error] } %>
    <% end %>
    <div style="font-size: 14px;">Upgrade to <%= @plan.name %>
    <form class="chnage_password_form js-plan_payment_form" action="<%= employer_create_order_path(@employer) %>" method="post">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
        <div class="form-group">
            <label for="plan_id" class="col-sm-2 control-label label ">Plan:</label>
            <input type="text" class="form-control change_pass_input" value="<%= @plan.name %>" readonly="readonly" />
            <input type="hidden" name="order[plan_id]" value="<%= @plan.id %>" class="form-control change_pass_input" />
        </div>
        <div class="form-group">
            <label for="amount" class="col-sm-2 control-label label ">Amount:</label>
            <input type="text" name="order[amount]" class="form-control change_pass_input" value="<%= @plan.price.to_f %>" readonly />
        </div>
        <div class="payment_button_div">
            <button type="button" id="sub" class="btn btn-primary js-plan_submit">Upgrade</button>
            <a href="<%=  %>">
                <button type="button" class="btn btn-primary employer_login_submit">Cancel</button>
            </a>
        </div>
    </form>
</div>