<div style="width: 50%; margin: auto; margin-top: 20px; overflow:auto; height: auto;">
	<div class="form-group">
	    <input type="email"  name="user[email]"  class="form-control input" id="inputEmail3" placeholder="Please Enter valid EmailId">
	</div>
	<div>
	    <button type="submit" class="btn btn-primary candidate_registration_submit">Submit</button>
	</div>
</div>