<div class="panel panel-default grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Plans</h3>
    </div>
    <div class="new_link_div">
      <a href="<%= new_admin_plan_path %>" class="">
          <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-warning">New Plan</button>
          </div>
      </a>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>View Limit</th>
        <th>Download Limit</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @plans.each_with_index do |plan, index| %>
        <% if plan.id != @current_plan.id && plan.view_limit.to_i > @current_plan.view_limit.to_i %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= plan.name %></td>
              <td><%= plan.view_limit %></td>
              <td><%= plan.download_limit %></td>
              <td>
                <a href="<%= "/employers/#{@employer.id}/place_order/#{plan.id}" %>" class="">
                  <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
                    <button type="button" class="btn btn-warning">Upgrade</button>
                  </div>
                </a>
              </td>
            </tr>
        <% else %>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
