<div class="panel panel-default job_types_grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Candidates</h3>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Resume</th>
        <th>Suspend</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cadidates.each_with_index do |candidate, index| %>
        <% if candidate.user.present? %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= candidate.full_name %></td>
            <td><%= candidate.email_id %></td>
            <td><%= candidate.phone_number %></td>
            <td>
              <% if (link = resume_download_link(candidate) ).present? %>
                <a href="<%= resume_download_link(candidate) %>" target="_blank">Download</a>
              <% else %>
                  Not Available
              <% end %>
            </td>
            <td>
              <input type="checkbox" class="js-suspend_candidate" name="featured[]" value="<%= candidate.user.id %>" <% unless candidate.user.active %>checked<% end %> />
            </td>
            <td>
              <%= link_to 'Destroy', admin_candidate_path(candidate.id), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr> 
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
