<div class="middle_container">
    <div class="center-sec">
        <div class="mid_heading">
            Applied Jobs
        </div>
        
        <% @jobs.each do |job| %>
            <div class="job_container">
                <div class="job_item job_heading">
                    <h3>
                        <a href='<%= "/candidates/#{@candidate.id}/application_history/show/#{job.id}" %>'>
                            <%= job.title %>
                        </a>
                    </h3>
                    <span style="display: block; margin-top: 3px; margin-bottom: 0px;"> 
                        Applied - <%= show_applied_date(job) %>
                    </span>
                    <div>
                        <span class="designation" >
                        <a href='<%= "/candidates/#{@candidate.id}/application_history/show/#{job.id}"%>' >
                            Hiring for - <%= job.employer.company_name %>, <%= job.employer.city.name %>
                        </a></span>
                        <p class="discription">
                            <%= job.description %>
                        </p>
                    </div>
                </div>
                <div class="footer_fearturs">
                </div>
            </div><!-- job container ends here-->
        <% end %>
        <%= render :partial => "shared/pagination", :locals => { :objects => @jobs } %>
        <!-- pagination div ends here-->
    </div><!-- center section of the body ends here-->
</div>





