<div class="middle_container">
    <div class="center-sec">
        <div class="mid_heading">
            Saved Jobs
        </div>
        
        <% @jobs.each do |job| %>
            <div class="job_container">
                <div class="job_item job_heading">
                    <h3>
                        <a href='<%= "/job/#{job.id}/apply_to_job" %>' target="_blank">
                            <%= job.title %>
                        </a>
                    </h3>
                    <div>
                        <span class="designation" >
                        <a href='<%= "/job/#{job.id}/apply_to_job" %>' target="_blank" >
                            Hiring for - <%= job.employer.company_name %>, <%= job.employer.city.name %>
                        </a></span>
                        <p class="discription">
                            <%= job.description %>
                        </p>
                    </div>
                </div>
                <div class="footer_fearturs">
                    <div>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <a href='<%= "/job/#{job.id}/apply_to_job" %>' target="_blank">Apply Now</a> &nbsp;&nbsp;
                    </div>
                </div>
            </div><!-- job container ends here-->
        <% end %>
        <%= render :partial => "shared/pagination", :locals => { :objects => @jobs } %>
        <!-- pagination div ends here-->
    </div><!-- center section of the body ends here-->
</div>





