<div class="middle_container">
    <div class="center-sec">
        <div class="mid_heading">
            Applied Job - <%= show_date(@applied_job.applied_at) %>
            <a class="blue_font histroy_back" href="<%= candidate_application_history_path(@candidate) %>">Back</a>
        </div>
		<%= render :partial => "/shared/show_job", :locals => { :job => @job, :employer => @job.employer } %>
	</div>
</div>
