<div style="width: 60%; margin:auto; border: solid a1px #ccc; height:auto; overflow:auto;">

	<form action="<%= session_send_password_path %>" method="post">
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" name="user[email]" class="form-control" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>

</div>