<%
    form_action = @job.new_record? ? "/employers/#{@employer.id}/jobs" : "/employers/#{@employer.id}/jobs/#{@job.id}"
%>

<%= form_for(@job, url: form_action, :html => { :class => "js-post_job_form" }) do |f| %>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="post_job" id="leftside">
    <div id="employer_registeration">
        <h3 class="register"> Post New Job </h3>
        <div class="field_container">
            <div class="form-group js-job_title_group">
                <label for="inputEmail3" class="col-sm-2 control-label label"><span class="required">*</span> Job Title:</label>
                <input type="text" class="form-control input js-job_title" id="inputEmail3" placeholder="Job Title" name="job[title]" value="<%= @job.title %>">
                <p class="error_message js-job_title_error hide">
                    Please enter job title.
                </p>
            </div>
            
             <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Designation:</label>
                <select name="job[role_id]" class="form-control"  >   
                <% @designations.each_with_index do |designation,index|%>
                            <option value="<%= designation.id%>" <% if designation.id == @job.role_id %> selected <% end %> > 
                                <%= designation.name %>
                            </option>
                        <% end %>
                </select>
            </div>
            <div class="form-group js-exp_container" style="clear: both; overflow: auto;">
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>Work Experience:</label>
                <select class="form-control select_option js-min_exp"   name="job[experience_from]" >
                    <%= render :partial => 'shared/sal_exp_dropmenu_options', :locals => { :label => 'Min', :selected_id => @job.experience_from } %>
                </select>
                <span class="connector"> to</span>
                <select class="form-control select_option js-max_exp"  name="job[experience_to]">
                    <%= render :partial => 'shared/sal_exp_dropmenu_options', :locals => { :label => 'Max', :selected_id => @job.experience_to }  %>
                </select>
                <span class="connector"> (in years) </span>
                <p class="error_message job_exp_error js-exp_error hide">
                    Please select Min/Max experience.
                </p>
                <p class="error_message job_exp_error js-error hide">
                    Maximum experience should be more than minimum.
                </p>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Category:</label>
                <select name="job[functional_area_id]" class="form-control " >
                    <% @vacancy_categories.each do |category| %>
                        <option value="<%= category.id %>" <% if category.id == @job
                            .functional_area_id %> selected <% end %> >
                            <%= category.name %>
                        </option>
                    <% end %>        
                </select>
            </div>

            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Therapeutic Segment:</label>
                <select  class="form-control large_select" name="job[therapeutic_segment_id]">
                    <% therapeutic_segments.each do |key, value|%>
                        <option value="<%= key %>"> 
                            <%= value %>
                        </option>
                    <% end %>
                </select>
            </div>

            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">CTC:</label>
                <select name="job[ctc_from]" class="form-control select_option" >
                    <%= render :partial => 'shared/sal_exp_dropmenu_options', :locals => { :label => 'Min', :selected_id => @job.ctc_from }  %>
                        </select>
                    <span class="connector"> to</span>
                <select name="job[ctc_to]" class="form-control select_option" >
                    <%= render :partial => 'shared/sal_exp_dropmenu_options', :locals => { :label => 'Max', :selected_id => @job.ctc_to }  %>
                </select>
                    <span class="connector"> (in lac) </span>
                <label class="text">
                  <input type="checkbox" name="job[ctc_hide]" value="1" <% if @job.ctc_hide == "1" %>checked <% end %> > Hide salary from jobseekers (Not Recommended)
                </label>
            </div>

            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label"> Locations(s) of job:</label>
                <select id="location_id"   class="form-control js-job_locations" name="job[location_id]">
                    <option value="">Select Location</option>
                    <% @locations.each_with_index do |location,index|%>
                            <option value="<%= location.id%>" <% if location.id == @job.location_id %> selected <% end %> > 
                                <%= location.name %>
                            </option>
                        <% end %>
                </select>
            </div>

            <div class="form-group js-cities">
                <% if @job.cities.present? %>
                    <label for="text" class="col-sm-2 control-label label">City</label>
                    <select name="job[city_ids][]" size="5" class="form-control" multiple>
                        <option value="">Select Cities</option>
                        <% @cities.each do |city| %>
                          <option value="<%= city.id %>" <% if get_ids(@job.cities).include?(city.id) %> selected <% end %>>
                              <%= city.name %>
                          </option>
                        <% end %>        
                    </select>
                <% end %>
            </div>

            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Skills Required:</label>
                <input type="text" value="" class="form-control input" id="text" placeholder="Keywords" name="job[keywords]" value="<%= @job.keywords %>">
            </div>

            <div class="form-group js-job_description-group">
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span> Job Description:</label>
                <textarea  name="job[description]" class="form-control js-job_description" rows="3"><%= @job.description %></textarea>

                <p class="error_message js-job_description_error hide">
                    Please enter job description.
                </p>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label label"><span class="required">*</span>Job Type:</label>
                <div class="form-group">
                    <% @job_types.each_with_index do |job_type, index| %>
                      <label class="text">
                        <input type="radio"  name="job[job_type_id]" id="optionsRadios1" value="<%= job_type.id %>" <% if index === 0 || job_type.id == @job.job_type_id %>checked<% end %>> 
                        <%= job_type.name %>
                      </label>
                    <% end %>
                </div>
            </div>
            <div class="form-group js-no_of_vacancy-group">
                <label for="inputPassword3" class="col-sm-2 control-label label"><span class="required">*</span>No. of Vacancies:</label>
                <input type="number" class="form-control input js-no_of_vacancy" id="inputPassword3" placeholder="No. of Vacancies" name="job[no_of_vacancies]" value="<%= @job.no_of_vacancies %>" />
                <p class="error_message js-no_of_vacancy_error hide">
                    Please enter no. of vacancy.
                </p>
            </div>

            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Job Expiry Date:</label>
                <input type="date" class="form-control input" id="text" placeholder="Job Expiry Date" name="job[expiry_date]" value="<%= @job.expiry_date %>" />
            </div>
        </div><!-- end of field container-->
        <div class="field_container">
            <h3 class="heading"> Desired Candidate Profile </h3>
        </div> <!-- end of field container-->
        <div class="field_container"> <!-- start of field container-->
                    <div class="form-group">
                        <label for="text" class="col-sm-2 control-label label">Candidate Profile:</label>
                        <textarea name="job[desired_candidate_profile]" class="form-control" rows="3"><%= @job.desired_candidate_profile %></textarea>
                    </div>
                    <div class="form-group">
                    <label for="text" class="col-sm-2 control-label label"> UG Qualification:</label>
                    <select name="job[ug_qualification_id]" class="form-control">
                        <% @ug_qualifications.each_with_index do |ug_qualification,index|%>
                            <option value="<%= ug_qualification.id%>" <% if ug_qualification.id == @job.ug_qualification_id %> selected <% end %> > 
                                <%= ug_qualification.name %>
                            </option>
                        <% end %>
                    </select>
                    </div>
                    <div class="form-group">
                    <label for="text" class="col-sm-2 control-label label"> PG Qualification:</label>
                    <select name="job[pg_qualification_id]" class="form-control">
                        <% @pg_qualifications.each_with_index do |pg_qualification,index|%>
                            <option value="<%= pg_qualification.id%>"<% if pg_qualification.id == @job.pg_qualification_id %> selected <% end %>> 
                                <%= pg_qualification.name %>
                            </option>
                        <% end %>
                    </select>
                    </div>
        </div> <!-- end of field container-->
        <div class="form-group">
            <button type="button" class="btn btn-primary employer_registration_submit js-job_post_submit">

            <%= @job.new_record? ? "Post Job" : "Update Job" %>

            </button>

            <a href="<%= employer_jobs_path(@employer) %>">
                <button type="button" class="btn btn-primary employer_registration_submit cancel_button">
                    Cancel
                </button>
            </a>
        </div>
        </form>
    </div> <!-- end of emp registration-->
  </div> <!-- end of left side-->
<% end %>
