<div class="panel panel-default grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Posted Jobs</h3>
    </div>
    <div class="new_link_div">
      <a href="<%= new_employer_job_path(@employer) %>" class="">
          <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-warning">Post A Job</button>
          </div>
      </a>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Posted Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each_with_index do |job, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= job.title %></td>
          <td><%= show_date(job.created_at) %></td>
          <td>
            <%= link_to 'Edit', "#{edit_employer_job_path(@employer, job)}" %> &nbsp;

            <%= link_to 'Destroy', "/employers/#{@employer.id}/jobs/#{job.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
