<div class="employer_job">
    <%= render :partial => "/shared/show_job", :locals => { :job => @job, :employer => @employer } %>
    <div class="back_button">
        <a href="<%= employer_applied_candidates_path(@employer) %>">
            <button type="button" class="btn btn-primary">
                Back
            </button>
        </a>
    </div>
</div>