<%= form_for(@admin_designation, url: generate_admin_path(@admin_designation)) do |f| %>
  <% if @admin_designation.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @admin_designation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Enter name" %>
  </div>
  <div class="form-group">
    <%= f.label :short_name %>
    <%= f.text_field :short_name, :class => "form-control", :placeholder => "Enter Short name" %>
  </div>
  <div class="form-group">
    <%= f.label :vacancy_category_id %>
    <%= f.collection_select :vacancy_category_id, VacancyCategory.all, :id, :name, {}, {:class => "form-control"}%>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
  &nbsp;
  <a href="<%= admin_designations_url %>"><button type="button" class="btn btn-primary">Cancel</button></a>
<% end %>
