<div class="panel panel-default designations_grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Designations</h3>
    </div>
    <div class="new_link_div">
      <a href="<%= new_admin_designation_path %>" class="">
          <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-warning">New Designation</button>
          </div>
      </a>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Short name</th>
        <th>Vacancy category</th>
      </tr>
    </thead>
    <tbody>
      <% @admin_designations.each_with_index do |admin_designation, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= admin_designation.name %></td>
          <td><%= admin_designation.short_name %></td>
          <td>
            <%= admin_designation.vacancy_category.name if admin_designation.vacancy_category.present? %>
          </td>
          <td><%= link_to 'Edit', "#{edit_admin_designation_path(admin_designation.id)}" %> &nbsp;<%= link_to 'Destroy', "#{admin_designation_path(admin_designation)}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
