<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_designation.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @admin_designation.short_name %>
</p>

<p>
  <strong>Vacancy category:</strong>
  <%= @admin_designation.vacancy_category_id %>
</p>

<%= link_to 'Edit', edit_admin_designation_path(@admin_designation) %> |
<%= link_to 'Back', admin_designations_path %>
