<div id="top-section">
    <div class="top-section">
        <div class="top-left-sec">
            <ul>
                <% if admin_logged_in? %>
                    <li>
                        <a href="<%= admin_dashboard_path %>" > Admin Portal</a>
                    </li>
                    <li>
                        <a href="<%= admin_industries_path %>" > Industry </a>
                    </li>
                    <li>
                        <a href="<%= admin_vacancy_categories_path %>" > Vacancy Category </a>
                    </li>
                    <li>
                        <a href="<%= admin_designations_url %>" > Designations </a>
                    </li>
                    <li>
                        <a href="<%= admin_ug_qualifications_path %>" > UG Qualifications </a>
                    </li>
                    <li>
                        <a href="<%= admin_pg_qualifications_url %>" > PG Qualifications </a>
                    </li>
                    <li>
                        <a href="<%= admin_job_types_url %>" > Job Types </a>
                    </li>
                    <li>
                        <a href="<%= admin_locations_url %>" > Locations </a>
                    </li>
                    <li>
                        <a href="<%= admin_cities_url %>" > Cities </a>
                    </li>
                    <li>
                        <a href="<%= admin_plans_url %>" > Plans </a>
                    </li>
                    <li>
                        <a href="<%= admin_employers_url %>" > Employers </a>
                    </li>
                    <li>
                        <a href="<%= admin_candidates_url %>" > Candidates </a>
                    </li>
                    <li>
                        <a href="<%= admin_jobs_url %>" > Jobs </a>
                    </li>
                    <li>
                        <a href="<%= admin_logout_path %>" > Logout </a>
                    </li>
                <% else %>
                    <li>
                        <a href="<%= admin_dashboard_path %>" > Admin Portal</a>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
    <!--top section class end-->
</div>
<!--top-section-->
<div class="clr"></div>
<div id="header-sec">
    <div class="header-sec">
        <div class="left-head-sec">
            <a href="<%= admin_dashboard_path %>">
                <img class="logo_image" src="<%= image_path('pharma_vacancies_logo.jpg') %>" alt="pharmavacancies.com" title="pharmavacancies.com" />
            </a>
        </div>
        <!--left-head-sec end-->
        <div class="right-head-sec">
            <div class="clr"></div>
            <div class="nav">
            </div>
        </div>
        <!--right-head-sec end-->
    </div>
    <!--class header-sec end-->
</div>
<!--header sec end-->
<div class="clr"></div>