<option value="0"><%= label %></option>
<% if label == 'select' %>
    <option value="0"> 0 </option>
<% end %>
<% (1..99).each do |element| %>
	<option value="<%= element %>">
		<%= element %>
	</option>
<% end %>

