<% selected = "" unless defined?(selected) %>
<option value="0"><%= label %></option>
<% (0..50).each do |element| %>
	<option value="<%= element %>" <% if selected == element %>selected<% end %>>
		<%= element %>
	</option>
<% end %>
<option value="50+">
	50+
</option>
