<div id="top-employer">
    <h3>Top Employers</h3>
    <ul class="top-emp-list">
        <% get_top_employers.each do |employer| %>
            <li>
                <a href="<%= section_url(employer) %>">
                    <img src="<%= employer_logo_url(employer) %>" alt="<%= employer.company_name%>" title="<%= employer.company_name%>" width="110" height="60" />
                </a>
            </li>
        <% end %>
    </ul>
</div>