<div id="header-sec">
    <div class="header-sec">
        <div class="left-head-sec">
            <a href="<%= root_path %>"><img src="<%= image_path('pharma_vacancies_logo.jpg') %>"class="logo_image" alt="pharmavacancy.com" title="pharmavacancy.com" /></a>
        </div>
        <!--left-head-sec end-->
        <div class="right-head-sec">
            <% if !employer_logged_in? && !candidate_logged_in? %>
                <p class="log-sec">
                    <span>
                        <a href="javascript:void(0);" onclick="jsLoginSearchForm(this.id);" id="loginshowid">Login</a>
                    </span> 
                    to view jobs for you!  &nbsp;|&nbsp; New User
                    <span>
                        <a href="<%= candidate_registration_new_path %>" class="getStartedClass1">Sign Up</a>
                    </span>
                </p>
            <% else %>
                <p class="log-sec" style="margin-top: 33px;"></p>
            <% end %>
            <div class="clr"></div>
            <h2>
                <img src="<%= image_path('email-icon.png') %>" width="25" height="18" alt="Support Mail" />
                <a class="support_email_text" href="mailto:support@pharmavacancy.com">support@pharmavacancy.com</a>
            </h2>
            <div class="clr"></div>
            <div class="nav">

                <ul id="nav-li">
                    <li class="active">
                        <a href="<%= root_path %>">Home</a>
                    </li>
                    <li class="main-line" data-value="search-overwrite-first">
                        <a href="#" class="search-drop" data-value="search-overwrite-first">
                            Search jobs
                        </a>
                        <div class="search-drop-down search-overwrite-first" >
                            <ol>
                                <li><a href="/advanced_search" class="simpleWColor"> Advance Search </a></li>
                                <li><a href="/job_by/employer" class="simpleWColor"> Jobs By Company </a> </li>
                                <li><a href="/job_by/category" class="simpleWColor"> Jobs By Functional Area </a> </li>
                                <li><a href="/job_by/location" class="simpleWColor"> Jobs By Location </a> </li>
                                <li><a href="/job_by/designation" class="simpleWColor"> Jobs By Role </a> </li>
                            </ol>
                        </div>
                    </li>
                    <li><a href="<%= candidate_registration_new_path %>">Submit Resume</a></li>
                    <% if !employer_logged_in? && !candidate_logged_in? %>
                        <li><a href="<%= employer_dashboard_path %>">Employer Zone</a></li>
                    <% end %>
                </ul>
            </div>
        </div>
        <!--right-head-sec end-->
    </div>
    <!--class header-sec end-->
</div>
<!--header sec end-->