
<div class="overlay_popup" id="overlay_popup" style="display:none;"></div>
<!-- newsletter data start-->
<div id="loginformwindow"  class="informationwindow">
    <div class="lHead" >
        <a href="javascript:void(0);" class="boxclose" id="boxclose" onclick="closeCandidateLoginPopup();">x</a>
        <h1 class="lhs" style="font-size:18px; font-weight:bold;">Login</h1>
    </div>
    <div style="padding-top:10px;">
        <div class="response_error js-response_error hide"></div>
        <form action="#" method="post" accept-charset="utf-8" id="everywherejslogfrm" name="everywherejslogfrm candidate_login_form">
            <input name="user[role]" id="everywherejobid" type="hidden" value="Candidate" />
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div style="width:350px !important; margin:0px auto;" >
                <table class="tbl candidate_login_table">
                    <tr>
                        <td width="25%">Email-ID</td>
                        <td width="75%">
                            <input name="user[user_name]" id="everywhereusername" type="text" title="User Name"  class="rightforminput js-user_name" style="width:228px !important; height:25px !important;" autocomplete="off"/>
                            <span class="error_msg hide js-error_msg">
                                Please enter valid email id.
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td  style="vertical-align:middle;">Password</td>
                        <td>
                            <input name="user[password]" id="everywherepass" type="password" style="margin-top:10px;width:228px !important; height:25px !important;"  title="Password"   class="rightforminput js-password" />
                            <span class="error_msg hide js-error_msg">
                                Please enter password.
                            </span>
                        </td>
                    </tr>   
                </table>
                <div class="span-lg">
                    <button type="button" id="sumbit-login-form" class="btn btn-primary" >Login</button>
                </div>
                <div style="margin-left:65px;display:none;" id="wait_div">
                    <table>
                        <tr>
                            <td>
                                <img src="<%= image_path('loading-circle.gif') %>" width="30" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="span-lg" id="register_forgot_id">
                    <span style="margin-right:90px;">
                        <a  href="<%= candidate_registration_new_path %>" class="getStartedClass_extra">Register Now</a>
                    </span>
                    <!-- <span>
                        <a href="#" style="font-weight:normal;">Forgot Password?  </a>
                    </span> -->
                    <div class="clear"></div>
                </div>
            </div>
            </form>
        </div>
</div>