<div id="search-section">
    <div class="search-section">
        <div id="left-search-sec">
        <% if flash[:notice].present? %>
            <span style="color: #3c763d; font-size: 12px;">
                <%= flash[:notice] %>
            </span>
        <% end %>
        <form action="<%= search_path %>" accept-charset="utf-8" method="post" class="js-search_form"> 
             <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <h2><img src="<%= image_path('search.png') %>"  width="15" height="15" alt="" /><span>Find</span> Jobs In India</h2>
            <p>Thousands of latest job Opening in India every day</p>           
            <div class="search-one">
                <ul>
                    <li>
                        <input type="text" id="keywords" class="search_form_field js-search_keywords" placeholder="Type Your Skills, Designation etc." value="" name="search[keywords]" />
                    </li>
                    <li>
                        <input type="text" id="search_location" class="search_form_field js-search_location" placeholder="Type City Where You Want To Work" value="" name="search[location]" />
                    </li>
                    <li>
                        <select id="experience" name="search[experience]">
                            <%= render :partial => 'shared/sal_exp_dropmenu_options', :locals => { :label => 'Experience', :selected_id => ""}  %>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="clr"></div>
            <div class="search-two">
                <ul>
                    <li>
                        <select id="min_salary" name="min_salary">
                            <%= render :partial => 'shared/sal_exp_dropmenu_options', :locals => { :label => 'Salary', :selected_id => ""}  %>
                            </select>
                        <br />
                        <span>Salary in Lakhs per Annum </span>
                    </li>
                    <li>
                        <a href="#">
                            <div class="search_button js-search">Search</div>
                        </a>
                    </li>
                </ul>
                <div class="search_error hide js-search_error">
                    Please enter Keywords or Location or select Job Category to search.
                </div>
            </div>
            </form>
            <div class="clr"></div>
        </div>
        <!--left-search sec end-->
        <div id="right-search-sec" 
                style="width:385px;"
                >
            <div class="col" style="width:100%;">
                <div class="cta-backer">
                    <div class="cols-wrapper cols-2">
                        <div class="col">
                            <div class="cta-text">
                                <p>Accelerate your job search now!</p>
                            </div>
                        </div>
                        <div class="col nomargin">
                            <div class="cta-buttons">
                                <a href="<%= candidate_registration_new_path %>">
                                    <div class="orangecta noselect getStartedClass1">
                                        Get Started
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--class search section end-->
</div>
<!--search sec end-->