<div id="top-section">
  <div class="top-section">
    <div class="top-left-sec">
      <ul>
        <% top_categories.each do |category| %>
          <li>
              <a href="#" ><%= category.name%></a>
          </li>
        <% end %>
        <% if candidate_logged_in? %>
            <li>
                <a href="#" > Logout</a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>