<div class="cat-menu-section">
    <div class="left-cat-sec">
        <div id="menus" >     
            <ul class="menu">     
                <li><a href="#tabs-ind">Jobs By Category</a></li>
                <li><a href="#tabs-role">Jobs By Role</a></li>
                <li><a href="#tabs-loc"> Jobs By Location</a></li>
            </ul>
            <div id="tabs-ind" class="tab-container">
                <%= render :partial => "tab_content", :locals => { :items => top_categories, :more_url => job_by_section_path('category') } %>
            </div>
            <div id="tabs-role" class="tab-container">
                <%= render :partial => "tab_content", :locals => { :items => top_designations, :more_url => job_by_section_path('designation') } %>
            </div>
            <div id="tabs-loc" class="tab-container">
                <%= render :partial => "tab_content", :locals => { :items => top_locations, :more_url => job_by_section_path('location') } %>
            </div>
            <div class="clr"></div>
        </div>
        <div class="clr"></div>
        <div class="recent-job-sec">
            <%= render "/shared/hot_jobs" %>
        </div>
        <div class="clr"></div>
        <div class="company-add-sec">
            <div class="hot-employer">
                <%= render "/shared/hot_employers" %>
            </div>
        </div>
    </div>
    <div class="right-cat-sec">
        <%= render "/shared/featured_employers" %>
    </div>
</div>