<div class="clr"></div>
<div class="nav" style="margin-right: 70px;">
    <ul id="nav-li">
        <li class="active">
            <a href="<%= root_path %>">Home</a>
        </li>
        <li class="main-line" data-value="search-overwrite-first">
            <a href="#" class="search-drop" data-value="search-overwrite-first">
                Search jobs
            </a>
            <div class="search-drop-down search-overwrite-first" style="width: 100%;">
                <ol>
                   <li><a href="/advanced_search" class="simpleWColor"> Advance Search </a></li>
                    <li><a href="/job_by/employer" class="simpleWColor"> Jobs By Company </a> </li>
                    <li><a href="/job_by/category" class="simpleWColor"> Jobs By Functional Area </a> </li>
                    <li><a href="/job_by/location" class="simpleWColor"> Jobs By Location </a> </li>
                    <li><a href="/job_by/designation" class="simpleWColor"> Jobs By Role </a> </li>
                </ol>
            </div>
        </li>
    </ul>
</div>