<div class="login_div">
    <% if flash[:error].present? %>
        <%= render :partial => "/shared/alert_message", :locals => { :message => flash[:error] } %>
    <% end %>
    <form class="chnage_password_form js-change_password_form" action="<%= session_change_password_path %>" method="post">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
        <div class="form-group js_old_password_group">
            <label for="old_password" class="col-sm-2 control-label label "><span class="required">*</span>Old Password:</label>
            <input type="password" name="user[old_password]" class="form-control change_pass_input js-old_password" id="old_password"/ >
            <p class="error_message error-position js-error hide">
                Please enter valid old password.
            </p>
            
        </div>
        <div class="form-group js-password_group">
            <label for="password" class="col-sm-2 control-label label "><span class="required">*</span>New Password:</label>
            <input type="password" name="user[password]" class="form-control change_pass_input js-new_password" id="password"/ >
            <p class="error_message error-position js-error hide">
                Please enter valid new password.
            </p>
        </div>
        <div class="form-group js-confirm_password_group">
            <label for="old_password" class="col-sm-2 control-label label "><span class="required">*</span>Confirm New Password:</label>
            <input type="password" name="user[confirm_password]" class="form-control change_pass_input js-confirm_new_password" id="old_password"/ >
            <p class="error_message error-position js-error hide">
                Please enter valid new confirm password.
            </p>
            <p class="error_message error-position js-confirm_password_error_match hide">
                Password and confirm Password should be same.
            </p>
        </div>
        <div>
            <button type="button" id="sub" class="btn btn-primary js-change_password_submit">Submit</button>
            <a href="<%= cancel_path %>">
                <button type="button" class="btn btn-primary employer_login_submit">Cancel</button>
            </a>
        </div>
    </form>
</div>