<div id="rightside">
            <div id="employer_login">
              <h3>Login</h3>
              <form class=" credential form-horizontal">
                        <div class=" form-group ">
                          <label for="inputEmail3" class="col-sm-2 control-label label">Email:</label>
                          <div class="col-sm-10">
                            <input type="email" class="form-control logininput " id="inputEmail3" placeholder="Email">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label label">Password:</label>
                          <div class="col-sm-10">
                            <input type="password" class="form-control logininput" id="inputPassword3" placeholder="Password">
                          </div>
                        </div>
                        <div class="form-group">                          
                            <button type="submit" class="btn btn-primary login">Login</button>
                          <a href="http://www.pharmavacancies.com/employerforgetpassword" class="forgotpassword"> Forgot Password</a>
                        </div>
              </form>
            </div>
            <div id="rightsidebottom">
                    <div>
                        <h3> Top Employers </h3>
                            <div class="row" > 
                                <div class="employer-icon">
                                    <a href="http://www.pharmavacancies.com/companies">
                                    <img src="<%= image_path('employers/topemp1.png') %>" width="110" height="60" style="float:left;" alt="Cafe cofee day"title="Cafe cofee day"></a> 
                                </div>
                                <div class="employer-icon">
                                    <a href="http://www.pharmavacancies.com/companies">
                                    <img src="<%= image_path('employers/topemp2.png') %>" width="110" height="60" style="float:right; margin-right:12px; margin-top: -14px;"alt="World Vision"title="World Vision"> </a>
                                </div>
                            </div>
                            <div class="row" > 
                                <div class="employer-icon">
                                    <a href="http://www.pharmavacancies.com/companies">
                                    <img src="<%= image_path('employers/topemp3.png') %>" width="110" height="60" style="float:left" alt="Cafe cofee day"title="Cafe cofee day"> </a>
                                </div>
                                <div class="employer-icon">
                                    <a href="http://www.pharmavacancies.com/companies">
                                    <img src="<%= image_path('employers/topemp4.png') %>" width="110" height="60" style="float:right;margin-right:12px; margin-top: -14px;"alt="World Vision"title="World Vision"> </a>
                                </div>
                            </div>
                            <div class="row" > 
                                <div class="employer-icon">
                                    <a href="http://www.pharmavacancies.com/companies">
                                    <img src="<%= image_path('employers/topemp5.png') %>" width="110" height="60" style="float:left" alt="Cafe cofee day"title="Cafe cofee day"> </a>
                                </div>
                                <div class="employer-icon">
                                    <a href="http://www.pharmavacancies.com/companies">
                                    <img src="<%= image_path('employers/topemp6.png') %>" width="110" height="60" style="float:right;margin-right:12px; margin-top: -14px;"alt="World Vision"title="World Vision"> </a>
                                </div>
                            </div>   
                            <div class="row" > 
                                <div class="employer-icon">
                                    <a href="http://www.pharmavacancies.com/companies">
                                    <img src="<%= image_path('employers/topemp7.png') %>" width="110" height="60" style="float:left" alt="Cafe cofee day"title="Cafe cofee day"> </a>
                                </div>
                                <div class="employer-icon">
                                    <a href="http://www.pharmavacancies.com/companies">
                                    <img src="<%= image_path('employers/topemp8.png') %>" width="110" height="60" style="float:right;margin-right:12px; margin-top: -14px;"alt="World Vision"title="World Vision"> </a>
                                </div>
                            </div>      
                    </div>
            </div>
        </div>