<div class="clr"></div>
<div class="nav">
  <ul id="nav-li">
        <li class="active">
            <a href="<%= employer_dashboard_path %>">Home</a>
        </li>
        <li class="main-line" data-value="search-overwrite-first">
            <a href="<%= employer_jobs_path(@employer) %>" class="search-drop">Posted Jobs</a>
        </li>
        <li class="main-line" data-value="search-overwrite-first">
            <a href="<%= employer_applied_candidates_path(@employer) %>" class="search-drop">Applied Candidates</a>
        </li>
        <li class="main-line" data-value="search-overwrite-first">
            <a href="<%= employer_candidates_path(@employer) %>" class="search-drop">All Candidates</a>
        </li>
        <li class="main-line" data-value="search-overwrite-first">
            <a href="<%= employer_upgrade_plans_path(@employer) %>" class="search-drop">My Plan</a>
        </li>
        <li class="main-line" data-value="search-overwrite-second">
            <a href="<%= edit_employer_path(@employer) %>">My Account</a>
        </li>
        <li class="main-line" data-value="search-overwrite-first">
            <a href='<%=  "/employer/#{@employer.id}/change_password" %>' class="search-drop">Change Password</a>
        </li>
    </ul>
</div>
