<div class="future-employer">
    <div class="f-heading">
        <img src="<%= image_path('feature-icon.jpg')%>" width="23" height="24" alt="" />
        <h3>Featured Employers</h3>
        <ul class="feature-list">
            <% get_featured_employers.each do |employer| %>
                <li>
                    <div>
                        <div class="empl-logo">
                            <img src="<%= employer_logo_url(employer) %>" width="78" height="60" alt="" />
                        </div>
                        <div class="emp-details">
                            <a href="<%= section_url(employer) %>" >    
                                <span><%= employer.company_name %></span>
                            </a>
                            <h4 class="simpleBColor">
                                <%= truncate_description(employer.about_company) %>
                            </h4>
                            <h4 class="simpleBColor">
                                <%= employer.city.present? ? employer.city.name : "" %>
                            </h4>
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>