<div id="footer">
    <div class="footer">    
        <div class="foot-sec">
            <h3>Job By Location</h3>
            <ul>
                <% get_locations.each do |location| %>
                    <li title="<%= location.name %>">   
                        <a href="<%= section_url(location) %>">
                            <%= location.name %>
                        </a>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="foot-sec">
            <h3>Job By Category</h3>
            <ul>
                <% get_categories.each do |category| %>
                    <li title="<%= category.name %>">   
                        <a href="<%= section_url(category) %>">
                            <%= category.name %>
                        </a>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="foot-sec">
            <h3>Job By Designations </h3>
            <ul>
                <% get_designations.each do |designation| %>
                    <li title="<%= designation.name %>">   
                        <a href="<%= section_url(designation) %>">
                            <%= designation.name %>
                        </a>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="foot-sec footer_page_links">
            <h3>About Us</h3>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Help/FAQ</a></li>
            </ul>
        </div>
        <div class="foot-sec right-zero">
            <h3>Follow Us</h3>
            <div class="fb-page" style="width: 285px; height: 221px; border: solid 1px grey;">Facebook Like Plugin</div>
            <ul style="display:none;">
                <li style="display:none;">
                    <a href="http://facebook.com/pharmavacancies">
                        <img src="<%= image_path('facebook.jpg') %>" width="24" height="24" alt="pharmavacancies.com Facebook" />
                            <span style="font-weight:bold;display:block;">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/pharmavacancies">
                        <img src="<%= image_path('twitter.jpg') %>" width="24" height="24" alt="pharmavacancies.com Twitter" />
                    </a>
                </li>
                <li>
                    <a>
                        <img src="<%= image_path('linked-in.jpg') %>" width="24" height="24" alt="pharmavacancies.com LinkedIn" />
                    </a>
                </li>
            </ul>
            <table>
                <tr>
                    <td  style="padding-top:10px;">
                        <a href="http://twitter.com/pharmavacancy">
                            <img src="<%= image_path('twitter.jpg') %>" width="24" height="24" alt="pharmavacancies.com Twitter" />
                        </a>
                    </td>
                    <td style="padding-left:6px;padding-top:10px;">
                        <a>
                            <img src="<%= image_path('linked-in.jpg') %>" width="24" height="24" alt="pharmavacancies.com LinkedIn" />
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="clr"></div>
    </div>
    <!--footer class end-->
    <div id="copyright">
        <div class="copyright">
            <p style="margin: 0px; padding:0px;">&copy; Copyright 2015 Pharma Vacancy Private Limited. All Right Reserved in trems of use Privacy Statement</p>
        </div>
    </div>
    <div class="alphabeticaly-job">
        <div class="alphabeticaly-top">
            <div class="alphabeticaly-top">List of Jobs :
                <% get_locations.each do |location| %>
                        <a href="<%= section_url(location) %>">
                            <%= location.name %>
                        </a>
                <% end %>
            </div>
        </div>
    </div>
</div>
