<div id="top-section">
  <div class="top-section">
    <div class="top-left-sec">
      <ul>
        <% if employer_logged_in? || candidate_logged_in? %>
          <li>
            <a href="<%= my_account_path %>">My Account</a>
          </li>
        <% end %>

        <% top_categories.each do |category| %>
          <li>
              <a href='<%= "/job_by/category/#{category.id}" %>' ><%= category.name%></a>
          </li>
        <% end %>
        <% if employer_logged_in? || candidate_logged_in? %>
          <li>
            <a href="<%= session_logout_path %>">Logout</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>