<h3>Recent Hot Employer</h3>
<div class="multi_column col_count_two" column-count="2">
    <% get_hot_employers.each do |employer| %>
        <a title="<%= employer.company_name %>" target="_blank" href="<%= section_url(employer) %>">
            <%= employer.company_name %>
        </a>
    <% end %>
</div>