<h3>Recent Hot Jobs</h3>
<div class="multi_column col_count_two" column-count="2">
    <% get_hot_jobs.each do |job| %>
        <a title="<%= job.title %>" target="_blank" href="<%= apply_to_job_path(job) %>">
            <%= job.title %>
        </a>
        <h4>Jobs in <%= job.location_id %></h4>
            <h4><%= show_exp_range(job) %> - <%= job.designation.name %></h4>
    <% end %>
</div>
<div class="clr"></div>