<% jobs.each do |job| %>
    <div class="job_container">
        <div class="job_item job_heading">
            <h3>
                <a href='<%= "/job/#{job.id}/apply_to_job" %>'>
                    <%= job.designation.name %>
                </a>
            </h3>
            <span style="position:relative; left:118px;top:-15px;"> 
                <%= show_exp_range(job) %>
            </span>
            <span class="company" style="margin-left: 4px;">
                <%= job.title %>
            </span>
            <div>
                <span class="designation" >
                <a href='<%= "/job/#{job.id}/apply_to_job" %>'>
                    Hiring for - <%= job.employer.company_name %>, <%= employer_city(job) %>
                </a></span>
                <p class="discription">
                    <%= job.description %>
                    <a href='<%= "/job/#{job.id}/apply_to_job" %>'>more details</a>
                </p>
            </div>
        </div>
        <div class="footer_fearturs">
            <div>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <a href='<%= "/job/#{job.id}/apply_to_job" %>'>Apply Now</a> &nbsp;&nbsp;
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <a href='<%= "/job/#{job.id}/apply_to_job" %>'>Save This job</a>&nbsp;&nbsp;
                <!-- <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> -->
                <!-- <a href="">Similar jobs</a> -->
                <a href="" style="float:right; color: #000;font-weight:500;">Posted on 31-Mar-14</a>
            </div>
        </div>
    </div><!-- job container ends here-->
<% end %>