<% params[:search] = {} if params[:search].blank? %>
<div class="search-section">
    <div id="left-search-sec">
        <% if flash[:notice].present? %>
            <span style="color: #3c763d; font-size: 12px;">
                <%= flash[:notice] %>
            </span>
        <% end %>
        <form action="<%= search_path %>" accept-charset="utf-8" id="searchfrm" name="searchfrm" class="js-search_form" method="post">
             <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <h2><img src="<%= image_path('search.png') %>"  width="15" height="15" alt="" /><span>Find</span> Jobs In India</h2>
            <p>Thousands of latest job Opening in India every day</p>           
            <div class="search-one">
                <ul>
                    <li><input type="text" class="search_form_field js-search_keywords" placeholder="Type Your Skills, Designation etc." value="<%= params[:search][:keywords] %>" name="search[keywords]" id="keywords" /></li>
                    <li>
                        <input type="text" class="search_form_field js-search_location" placeholder="Type City Where You Want To Work" value="<%= params[:search][:location] %>" name="search[location]" id="search_location" />
                    </li>
                    <li>
                        <select id="experience" name="search[experience]">
                            <%= render :partial => 'shared/sal_exp_dropmenu_options', :locals => { :label => 'Experience', :selected_id => params[:search][:experience]}  %>
                        </select>
                    </li>
                    <li>
                        <select id="min_salary" name="search[salary]">
                            <%= render :partial => 'shared/sal_exp_dropmenu_options', :locals => { :label => 'Salary', :selected_id => params[:search][:salary]}  %>
                        </select>
                    </li>
                    <li>
                        <a href="#">
                            <div class="search_button js-search">Search</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clr"></div>
            <div class="search_keywords hide js-search_error" id="showRequiredFields">
                Please enter Keywords or Location or select Job Category to search.
            </div>
        </form>
        <div class="clr"></div>
    </div>
</div>
