<div id="header-sec">
    <div class="header-sec">
        <div class="left-head-sec">
            <a href="<%= root_path %>">
                <img src="<%= image_path('pharma_vacancies_logo.jpg') %>" class="logo_image" alt="pharnavacancies.com" title="pharnavacancies.com" /></a>
        </div>
        <!--left-head-sec end-->
        <% if employer_logged_in? %>
            <div class="right-head-sec">
        <% elsif candidate_logged_in? %>
            <div class="right-head-sec" style="margin-top: 79px;">
        <% else %>
            <div class="right-head-sec">
        <% end %>
            <% if role == 'employer' && employer_logged_in? %>
                <%= render 'shared/employer_nav_on' %>
            <% elsif role == 'candidate' && candidate_logged_in? %>
                <%= render 'shared/candidate_nav_on' %>
            <% else %>
                <%= render 'shared/main_menu' %>
            <% end %>
        </div>
        <!--right-head-sec end-->
    </div>
    <!--class header-sec end-->
</div>
