<div class="overlay_popup" id="overlay_popup" style="display:none;"></div>
<!-- newsletter data start-->
<div id="loginformwindow"  class="informationwindow">
    <div class="lHead" >
        <a href="javascript:void(0);" class="boxclose" id="boxclose" onclick="hidemodal('loginformwindow');">x</a>
        <h1 class="lhs" style="font-size:18px; font-weight:bold;">Login</h1>
    </div>
    <div style="padding-top:10px;">
        <form action="http://www.pharmavacancies.com/jobseeker/login" method="post" accept-charset="utf-8" id="everywherejslogfrm" name="everywherejslogfrm">               <input name="redirectPage" id="redirectPage" type="hidden" value="IiI" />
                <input name="everywherejobid" id="everywherejobid" type="hidden" value="" />
                <input name="redirectClickID" id="redirectClickID" class="redirectClickID" type="hidden" value="" />
                <div style="width:350px !important; margin:0px auto;" >
                    <table class="tbl">
                        <tr>
                            <td width="25%" style="vertical-align:middle;">Email-ID</td>
                            <td width="75%">
                                <input name="everywhereusername" id="everywhereusername" type="text" title="User Name"  class="rightforminput" style="width:228px !important; height:25px !important;"  />
                            </td>
                        </tr>
                        <tr class="logmsg2" style="display:none;">
                            <td>&nbsp;</td><td style="color:red;">Email id is Not Registered With Us !!</td>
                        </tr>
                        <tr>
                            <td  style="vertical-align:middle;">Password</td>
                            <td>
                                <input name="everywherepass" id="everywherepass" type="password" style="margin-top:10px;width:228px !important; height:25px !important;"  title="Password"   class="rightforminput" />
                            </td>
                        </tr>   
                                            </table>
                    <div class="span-lg">
                        <input type="button" style="background:url(assets/images/login.jpg);background-repeat: no-repeat;width: 66px;height: 27px;border: 0px;"  name="sumbit-login-form"  id="sumbit-login-form" />
                    </div>
                    <div style="margin-left:60px;display:none;" id="wait_div">
                        <table>
                            <tr>
                                <td>
                                    <input type="button" style="background:url(assets/images/loading-circle.gif);background-repeat: no-repeat;border: 0px;width:50px;height:50px;"  />
                                </td>
                                <td>Wait............<span id="wait_div_msg">Trying To Login</span></td>
                            </tr>
                        </table>
                    </div>
                    <div style="margin-left:60px;display:none;color:red;" id="login_msg_div">
                            &nbsp;
                    </div>
                    <div class="span-lg" id="register_forgot_id">
                        <span style="margin-right:90px;">
                            <a  href="javascript:void(0);" class="getStartedClass_extra" style="font-weight:bold;">Register</a>
                        </span>
                        <span>
                            <a href="jobseekerforgetpassword.html" style="font-weight:bold;">Forgot Password?  </a>
                        </span>
                        <div class="clear"></div>
                    </div>
                    <div class="span-lg" id="instant_register_id" style="display:none;">
                        <span style="margin-right:90px;">
                            <a href="javascript:void(0);" id="registration_now">Register Now</a>
                        </span>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </form> </div>
</div>