<p class="log-sec">
    <span>
        <a href="<%= employer_login_path %>" id="loginshowid">Login</a>
    </span> 
    to post jobs for you!  &nbsp;|&nbsp; New Employer
    <span>
        <a href="<%= new_employer_path %>">Sign Up</a>
    </span>
</p>
<div class="clr"></div>
<h2>
    <img src="<%= image_path('email-icon.png') %>" width="25" height="18" alt="Support Mail" />
    <a class="support_email_text" href="mailto:support@pharnavacancies.com">support@pharnavacancies.com</a>
</h2>
<div class="clr"></div>
<div class="nav">
  <ul id="nav-li">
                        <li class="active">
                            <a href="<%= employer_dashboard_path %>">Home</a>
                        </li>
                        <li><a href="<%= new_employer_path %>">New Employer</a></li>
                        
                        <li><a href="<%= employers_path%>">Employer Zone</a></li>
                    </ul>
</div>