 <div id="newsletterwindow" >
        <div class="lHead" > <a href="javascript:void(0);" onclick="hidemodal('newsletterwindow');" class="fr mt5 ovrH" title="Close"> <span class="crossLB">&nbsp;</span> </a> <span class="lhs">Subscribe for NewsLetter</span> </div>
        <div class="newslsub" style="padding-top:10px;">
            <form action="http://www.pharnavacancies.com/home/newsletter" id="addnewsletterfrm"  name="addnewsletterfrm" >
                <span>Sign up for the pharnavacancies.com Private Limited newsletter by adding your email address in the form below:</span>
                <input type="text" id="newsemail" name="newsemail" maxlength="150" placeholder="Enter Your Email-ID" />
                <div class="clear"></div>
                <div class="clear">&nbsp;</div>
                <input type="submit" name="submit" id="submit" value="Submit" />
            </form>
        </div>
    </div>
    <!--information window--> 
    <!--for information message-->
    <div id="informationnewswindow" class="informationwindow" >
        <div class="lHead" > <a href="javascript:void(0);" onclick="hidemodal('informationwindow');" class="fr mt5 ovrH" title="Close"> <span class="crossLB">&nbsp;</span> </a> <span class="lhs">Information Message</span> </div>
        <div class="lMid">
            <div class="pt010">
                <div class="f16 blktxt" id="mainInformationNewsMessage"></div>
            </div>
        </div>
    </div>
    <!-- news letter data div end-->
    <p id="back-top"> <a href="#top"><span></span></a> </p>