<option value=""><%= label %></option>
<% if label == 'Min -Exp' %>
    <option value="" <% if "0" == selected_id.to_s %> selected <% end %> >
    Fresher</option>
<% end %>
<% (1..30).each do |element| %>

	<option value="<%= element %>" <% if element.to_s == selected_id.to_s %> selected <% end %> >
		<%= element %>
	</option>
<% end %>
<option value="30+" <% if "30+" == selected_id.to_s %> selected <% end %> >
	30+
</option>
