<div class="zero_result">
    <div class="large_text">We could not find jobs matching your search criteria.</div> 

    <div class="small_text"> Did you enter wrong spelling of any word? <br> Only cities/states/country names are accepted in location field <br> You can browse jobs by 
    </div>
</div>