<% selected = selected || "" %>
<select name="<%= name %>" class="<%= class_name %>">
	<% if defined?(prompt) && prompt.present? %>	
		<option value=""><%= prompt %></option>>
	<% end %> 
    <% objects.each do |object| %>
        <option value="<%= object.id %>" <%= selected_value(object, selected) %> > 
        	<%= object[field_name] %>
        </option>
    <% end %>
</select>