<% selected = selected || "" %>
<select name="<%= name %>" class="<%= class_name %>">
	<% if defined?(prompt) && prompt.present? %>	
		<option value=""><%= prompt %></option>>
	<% end %> 
    <% objects.each do |key, value| %>
        <option value="<%= key %>" <% if key == selected %>selected<% end %> > 
        	<%= value %>
        </option>
    <% end %>
</select>