<div class="top_container">
    <h3><%= job.title %></h3> <!--designation-->
    <h4 class="show_job_h4"><%= employer.company_name %></h4> <!--company name-->
    <h4 class="show_job_h4"><span class="exp_icon icon"></span> <%= job.experience_from %>-<%= job.experience_to %> years  
        &nbsp;&nbsp;&nbsp;&nbsp; 
            <span class="city_icon icon"></span>  <%= cities_name(job) %> 
    </h4> <!--Exp   city/lcation-->
    <div class="top_container_footer">
        <span class=" feature icon"></span>
        <span class="rupee icon" style="padding-left: 13px;"> 
            <%= job_salary %>
        </span>
        <span class="openings_days"> Openings <strong>
            <%= job.no_of_vacancies %>
        </strong></span>
        <span class="openings_days">
            Posted  <%= show_date(job.created_at) %>
        </span>
    </div><!--end of top container footer-->
</div><!--end of top container-->

<div class="middle_container">
    <h3>Job Description</h3>
    <p><%= job.description %></p><!--job desciption by employer -->
    <table cellpadding="10">
        <tr>
            <td style="padding:5px">Salary:</td>
            <td style="padding:5px"><%= job_salary %></td>
        </tr>
        <tr>
            <td style="padding:5px">Category:</td>
            <td style="padding:5px"><%= job_data(job.vacancy_category) %></td>
        </tr>
        <tr>
            <td style="padding:5px">Designation:</td>
            <td style="padding:5px"><%= job_data(job.designation) %></td>
        </tr>
    </table>
    <h4>Keyskills</h4>
    <%= job_data(job.keywords) %>
    <h5>Education-</h5>
    <table>
        <tr>
            <td style="padding:5px">UG:</td>
            <td style="padding:5px"><%= job_data(job.pg_qualification) %></td>
        </tr>
        <tr>
            <td style="padding:5px">PG:</td>
            <td style="padding:5px"><%= job_data(job.ug_qualification) %></td>
        </tr>
    </table>
    <h4>Company Profile:</h4>
    <h4><%= employer.company_name %></h4>
    <p><%= employer.about_company %></p>
    <h4>View Contact Details</h4>
    <table>
        <tr>
            <td style="padding:5px">Contact Person:</td>
            <td style="padding:5px"><%= employer.contact_person %></td>
        </tr>
        <tr>
            <td style="padding:5px">Address:</td>
            <td style="padding:5px"><%= employer.address %></td>
        </tr>
        <tr>
            <td style="padding:5px">Email Address:</td>
            <td style="padding:5px"><%= employer.email_id %></td>
        </tr>
        <tr>
            <td style="padding:5px">Website:</td>
            <td style="padding:5px"><%= employer.website %></td>
        </tr>
        <tr>
            <td style="padding:5px">Telephone:</td>
            <td style="padding:5px"><%= employer.contact_number %></td>
        </tr>
    </table>
</div><!--end of middle container-->
