<% selected = selected || "" %>
<option value=""><%= label %></option>
<% if label == 'year' %>
    <option value="2015" <% if selected == "2015" %>selected<% end %> > 2015 </option>
<% end %>

<% (1940..2014).to_a.reverse.each do |element| %>
	<option value="<%= element %>" <% if selected == element %>selected<% end %>>
		<%= element %>
	</option>
<% end %>
