<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="msvalidate.01" content="0FF1A5DA94E1A8F6F7EA86A2C250FD02" />
  <title>Search Jobs | Find Jobs | Apply Jobs | Hot Vacancies | Employment | India</title>
  <meta name="keywords" content="Search Jobs | Find Jobs | Apply Jobs | Hot Vacancies | Employment | India" />
  <meta name="description" content="Find thousands of jobs with best of the employers in Sales, Marketing, BPO, Call Center, IT, Banking, Engineering, Accounting &amp; Finance across India. Prime jobs in Delhi, Hyderabad, Bangalore, Chennai, Pune, Mumbai, Noida, Gurgaon, Ahmedabad, Jaipur, Kolkota" />

  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-tur
  bolinks-track' => true %>
  <%= stylesheet_link_tag    'home_page', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'common', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'compress_tab_ui_anythingslider', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'header', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'footer', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'employer_registration', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'employer_dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-1.11.2.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery_all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-ui', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-ui', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'general', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'candidate_registration_popup', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'employers', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'newsletter', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'employer', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--toggle-comon-end-here-->
  <!--[if gte IE 9]>
      <style type="text/css">.elementClass { filter: none !important; }</style>
  <![endif]-->
  <meta name="google-site-verification" content="" />
</head>
<body>
<div class="left-cat-sec">
                    <div id="menus" >     
                        <ul class="menu">     
                            <li><a href="#tabs-cat">Jobs By Category</a></li>
                            <li><a href="#tabs-role">Jobs By Designation</a></li>
                            <li><a href="#tabs-loc"> Jobs By Location</a></li>
                        </ul>
                        
                            <div id="tabs-cat" class="tab-container">
                            <ul class="tab-list">
                                <% top_categories.each do |category| %>
                                  <li title="<%= category.name %>">   
                                    <a href="#">
                                      <%= category.name %>
                                    </a>
                                  </li>
                                <% end %>
                            </ul>
                        </div>
                        <div id="tabs-designation" class="tab-container">
                            <ul class="tab-list">
                              <% top_designations.each do |designation| %>
                                  <li title="<%= designation.name %>">   
                                    <a href="#">
                                      <%= designation.name %>
                                    </a>
                                  </li>
                                <% end %>
                            </ul>
                        </div>
                        <div id="tabs-loc" class="tab-container">
                            <ul class="tab-list">
                              <% top_locations.each do |location| %>
                                  <li title="<%= location.name %>">   
                                    <a href="#">
                                      <%= location.name %>
                                    </a>
                                  </li>
                                <% end %>
                            </ul> 
                            <div class="clr"></div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <!--tab container end-->
                    <div class="clr"></div>
                    <div class="recent-job-sec">
                        <h3>Recent Hot Jobs</h3>
                        <ul class="hot-job-list flt">
                                    <li>
                                    <a href="jobs/job-details-jobs-in-quebec-canada-logan-family-canada-1-10-quebec-66050.html" id="jobhhid66050" >
                                        <span class="job_title_link">logan family canada</span>
                                    </a>
                                    <h4>JOBS IN QUEBEC CANADA</h4>
                                    <h4>(1-10 Yrs) - QUEBEC</h4>
                                </li>   
                        </ul>
                        <div class="clr"></div>
                        <!--<div class="view-more"><a href="#">View More Jobs</a></div>-->
                    </div>
                    <!--recent-job-sec end-->
                    <div class="clr"></div>
                    <div class="company-add-sec">
                        <div class="hot-employer">
                            <h3>Recent Hot Employer</h3>
                            <ul class="emp-list flt">
                              <li><a href="compsearch/lucrative-career-services-jobs-678html.html">Lucrative Career Services</a></li>               
                            </ul>
                        </div>
                        <!--hot-employer end-->
                    </div>
                    <!--company-add-sec end-->
                </div>
                <!--left-cat-sec end-->
                <div class="right-cat-sec">
                    <div class="future-employer">
                        <div class="f-heading">
                            <img src="assets/images/feature-icon.jpg" width="23" height="24" alt="" />
                            <h3>Featured Employers</h3>
                            <ul class="feature-list">
                                    <li>
                                        <div>
                                            <div class="empl-logo"><img src="assets/images/employers/emp1.png" width="78" height="60" alt="" /></div>
                                            <div class="emp-details">
                                            <a href="company/flourish-purefoods-1822.html" >    
                                                <span>Flourish Purefoods</span>
                                            </a>
                                                <h4 class="simpleBColor">FMCG / Foods...</h4>
                                                <h4 class="simpleBColor">Ahmedabad</h4>
                                            </div>
                                        </div>
                                    </li>
                            </ul>
                        </div>
                         <!--<div class="clr"></div>
                       <div class="view-more-right"><a href="#">View More Jobs</a></div>-->
                    </div>
                    <!--future employer end-->
                </div>
                <!--left-cat-sec end-->