<div class="panel panel-default job_types_grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Jobs</h3>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Posted By</th>
        <th>Approved</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each_with_index do |job, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= job.title %></td>
          <td><%= job.employer.company_name %></td>
          <td>
            <input type="checkbox" class="js-approve_job" name="job[]" value="<%= job.id %>" <% if job.approved %>checked<% end %> />
          </td>
          <td>
            <%= link_to 'Destroy', admin_job_path(job.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
