<div class="middle_container">
    <div class="center-sec edit_profile">
    <form action='<%= "/candidates/#{@candidate.id}/candidate_update/education" %>' method="post" class="js-candidate_edit_education">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <% unless @ug.new_record? %>
            <input type="hidden" name="ug_id" value="<%= @ug.id %>">
        <% end %>
        <% unless @pg.new_record? %>
            <input type="hidden" name="pg_id" value="<%= @pg.id %>">
        <% end %>
        <div class="field_container">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label label">UG Education</label>
                <input type="hidden" class="form-control" name="ug[course_type]" value="ug_qualification"/>
                <%= render :partial => "/shared/select_field_tag", :locals => {:name => "ug[course_id]", :class_name => "form-control", :selected => UgQualification.find(@ug.course_id), :objects =>  @ug_qualifications, :field_name => "name" } %>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label label">Education Type</label>
                <%= render :partial => "/shared/select_field", :locals => {:name => "ug[education_type]", :class_name => "form-control select_option duration_select", :selected => @ug.education_type, :objects => education_types } %>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label label" style="clear: both;">Passing Year</label>
                <br/>
                <%= select_year(@ug.year, { start_year: 1960, end_year: Time.now.year }, { :name => "ug[year]", :class => "form-control select_option dob_field" }) %>
            </div>
            <div class="form-group" style="width: 100%; clear: both;">
                <label for="inputEmail3" class="col-sm-2 control-label label">PG Education</label>
                <input type="hidden" class="form-control" name="pg[course_type]" value="pg_qualification"/>
                <%= render :partial => "/shared/select_field_tag", :locals => {:name => "pg[course_id]", :class_name => "form-control", :selected => PgQualification.find(@pg.course_id), :objects =>  @pg_qualifications, :field_name => "name" } %>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="button" class="btn btn-default btn-primary candidate_registration_submit js-candidate_step6_update_submit">Save</button>
                    &nbsp; <a href="<%= candidate_profile_path(@candidate)%>" class="blue_font">Cancel</a>
                </div>
            </div>
        </div>
        </form>
</div>
</div>
