<div class="middle_container">
    <div class="center-sec edit_profile">
    <form action='<%= "/candidates/#{@candidate.id}/candidate_update/employment_details" %>' method="post" class="js-candidate_edit_employment_details">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
     <div class="field_container">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label"><span class="required">*</span>Employer Name</label>
            <input type="text" class="form-control js-employer_name" id="inputEmail3" name="employment[employer_name]" value="<%= @employment.employer_name %>"/>
            <% if @employment.present? %>
                <input type="hidden" name="emp_id" value="<%= @employment.id %>">
            <% end %>
            <p class="error_message js-error hide">
                Please enter Employer name.
            </p>
        </div>
        <div class="form-group">
            <input type="radio" name="employment[is_present]" value="1" <%= @employment.present? && @employment.is_present ? "checked" : "" %> /> Current Employer &nbsp;
            <input type="radio" name="employment[is_present]" value="0" <%= @employment.new_record? || @employment.is_present == false ? "checked" : "" %> /> Previous Employer
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label">Duration</label>
            <div style="width:100%; overflow:auto; height:auto;">
            <%
                if !@employment.new_record? && @employment.is_present
                    end_year = Time.now.year
                    end_month = Time.now.month
                else
                    end_year = @employment.end_year
                    end_month = @employment.end_month
                end
            %>

                <%= select_month(@employment.start_month, {}, { :name => "employment[start_month]", :class => "form-control select_option duration_select" }) %>
                <%= select_year(@employment.start_year, { start_year: 1960, end_year: Time.now.year }, { :name => "employment[start_year]", :class => "form-control select_option duration_select" }) %>
                <span class="duration_text">To</span>
                <%= select_month(end_month, {}, { :name => "employment[end_month]", :class => "form-control select_option duration_select" }) %>
                <%= select_year(end_year, { start_year: 1960, end_year: Time.now.year }, { :name => "employment[end_year]", :class => "form-control select_option duration_select" }) %>

            <p class="error_message js-error hide">
                Please enter valid duration.
            </p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label label">Designation</label>
            <%= render :partial => "/shared/select_field_tag", :locals => {:name => "employment[designation_id]", :class_name => "form-control", :selected => @employment.designation, :objects =>  @designations, :field_name => "name" } %>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label label">Area Worked</label>
            <%= render :partial => "/shared/select_field_tag", :locals => {:name => "employment[category_id]", :class_name => "form-control", :selected => @employment.vacancy_category, :objects =>  @categories, :field_name => "name" } %>
        </div>
        <div class="form-group">
           <label for="text" class="col-sm-2 control-label label">Therapeutic Segment:</label>
            <select  class="form-control large_select" name="employment[therapeutic_segment_id]">
                <% therapeutic_segments.each do |key, value|%>
                    <option value="<%= key %>" <%= "selected" if @employment.therapeutic_segment_id.to_i == key.to_i %> > 
                        <%= value %>
                    </option>
                <% end %>
            </select>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label label">Job Profile</label>
            <textarea class="form-control" name="employment[job_profile]"><%= @employment.job_profile %></textarea>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <button type="button" class="btn btn-default btn-primary candidate_registration_submit js-candidate_step3_update_submit">Save</button>
                &nbsp; <a href="<%= candidate_profile_path(@candidate)%>" class="blue_font">Cancel</a>
            </div>
        </div>
    </div>
    </form>



</div>
</div>
