<div class="middle_container">
    <div class="center-sec edit_profile">
    <form action='<%= "/candidates/#{@candidate.id}/candidate_update/other" %>' method="post" class="js-candidate_edit_other">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input name="desired_job_id" type="hidden" value="<%= @desired_job %>">
     <div class="field_container">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label">Preferred Designation</label>
            <%= render :partial => "/shared/select_field_tag", :locals => {:name => "desired_job[designation_id]", :class_name => "form-control", :selected => @desired_job.designation, :objects =>  @designations, :field_name => "name" } %>
            <p class="error_message js-error hide">
                please enter prefred designation.
            </p>
        </div>
        <div class="form-group">
            <label for="text" class="col-sm-2 control-label label" style="margin-top: 5px"> Expected Annual Salary:</label>
        </div>
        <div style="width:100%; overflow:auto; height: auto;">
            <select name="desired_job[expected_sal_lakhs]" class="form-control select_option" style="margin-left: 0px;" >
                <%= render :partial => 'shared/annual_salary_lakh', :locals => { :label => 'select', :selected => @desired_job.expected_sal_lakhs }  %>
            </select>
                <span class="connector"> Lakhs </span>
            <select name="desired_job[expected_sal_thousands]" class="form-control select_option">
                <%= render :partial => 'shared/annual_salary_thousand', :locals => { :label => 'select', :selected => @desired_job.expected_sal_thousands}%>
            </select>
            <span class="connector"> Thousands </span>
        </div>
        <div class="form-group">
            <label for="text" class="col-sm-2 control-label label" style="margin-top: 5px"> Languages:</label>
        </div>
        <div class="form-group">
            <table cellspacing="0" cellpadding="5" border="0" style="width: 100%;" class="language_table">
                <tbody>
                    <tr>
                        <td width="70" nowrap=""> <i>Language</i></td>
                        <td width="63"  nowrap=""><i style="margin-left: 15px;">Read</i></td>
                        <td width="55" nowrap=""><i>Write</i></td>
                        <td width="55"  nowrap=""><i>Speak</i></td>
                        <td width="60" nowrap="" style="padding-left: 22px;"><i>Proficiency</i></td>
                    </tr>
                    <%  (0..2).each do |index| %>
                        <% counter = index + 1 %>
                        <% language = @languages[index].present? ? @languages[index] : Language.new %>
                        <tr>
                            <td nowrap="">
                                <input class="form-control language_input" name="languages[<%= counter %>][name]" value="<%= language.name %>" />
                                <input type="hidden" name="languages[<%= counter %>][id]" value="<%= language.id %>" />
                            </td>
                            <td nowrap="" >
                                <input type="checkbox" class="checkbox" style="margin-left: 22px;" name="languages[<%= counter %>][read]" value="1" <% if language.read %>checked<% end %> />
                            </td>
                            <td nowrap="" >
                                <input type="checkbox" class="checkbox"style="margin-left: 8px;" name="languages[<%= counter %>][write]" value="1" <% if language.write %>checked<% end %> />
                            </td>
                            <td nowrap="" >
                                <input type="checkbox" class="checkbox" style="margin-left: 10px;"name="languages[<%= counter %>][speak]" value="1" <% if language.speak %>checked<% end %> />
                            </td>
                            <td nowrap="" >
                                <%= render :partial => "/shared/select_field", :locals => {:name => "languages[#{counter}][proficiency_level]", :class_name => "form-control select_option ", :selected => language.proficiency_level, :objects => language_level } %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        
        <div class="form-group">
            <div class="col-sm-10">
                <button type="button" class="btn btn-default btn-primary candidate_registration_submit js-candidate_step7_update_submit">Save</button>
                &nbsp; <a href="<%= candidate_profile_path(@candidate)%>" class="blue_font">Cancel</a>
            </div>
        </div>
    </div>
    </form>



</div>
</div>
