<div class="middle_container">
    <div class="center-sec edit_profile">
    <%= form_for(@candidate, url: "/candidates/#{@candidate.id}/candidate_update/profile_snapshot", :html => { :class => 'js-candidate_edit_profile_snapshot', :multipart => true, :method => 'post' }) do |f| %>
      <% if @candidate.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @candidate.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <input type="hidden" name="candidate[reg_status]" value="1" />
    <div class="field_container">
        <div class="form-group js-designation_group">
            <label for="inputEmail3" class="col-sm-2 control-label label"><span class="required">*</span> Current Designation </label>
            <%= render :partial => "/shared/select_field_tag", :locals => {:name => "candidate[designation_id]", :class_name => "form-control", :selected => @candidate.designation, :objects =>  @designations, :field_name => "name" } %>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label label"><span class="required">*</span>Current Company</label>
            <input type="test" class="form-control input js-current_company" name="current_employment[employer_name]" value="<%=  @current_employment.employer_name %>">
            <p class="error_message js-error hide">
                Please enter current company.
            </p>
        </div>
        <div class="form-group">
            <% if @candidate.current_city_id.present? %>
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>Current City</label>
                <%= render :partial => "/shared/select_field_tag", :locals => {:name => "candidate[current_city_id]", :class_name => "form-control", :selected => @candidate.city, :objects =>  @cities, :field_name => "name" } %>
            <% end %>
        </div>
        <div class="form-group js-candidate_category_group">
            <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>Category</label>
            <%= render :partial => "/shared/select_field_tag", :locals => {:name => "candidate[current_city_id]", :class_name => "form-control", :selected => @candidate.vacancy_category, :objects =>  @categories, :field_name => "name" } %>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label"><span class="required">*</span> Preferred Designation </label>
            <%= render :partial => "/shared/select_field_tag", :locals => {:name => "desired_job[designation_id]", :class_name => "form-control", :selected => @desired_job.designation, :objects =>  @designations, :field_name => "name" } %>
        </div>
        <div class="form-group js-phone_number_group">
            <label for="text" class="col-sm-2 control-label label">Date of Birth</label>
            <%= select_day(@candidate.dob_day, {}, { :name => "candidate[dob_day]", :class => "form-control select_option dob_field" }) %>
            <%= select_month(@candidate.dob_month, {}, { :name => "candidate[dob_month]", :class => "form-control select_option dob_field" }) %>
            <%= select_year(@candidate.dob_year, { start_year: 1960, end_year: Time.now.year }, { :name => "candidate[dob_year]", :class => "form-control select_option dob_field" }) %>
        </div>
        <div class="form-group" style="clear: both; overflow: auto">
            <label for="text" class="col-sm-2 control-label label" style="margin-top: 8px"> Gender: </label>
            <%= render :partial => "/shared/select_field", :locals => {:name => "candidate[gender]", :class_name => "form-control select_option", :selected => @candidate.gender, :objects => gender } %>
        </div>
        <div class="form-group multiple_select_option">
            <label for="text" class="col-sm-2 control-label label"style="margin-top: 8px"> Marital Status: </label>
            <%= render :partial => "/shared/select_field", :locals => {:name => "candidate[marital_status]", :class_name => "form-control select_option", :selected => @candidate.marital_status, :objects => marital_status } %>
        </div>
        <div class="form-group js-current_company_name_group" >
            <label for="inputPassword3" class="col-sm-2 control-label label" style="margin-top: 42px;margin-left: -176px;"><span class="required">*</span>Skills</label>
            <input type="text" class="form-control input js-skills" name="candidate[key_skills]" value="<%= @candidate.key_skills %>" name="candidate[key_skills]"/>
            <p class="error_message js-error hide">
                Please enter skills.
            </p>
        </div>
        <div class="form-group">
            <label for="text" class="col-sm-2 control-label label" style="margin-top: 5px"><span class="required">*</span> Annual Salary:</label>
            <select name="candidate[salary_lakhs]" class="form-control select_option js-annual_salary"  >
                <%= render :partial => 'shared/annual_salary_lakh', :locals => { :label => 'select', :selected => @candidate.salary_lakhs }  %>
                    </select>
                <span class="connector"> Lakhs </span>
            <select name="candidate[salary_thousands]" class="form-control select_option">
                <%= render :partial => 'shared/annual_salary_thousand', :locals => { :label => 'select', :selected => @candidate.salary_thousands}%>
            </select>
            <span class="connector"> Thousands </span>
            <p class="error_message js-error hide">
                Please select annual salry.
            </p>
        </div>
        <div class="form-group" style="clear: both; overflow: auto">
            <label for="text" class="col-sm-2 control-label label"><span class="required">*</span> Experience</label>
            <select  class="form-control select_option js-experience" name="candidate[total_exp_years]">
                <% (0..40).each do |year| %>
                    <option value="<%= year %>" <% if year == @candidate.total_exp_years %>selected<% end %> >
                        <%= year %>
                    </option>
                <% end %>
            </select>
            <span class="connector"> years </span>
            <select  class="form-control select_option" name="candidate[total_exp_months]">
                <% (0..11).each do |month| %>
                    <option value="<%= month %>" <% if month == @candidate.total_exp_months %>selected<% end %>>
                        <%= month %>
                    </option>
                <% end %>
            </select>
            <span class="connector"> Months </span>
            <p class="error_message js-error hide">
                Please select total experience.
            </p>
        </div>
        <div class="form-group js-email_group">
            <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>UG Qualification </label>
            <%= render :partial => "/shared/select_field_tag", :locals => {:name => "education[ug][course_id]", :class_name => "form-control", :selected => @candidate.ug_qualification, :objects =>  @ug_qualifications, :field_name => "name" } %>
            <label class="options">
                <% education_types.each do |key, value| %>
                    <input type="radio" name="education[ug][education_type]" id="optionsRadios1" value="<%= key %>" <% if @candidate.ug_qualification.present? && @candidate.ug_qualification.education_type == key %>checked <% end %>> <%= value %>
                <% end %>
            </label>
        </div>

        <div class="form-group js-graduation_year_group" style="display: block;overflow: auto;">
            <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>Graduated in</label>
            <%= select_year(@candidate.ug_qualification.year, { start_year: 1960, end_year: Time.now.year }, { :name => "education[ug][year]]", :class => "form-control select_option dob_field js-graduation_year" }) %>
            <p class="error_message js-error hide">
                Please select Graduation Year.
            </p>
        </div>
         <div class="form-group js-phone_number_group">
            <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>Phone Number</label>
            <input type="text" maxlength="10" class="form-control input js-phone_number" id="text" placeholder="Phone Number" name="candidate[phone_number]" value="<%= @candidate.phone_number %>">
            <p class="error_message js-error hide">
                Please enter valid phone number.
            </p>
        </div>
        <div class="form-group js-email_group">
            <label for="inputEmail3" class="col-sm-2 control-label label"><span class="required">*</span> Email </label>
            <input type="email" class="form-control input js-email" id="inputEmail3" placeholder="Email" name="candidate[email_id]" value="<%= @candidate.email_id %>">
            <p class="error_message js-error hide">
                Please enter valid email id.
            </p>
        </div> 
         <div class="form-group multiple_select_option">
            <label for="text" class="col-sm-2 control-label label"style="margin-top: 8px"> Mailing Address: </label>
            <textarea row="6" cols="20" class="form-control" name="candidate[mailing_address]"><%= @candidate.mailing_address.strip %></textarea>
        </div>
        <div class="form-group">
            <label for="text" class="col-sm-2 control-label label">City:</label>
            <input type="text" class="form-control input" name="candidate[home_town]" value="<%= @candidate.home_town %>" />
        </div>
        <div class="form-group">
            <label for="text" class="col-sm-2 control-label label">Pincode:</label>
            <input type="text" class="form-control input" name="candidate[home_town_pincode]" value="<%= @candidate.home_town_pincode %>" />
        </div>
        
    </div>
    <div>
        <button type="button" class="btn btn-primary candidate_registration_submit js-candidate_step1_update_submit">Save</button>
        &nbsp; <a href="<%= candidate_profile_path(@candidate)%>" class="blue_font">Cancel</a>
    </div>
<% end %>
</div>
</div>
