<div class="middle_container">
    <div class="center-sec edit_profile">
    <%= form_for(@candidate, url: "/candidates/#{@candidate.id}/candidate_update/profile_summary", :html => { :class => 'js-candidate_edit_profile_summary', :method => 'post' }) do |f| %>
        <div class="field_container">
            <div class="form-group js-designation_group">
                <label for="inputEmail3" class="col-sm-2 control-label label"><span class="required">*</span> Profile Summary</label>
                <textarea class="form-control js-profile_summary" name="candidate_profile_summary[summary]"><%= @candidate_profile_summary.summary %></textarea>
                <p class="error_message js-error hide">
                    Please provide profile summary.
                </p>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary candidate_registration_submit js-candidate_step2_update_submit">Save
            </button>
            &nbsp; <a href="<%= candidate_profile_path(@candidate)%>" class="blue_font">Cancel</a>
        </div>
    <% end %>
</div>
</div>
