<div class="middle_container">
    <div class="center-sec edit_profile">
    <form action='<%= "/candidates/#{@candidate.id}/candidate_update/project" %>' method="post" class="js-candidate_edit_project">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <% unless @project.new_record? %>
        <input type="hidden" name="project_id" value="<%= @project.id %>">
    <% end %>
     <div class="field_container">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label"><span class="required">*</span>Client Name</label>
            <input type="text" class="form-control js-client_name" id="inputEmail3" name="project[client_name]" value="<%= @project.client_name %>"/>
            <p class="error_message js-error hide">
                Please enter valid Client name.
            </p>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label"><span class="required">*</span>Title</label>
            <input type="text" class="form-control js-title" id="inputEmail3" name="project[title]" value="<%= @project.title %>"/>
            <p class="error_message js-error hide">
                Please enter valid title.
            </p>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label">Team Size</label>
            <input type="text" class="form-control" id="inputEmail3" name="project[team_size]" value="<%= @project.team_size %>"/>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label">Duration</label>
            <div style="width:100%; overflow:auto; height:auto; margin-left: -17px;">
                <%= select_month(@project.start_month, {}, { :name => "project[start_month]", :class => "form-control select_option duration_select" }) %>
                <%= select_year(@project.start_year, { start_year: 1960, end_year: Time.now.year }, { :name => "project[start_year]", :class => "form-control select_option " }) %>
                <span class="duration_text">To</span>
                <%= select_month(@project.end_month, {}, { :name => "project[end_month]", :class => "form-control select_option duration_select" }) %>
                <%= select_year(@project.end_year, { start_year: 1960, end_year: Time.now.year }, { :name => "project[end_year]", :class => "form-control select_option" }) %>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label label">Details</label>
            <textarea class="form-control" name="project[details]"><%= @project.details %></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default btn-primary candidate_registration_submit js-candidate_step4_update_submit">Save</button>
            &nbsp; <a href="<%= candidate_profile_path(@candidate)%>" class="blue_font">Cancel</a>
        </div>
    </div>
    </form>



</div>
</div>
