<div class="middle_container">
    <div class="center-sec edit_profile">
    <%= form_for(@candidate, url: "/candidates/#{@candidate.id}/candidate_update/resume", :html => { :class => 'js-candidate_edit_resume', :method => 'post', :multipart => true }) do |f| %>
        <div class="field_container">
            <div class="form-group js-upload_resume_group">
                <input type="hidden" name="resume_id" value="<%= @resume.id %>" />
                <label for="exampleInputFile" class="control-label label">Upload Resume</label>
                <%= file_field_tag 'resume' %>
                <p class="help-block">Supported Formates: doc,docx,rtf,pdf,max file size: 300kb</p>
                <p class="error_message js-upload_resume_error hide">Please upload your updated resume.</p>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary candidate_registration_submit js-candidate_step8_update_submit">Save</button>
            &nbsp; <a href="<%= candidate_profile_path(@candidate)%>" class="blue_font">Cancel</a>
        </div>
    <% end %>
</div>
</div>
