<div class="middle_container">
    <div class="center-sec edit_profile">
    <form action='<%= "/candidates/#{@candidate.id}/candidate_update/skill" %>' method="post" class="js-candidate_edit_skill">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <% unless @skill.new_record? %>
            <input type="hidden" name="skill_id" value="<%= @skill.id %>">
        <% end %>
        <div class="field_container">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label label"><span class="required">*</span> Skill Name</label>    
                <input type="text" class="form-control js-skill_name" name="skill[name]" value="<%= @skill.name %>"/>
                <p class="error_message js-error hide">
                    Please enter skills.
                </p>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label label">Experience</label>
                <select  class="form-control select_option duration_select js-experience" name="skill[exp_years]" style="width: 100px;">
                    <% (0..40).each do |year| %>
                        <option value="<%= year %>" <% if year == @skill.exp_years %>selected<% end %> >
                            <%= year %>
                        </option>
                    <% end %>
                </select>
                <span class="connector"> years </span>
                <select class="form-control select_option duration_select" name="skill[exp_months]" style="width: 100px;">
                    <% (0..11).each do |month| %>
                        <option value="<%= month %>" <% if month == @skill.exp_months %>selected<% end %>>
                            <%= month %>
                        </option>
                    <% end %>
                </select>
                <span class="connector"> Months </span>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="button" class="btn btn-default btn-primary candidate_registration_submit js-candidate_step5_update_submit">Save</button>
                    &nbsp; <a href="<%= candidate_profile_path(@candidate)%>" class="blue_font">Cancel</a>
                </div>
            </div>
        </div>
        </form>
</div>
</div>
