<div class="panel panel-default job_types_grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Job Types</h3>
    </div>
    <div class="new_link_div">
      <a href="<%= new_admin_job_type_path %>" class="">
          <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-warning">New Job Type</button>
          </div>
      </a>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @admin_job_types.each_with_index do |admin_job_type, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= admin_job_type.name %></td>
          <td><%= admin_job_type.description %></td>
          <td>
            <%= link_to 'Edit', "#{edit_admin_job_type_path(admin_job_type)}" %> &nbsp;
            <%= link_to 'Destroy', "#{admin_job_type_path(admin_job_type)}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
