<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_job_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_job_type.description %>
</p>

<%= link_to 'Edit', edit_admin_job_type_path(@admin_job_type) %> |
<%= link_to 'Back', admin_job_types_path %>
