<%= form_for(@admin_vacancy_category, url: generate_admin_path(@admin_vacancy_category)) do |f| %>
  <% if @admin_vacancy_category.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @admin_vacancy_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Enter name" %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  &nbsp;
  <a href="<%= admin_vacancy_categories_url %>">
    <button type="button" class="btn btn-primary">Cancel</button>
  </a>
<% end %>
