<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_vacancy_category.name %>
</p>

<%= link_to 'Edit', edit_admin_vacancy_category_path(@admin_vacancy_category) %> |
<%= link_to 'Back', admin_vacancy_categories_path %>
