<%= form_for(@candidate) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="leftside">
    <div id="candidate_registeration">
        <h3 class="register"> 
        <%= @candidate.new_record? ? "New Candidate Registeration" : "Edit My Account" %> </h3>
        <br />
        <div class="field_container">
            <div class="form-group js-email_group">
                <label for="inputEmail3" class="col-sm-2 control-label label"><span class="required">*</span> Email </label>
                <input type="email" class="form-control input js-email" id="inputEmail3" placeholder="Email" name="candidate[email_id]" value="<%= @candidate.email_id %>">
                <p class="error_message js-email_error hide">
                    Please enter valid email id.
                </p>
            </div> 
            <% if @candidate.new_record? %>
                <div class="form-group js-password_group">
                    <label for="inputPassword3" class="col-sm-2 control-label label"><span class="required">*</span>Password</label>
                    <input type="password" class="form-control input js-password" id="inputPassword3" placeholder="Password" name="user[password]" value="">
                    <p class="error_message js-password_error hide">
                        Please enter valid password.
                    </p>
                </div>
                <div class="form-group js-confirm_password_group">
                    <label for="inputPassword3" class="col-sm-2 control-label label"><span class="required">*</span>Confirm Password</label>
                    <input type="password" class="form-control input js-confirm_password" id="inputPassword3" placeholder="Confirm Password" name="user[confirm_password]">
                    <p class="error_message js-confirm_password_error hide">
                        Please enter valid password.
                    </p>
                </div>
            <% end %>
        </div>
        <div class="field_container">
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label"> Full Name</label>
                <input type="text" class="form-control input" id="text" placeholder="Full Name" name="candidate[full_name]" value="<%= @candidate.full_name %>">
            </div>
            <div class="form-group js-candidate_locations_group">
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>Current Location</label>
                <select name="candidate[current_location_id]" class="form-control js-candidate_locations">
                    <option value="">Select Location</option>
                    <% @locations.each do |location| %>
                      <option value="<%= location.id %>">
                          <%= location.name %>
                      </option>
                    <% end %>        
                </select>
            </div>
            <div class="form-group js-cities">
                <% if @candidate.current_city_id.present? %>
                    <label for="text" class="col-sm-2 control-label label">Current City</label>
                    <select name="candidate[current_city_id]" class="form-control">
                      <% @cities.each do |city| %>
                          <option value="<%= city.id %>" <% if city.id == @candidate.city_id %>selected<% end %>>
                              <%= city.name %>
                          </option>
                      <% end %>        
                    </select>
                <% end %>
            </div>
            <div class="form-group js-phone_number_group">
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>Phone Number</label>
                <input type="text" maxlength="10" class="form-control input js-phone_number" id="text" placeholder="Phone Number" name="candidate[phone_number]" value="<%= @candidate.phone_number %>">
                <p class="error_message js-phone_number_error hide">
                    Please enter valid phone number.
                </p>
            </div>
            <div class="form-group" style="clear: both; overflow: auto">
                <label for="text" class="col-sm-2 control-label label">Work Experience</label>
                <select  class="form-control select_option">
                    <option value="">Select</option>
                </select>
                <span class="connector"> years </span>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Key Skills</label>
                <input type="text" maxlength="150" class="form-control input" id="text" placeholder="Key Skills" name="candidate[key_skills]" value=""/>
            </div>

        </div>
        <div class="field_container">
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Basic qualification</label>
                <select name="ug_qualification_id" class="form-control">
                        <% @ug_qualifications.each do |ug_qualification|%>
                            <option value="<%= ug_qualification.id%>">
                                <%= ug_qualification.name %>
                            </option>
                        <% end %>
                </select>
            </div>
            <div class="form-group">
            <!--Add button to add masters starts from here-->
                <button type="button" class="btn btn-primary" style="margin-bottom: 10px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add PG Qualification
                </button>
            </div>
            <div class="form-group">
            <!--Add button to add certification starts from here-->
                <button type="button" class="btn btn-primary" style="margin-bottom: 10px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Certification Courses
            </button>
            </div>
        </div>
        <div class="field_container" id="upload_resume">
            <div class="form-group">
                <label for="exampleInputFile" class="control-label label">Upload Resume</label>
                <input type="file" id="exampleInputFile" class="">
                    <p class="help-block">Supported Formates: doc,docx,rtf,pdf,max file size: 300kb</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Jobs Alerts <br>
                    <input type="checkbox"> I have read and agree to the <a href="">Terms&Condiatons</a> governing the use of pharmavacancy.com
                </label>
            </div>            

            
        </div>
        
        <div>
            <button type="button" class="btn btn-primary candidate_registration_submit js-candidate_step1_registration_submit">Join Pharmavacancy</button>
        </div>
    </div>
  </div>



<% end %>
