<div class="left_side_bar">
    <div class="left_side_bar_heading">
        <a href="#" class="blue_font">My Home : <%= truncate(@candidate.full_name, :length => 10) %></a>
    </div>
    <div class="left_menu_section">
        <div class="left_menu_heading">
            Profile
        </div>
        <ul class="left_side_ul blue_font">
            <li>
                <a href="<%= candidate_profile_path(@candidate)%>" class="blue_font">View Profile</a>
            </li>
            <li>
                <a class="blue_font" href="<%= candidate_job_alert_path(@candidate) %>">Job Alert</a>
            </li>
        </ul>
    </div>
    <div class="left_menu_section">
        <div class="left_menu_heading">
            Jobs &amp; Applications
        </div>
        <ul class="left_side_ul blue_font">
            <li>
                <a href="<%= candidate_application_history_path(@candidate) %>" class="blue_font">Application History</a>
            </li>
            <li>
                <a href="<%= candidate_saved_jobs_path(@candidate) %>" class="blue_font">Saved Jobs</a>
            </li>
        </ul>
    </div>
    <div class="left_menu_section">
        <div class="left_menu_heading">
            Settings
        </div>
        <ul class="left_side_ul blue_font">
            <li>
                <a href='<%= candidate_change_password_path(@candidate) %>' class="blue_font">Change Password</a>
            </li>
        </ul>
    </div>
</div>