<div class="profile_section">
    <div class="profile_heading">
        Profile Summary
        <a href="/candidates/<%= @candidate.id %>/profile/edit/profile_summary" class="section_edit_link blue_font">Edit</a>
    </div>
    <div class="profile_section_content">
        <div class="p5 js-profile_summary">
            <div class="profile_summary pl8 wrapL">
                <%= @candidate_profile_summary.summary %>
            </div>
            <p class="error_message js-error hide">
                Please enter profile summary.
            </p>
        </div>
    </div>
</div>
