<div class="profile_section">
    <div class="profile_heading">
        Education
        <a href='<%= "/candidates/#{@candidate.id}/profile/edit/education" %>' class="section_edit_link blue_font">Edit</a>
    </div>
    <div class="profile_section_content pl8">
        <ul class="normal_list education_list">
            <% @educations.each do |education| %>
                <li>
                    <i><%= education.course_type.tr('_', ' ').capitalize %>:</i>
                    <span class="wrapL">
                        <%= get_education(education.course_id, education.course_type) %>
                    </span>
                </li> 
            <% end %>
        </ul>
    </div>
</div>