<div class="profile_section">
    <div class="profile_heading">
        Projects
        <a href='<%= "/candidates/#{@candidate.id}/profile/edit/project" %>' class="section_edit_link blue_font">Add</a>
    </div>
    <div class="profile_section_content pl8">
        <ul class="employments_list">
            <%  @projects.each do |project| %>
                <li class="p4">
                    <div class="company_details">
                        <strong class="blktxt"><%= project.client_name %></strong>
                        <br>
                        <%= "#{months[project.start_month]}, #{project.start_year}" %>
                        to
                        <%= "#{months[project.end_month]}, #{project.end_year}" %>
                    </div>
                    <div class="project_row">Title - <%= project.title %>
                    <div class="project_row">Team Size - <%= project.team_size %>
                    <div class="project_row">Skills - <%= project.skills %>
                    <div class="employment_position bottom_grey_border">
                        <%= project.details %>
                        
                        <span class="edit_inline"><a href='<%= "/candidates/#{@candidate.id}/profile/edit/project?project_id=#{project.id}"%>' class="blue_font">Edit</a>
                         &nbsp;
                        <%= link_to 'Destroy', "/candidates/#{@candidate.id}/candidate_destroy/project/#{project.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
                        </span>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>