<div class="profile_section">
    <div class="profile_heading">
        Other Details
        <a href='<%= "/candidates/#{@candidate.id}/profile/edit/other" %>' class="section_edit_link blue_font">Edit</a>
    </div>
    <div class="profile_section_content pl8">
        <div class="other_details">
            <ul class="normal_list">
                <li>
                    <strong class="blktxt">Job Preference</strong>
                </li>
                <li class="pl20">
                    <i>Job Designation:</i>
                    <%= @desired_job.designation.name %>
                </li>
                <li class="pl20">
                    <i>ECTC:</i>
                    <%= "#{@desired_job.expected_sal_lakhs} Lakhs, #{@desired_job.expected_sal_thousands} Thousands" %>
                </li>
                <li class="pt20">
                    <strong class="blktxt">Languages Known</strong>
                </li>
                <li class="pl20">
                    <table cellspacing="0" cellpadding="5" border="0" width="330" class="language_table">
                        <tbody>
                            <tr>
                                <td width="70" nowrap=""><i>Language</i></td>
                                <td width="63" nowrap="" class="txtctr"><i>Read</i></td>
                                <td width="63" nowrap="" class="txtctr"><i>Write</i></td>
                                <td width="64" nowrap="" class="txtctr"><i>Speak</i></td>
                                <td width="70" nowrap="" class="txtctr"><i>Proficiency</i></td>
                            </tr>
                            <%  @languages.each do |language| %>
                                <tr>
                                    <td nowrap=""><%= language.name %></td>
                                    <td nowrap="" class="txtctr">

                                        <%=raw get_language(language.read) %>

                                    </td>
                                    <td nowrap="" class="txtctr">
                                        <%=raw get_language(language.write) %>
                                    </td>
                                    <td nowrap="" class="txtctr">
                                        <%=raw get_language(language.speak) %>
                                    </td>
                                    <td nowrap="" class="txtctr">
                                    <%= language_level[language.proficiency_level] %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>