<div class="profile_section">
    <div class="profile_heading">
        Employment Details
        <a href='<%= "/candidates/#{@candidate.id}/profile/edit/employment_details"%>' class="section_edit_link blue_font">Add Employer</a>
    </div>
    <div class="profile_section_content pl8">
        <ul class="employments_list">
            <% @employments.each do |employment| %>
                <%
                if employment.is_present.present?
                    title = "Currently working at"
                    end_time= "Present"
                else
                    title = ""
                    end_time = "#{employment.end_month}, #{employment.end_year}"
                end   
                %>

                <li class="p4">
                    <div class="company_details">
                        <%= title %>
                        <strong class="blktxt"><%= employment.employer_name %></strong> as 
                        <strong class="blktxt"><%= get_child_data(employment.designation, 'name') %></strong>
                        <br>
                        <%= employment.start_month %>, <%= employment.start_year %>  to <%= end_time %>
                        <span class="f12">
                            (<%= employment.total_duration %>)
                        </span>
                    </div>
                    <div class="employment_position bottom_grey_border">
                        <%= employment.job_profile %>
                        <span class="edit_inline blue_font">
                            <a href='<%= "/candidates/#{@candidate.id}/profile/edit/employment_details?emp_id=#{employment.id}"%>' class="blue_font">Edit</a>
                            &nbsp;
                            <%= link_to 'Destroy', "/candidates/#{@candidate.id}/candidate_destroy/employment_details/#{employment.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
                        </span>
                    </div>

                </li>
            <% end %>
        </ul>
    </div>
</div>