<div class="profile_section">
    <div class="profile_heading">
        Skills
        <a href='<%= "/candidates/#{@candidate.id}/profile/edit/skill" %>' class="section_edit_link blue_font">Add</a>
    </div>
    <div class="profile_section_content pl8">
        <table width="75%" border="0" cellspacing="0" cellpadding="0" class="skill_table">
            <tbody>
                <tr>
                    <th class="lft">Skill Name</th>
                    <th>Experience</th>
                    <th>Action</th>
                </tr>
                <% @skills.each do |skill| %>
                    <tr>
                        <td class="lft"><%= skill.name %></td>
                        <td><%= skill.exp_years %>Year(s) <%= skill.exp_months %> Month(s)</td>
                        <td>
                        <a href='<%= "/candidates/#{@candidate.id}/profile/edit/skill?skill_id=#{skill.id}"%>' class="blue_font">Edit</a>
                         &nbsp;
                        <%= link_to 'Destroy', "/candidates/#{@candidate.id}/candidate_destroy/skill/#{skill.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>