<div class="middle_container">
    <div class="center-sec">
        <%= render :partial => "/shared/change_password", :locals => { :cancel_path => candidate_path(@candidate) } %>
    </div><!-- center section of the body ends here-->
</div>

