<div style="display:block; width: 60%; float:left; margin: 5px 0px 0px 15px;">
<form action="/job_alert" accept-charset="utf-8" method="POST" class="js-job_alert_form"> 
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input name="id" type="hidden" value="<%= @candidate.id %>">

    <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>

    <div class="field_container dashboard">
    	<h3>Tell us what kind of jobs you want</h3>
        <div class="form-group">
            <label class="col-sm-2 control-label label dash-label"><span class="required">*</span> Keywords</label>
            <input type="text" class="form-control dash-input js-keywords" placeholder="Skills,Designations,Roles,Companies" name="job_alert[keywords]" id="alert_keywords" value="<%= @job_alert.keywords %>">
            <p class="error_message js-error hide">
                Please enter keywords.
            </p>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label label dash-label"><span class="required">*</span> Location</label>
            <input type="text" class="form-control dash-input js-location" placeholder="Enter the location you want to work in" name="job_alert[location]" id="alert_location" value="<%= @job_alert.location %>">
            <p class="error_message js-error hide">
                Please enter location.
            </p>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label dash-label">Work Experience</label>
            <select class=" form-control dash-select" name="job_alert[work_experience_years]" >
                <%= render :partial => 'shared/sal_exp_dropmenu_options', :locals => { :label => 'Select', :selected_id => @job_alert.work_experience_years } %>
            </select> years
            <select class="form-control dash-select" name="job_alert[work_experience_months]" >
                <option value="">Select</option>
                <% (0..11).each do |month| %>
                	<% if month == @job_alert.work_experience_months %>
                    	<option value="<%= month %>" selected ><%= month %></option>
                    <% else %>
                    	<option value="<%= month %>"><%= month %></option>
                    <% end %>
                <% end %>
            </select> months
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label dash-label">Expected Salary</label>
            <select class="form-control dash-select js-min_exp_salary" name="job_alert[ectc_from]">
                <%= render :partial => 'shared/annual_salary_lakh', :locals => { :label => 'Min', :selected => @job_alert.ectc_from }  %>
            </select> to
            <select class="form-control dash-select dash_select_exceptional js-max_exp_salary" name="job_alert[ectc_to]">
                <%= render :partial => 'shared/annual_salary_lakh', :locals => { :label => 'Max', :selected => @job_alert.ectc_to }  %>
            </select> in Lacs
            <p class="error_message js-error hide">
                Please enter correct maximum salary.
            </p>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label dash-label">Category:</label>
            <select class="form-control dash-select js-category" name="job_alert[category_id]" >
                <option value="">Select</option>
                <% get_categories.each do |category| %>
                	<% if category.id == @job_alert.category_id %>
	                    <option value="<%= category.id %>" selected>
	                        <%= category.name %>
	                    </option>
	                <% else %>
	                	<option value="<%= category.id %>">
	                        <%= category.name %>
	                    </option>
	                <% end %>
                <% end %>
            </select> 
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label dash-label ">Designation:</label>
            <select class="form-control dash-select js-category" name="job_alert[designation_id]" >
                <option value="">Select</option>
                <% get_designations.each do |designation| %>
                	<% if designation.id == @job_alert.designation_id %>
	                    <option value="<%= designation.id %>" selected>
	                        <%= designation.name %>
	                    </option>
	                <% else %>
	                	<option value="<%= designation.id %>">
	                        <%= designation.name %>
	                    </option>
	                <% end %>
                <% end %>
            </select> 
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label dash-label"><span class="required">*</span>Name your Job Alert:</label>
            <input type="text" name="job_alert[name]" placeholder="Enter a Name that will help you to recognize this job alert"class="form-control dash-input js-name_job_alert" value="<%= @job_alert.name %>" >
            <p class="error_message js-error hide">
                Please enter name of your job alert.
            </p>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label label dash-label"><span class="required">*</span>Email Id:</label>
            <input type="email" name="job_alert[email_id]" placeholder="Enter Emailid"class="form-control dash-input js-job_email" value="<%= @job_alert.email_id %>" >
            <p class="error_message js-error hide">
                Please enter a valid Email ID.
            </p>
        </div>
        
        <div class="form-group">
            <button type="button" class="btn btn-primary adv-search js-jobs_alert">Create Job Alert</button>
        </div>    
</form>
</div>