<div class="middle_container">
    <div class="center-sec">
        <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
        <div class="welcome_msg">
            Hi <%= @candidate.full_name %>
        </div>
        <%= render :partial => "profile_snapshot" %>
        <%= render :partial => "profile_summary" %>
        <%= render :partial => "profile_employment_details" %>
        <%= render :partial => "profile_projects" %>
        <%= render :partial => "profile_skills" %>
        <%= render :partial => "profile_educations" %>
        <%= render :partial => "profile_others" %>
        <%= render :partial => "profile_resume" %>
    </div>
</div>

