<div class="middle_container">
    <div class="center-sec">
        <div class="mid_heading">
            Recommended Jobs
        </div>
        <%= render :partial => "shared/job_grid", :locals => { :jobs => @recomended_jobs } %>
        <!-- pagination div starts here-->
        <div style="float: right;">
            <%= will_paginate @recomended_jobs, renderer: BootstrapPagination::Rails %>
        </div>
        <!-- pagination div ends here-->
    </div><!-- center section of the body ends here-->
</div>

