<%= form_for(@admin_pg_qualification, url: generate_admin_path(@admin_pg_qualification)) do |f| %>
  <% if @admin_pg_qualification.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @admin_pg_qualification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Enter name" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control", :placeholder => "Enter description" %>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
  &nbsp;
  <a href="<%= admin_pg_qualifications_url %>"><button type="button" class="btn btn-primary">Cancel</button></a>
<% end %>
