<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_pg_qualification.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_pg_qualification.description %>
</p>

<%= link_to 'Edit', edit_admin_pg_qualification_path(@admin_pg_qualification) %> |
<%= link_to 'Back', admin_pg_qualifications_path %>
