<%= form_for @admin_city, url: generate_admin_path(@admin_city) do |f| %>
  <% if @admin_city.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @admin_city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Enter name" %>
  </div>
  <div class="form-group">
    <%= f.label :location_id %>
    <%= f.collection_select :location_id, Location.all, :id, :name, {}, {:class => "form-control"}%>
  </div>  
  <button type="submit" class="btn btn-primary">Submit</button>
  &nbsp;
  <a href="<%= admin_cities_url %>"><button type="button" class="btn btn-primary">Cancel</button></a>
<% end %>
