<div class="panel panel-default cities_grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Cities</h3>
    </div>
    <div class="new_link_div">
      <a href="<%= new_admin_city_path %>" class="">
          <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-warning">New City</button>
          </div>
      </a>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Location</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @admin_cities.each_with_index do |admin_city, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= admin_city.name %></td>
          <td><%= admin_city.location.present? ? admin_city.location.name : "" %></td>
          <td>
            <%= link_to 'Edit', "/admin/cities/#{admin_city.id}/edit" %> &nbsp;
            <%= link_to 'Destroy', "/admin/cities/#{admin_city.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
