<div class="panel panel-default job_types_grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Employers</h3>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Company Name</th>
        <th>Contact Number</th>
        <th>Email</th>
        <th>Plan</th>
        <th>Available Download</th>
        <th>Available View</th>
        <th>Suspend</th>
        <th>Featured</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @employers.each_with_index do |employer, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= employer.company_name %></td>
          <td><%= employer.contact_number %></td>
          <td><%= employer.email_id %></td>
          <td>
            <%= select_tag "plan", options_from_collection_for_select(Plan.all, "id", "name", employer.plan.id), class: 'js-employer_plan', id:  employer.id %>
          </td>
          <td><%= get_download_limit(employer) %></td>
          <td><%= get_view_limit(employer) %></td>
          <td>
            <input type="checkbox" class="js-suspend_employer" name="featured[]" value="<%= employer.id %>" <% unless employer.active %>checked<% end %> />
          </td>
          <td>
            <input type="checkbox" class="js-featured_employer" name="featured[]" value="<%= employer.id %>" <% if employer.is_featured %>checked<% end %> />
          </td>
          <td>
            <%= link_to 'Destroy', admin_employer_path(employer.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
