<%= form_for(@employer, :html => { :class => "js-employer_form employer_form", :multipart => true }) do |f| %>
  
    <div id="employer_registeration">
        <h3 class="register"> 
        <%= @employer.new_record? ? "New Employer Registeration" : "Edit My Account" %> </h3>
        <br />
        <% if @employer.errors.any? %>
            <div id="error_explanation" style="margin-left: 0px; margin-bottom: 10px; text-align: left;">
              <ul>
              <% @employer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        <div class="field_container">
            <div class="form-group js-email_group">
                <label for="inputEmail3" class="col-sm-2 control-label label"><span class="required">*</span> Email </label>
                <input type="email" class="form-control input js-email" id="inputEmail3" placeholder="Email" name="employer[email_id]" value="<%= @employer.email_id %>">
                <p class="error_message js-error hide">
                    Please enter valid email id.
                </p>
            </div> 
            <% if @employer.new_record? %>
                <div class="form-group js-password_group">
                    <label for="inputPassword3" class="col-sm-2 control-label label"><span class="required">*</span>Password</label>
                    <input type="password" class="form-control input js-password" id="inputPassword3" placeholder="Password" name="user[password]" value="">
                    <p class="error_message js-error hide">
                        Please enter valid password.
                    </p>
                </div>
                <div class="form-group js-confirm_password_group">
                    <label for="inputPassword3" class="col-sm-2 control-label label"><span class="required">*</span>Confirm Password</label>
                    <input type="password" class="form-control input js-confirm_password" id="inputPassword3" placeholder="Confirm Password" name="user[confirm_password]">
                    <p class="error_message js-error hide">
                        Please enter valid password.
                    </p>
                    <p class="error_message js-confirm_password_error_match hide">
                        Please enter valid password.
                    </p>
                </div>
            <% end %>
        </div>
        <div class="field_container">
            <div class="form-group js-company_name_group">
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span> Company Name</label>
                <input type="text" class="form-control input js-company_name" id="text" placeholder="Company Name" name="employer[company_name]" value="<%= @employer.company_name %>">
                <p class="error_message js-error hide">
                    Please enter company name.
                </p>
            </div>
            <div class="form-group js-contact_number_group">
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>Contact Number</label>
                <input type="text" maxlength="10" class="form-control input js-contact_number" id="text" placeholder="Contact Number" name="employer[contact_number]" value="<%= @employer.contact_number %>">
                <p class="error_message js-error hide">
                    Please enter valid contact number.
                </p>
            </div>
            <div class=  <% if @employer.company_type == "company" %>checked<%end %>"form-group">
                <label class="label">
                    <input type="radio" name="employer[company_type]" id="optionsRadios1" value="company" <% if @employer.company_type == "company" || @employer.new_record? %>checked<%end %>> Company
                </label>
                <label class="label">
                    <input type="radio" name="employer[company_type]" id="optionsRadios1" value="consultant"  <% if @employer.company_type == "consultant" %>checked<%end %>> Consultant
                </label>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Address</label>
                <textarea class="form-control input" placeholder="Address" name="employer[address]" rows="3" columns="5"><%= @employer.address %></textarea>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Location</label>
                <select name="employer[location_id]" class="form-control js-employer_locations">
                    <option value="">Select Location</option>
                    <% @locations.each do |location| %>
                      <option value="<%= location.id %>" <%if location.id == @employer.location_id %>selected<% end %>>
                          <%= location.name %>
                      </option>
                    <% end %>        
                </select>
            </div>
            <div class="form-group js-cities">
                <% if @employer.city_id.present? %>
                    <label for="text" class="col-sm-2 control-label label">City</label>
                    <select name="employer[city_id]" class="form-control">
                      <% @cities.each do |city| %>
                          <option value="<%= city.id %>" <% if city.id == @employer.city_id %>selected<% end %>>
                              <%= city.name %>
                          </option>
                      <% end %>        
                    </select>
                <% end %>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Pincode</label>
                <input type="text" maxlength="6" class="form-control input" id="text" placeholder="Pincode" name="employer[pincode]" value="<%= @employer.pincode %>" />
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Contact Person</label>
                <input type="text" class="form-control input" id="text" placeholder="Contact Person" name="employer[contact_person]" value="<%= @employer.contact_person %>" />
            </div>
        </div>
        <div class="field_container">
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label"> About Company</label>
                <textarea class="form-control input" placeholder="About Company" name="employer[about_company]" rows="3" columns="5"><%= @employer.about_company %></textarea>                
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Company Website</label>
                <input type="text" maxlength="150" class="form-control input" id="text" placeholder="Company Website" name="employer[website]" value="<%= @employer.website %>"/>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Company Logo</label>
                <input type="file" id="exampleInputFile" name="employer_logo" />
                <p class="help-block">Maximum Upload size is 2MB</p>
            </div>
        </div>
        <% if @employer.new_record? %>
            <div class="col-sm-offset-2 col-sm-10 terms_conditions checkbox">
                <label style="margin-left:-84px;">
                  <input type="checkbox"> I agree with 
                  <a href="http://pharmavacancy.com/terms&amp;conditions" target="_blank" style="color:#f48639; text-decoration:none;"> Terms &amp; Conditions </a>
                </label><br>
                <label style="margin-left:-84px;">
                  <input type="checkbox"> I want to receive promotions on my email id.
                </label>
            </div>
        <% end %>
        <div class="button_container">
            <button type="button" class="btn btn-primary employer_registration_submit js-employer_registration_submit">Submit</button>
            &nbsp;&nbsp;
            <a href="<%= root_path %>">
                <button type="button" class="btn btn-warning employer_registration_submit">Cancel</button>
            </a>
        </div>
    </div>

<% end %>
