<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Phaema Vacancy</title>
</head>
<body>
<style type="text/css">


    div#emailbody table#itemcontentlist tr td div ul {
                    list-style-type:square;
                    padding-left:1em;
    }
    div#emailbody table#itemcontentlist tr td div {
        padding-left:6px;
        margin-left:1em;
    }
    div#emailbody table#itemcontentlist tr td div li {
        margin-bottom:1em;
        margin-left:1em;
    }


    table#itemcontentlist tr td a:link, table#itemconte=ntlist tr td a:visited, table#itemcontentlist tr td a:active, ul#summarylis=t li a {
        color:#000099;
        font-weight:bold;
        text-decoration:none;
    }
</style>
<div xmlns="http://www.w3.org/1999/xhtml" id="emailbody" style="margi=
n:0 2em;font-family:Georgia,Helvetica,Arial,Sans-Serif;line-height:140%;fon=
t-size:13px;color:#000000;">
    <table style="border:0;padding:0;margin:0;width:100%">
        <tr>
            <td style="vertical-align:top" width="99%">
                <h1 style="margin:0;padding-bottom:6px;">
                <a style="color:#888;font-size:22px;font-family:Arial, Helvetica, sans-se=
                rif;font-weight:normal;text-decoration:none;" href="http://www.pharmavacancy.com/">Pharma Vacancy</a>
                </h1>
            </td>
            <td width="1%" />
        </tr>
    </table>
    <hr style="border:1px solid #ccc;padding:0;margin:0" />
    <table id="itemcontentlist">
    	<% @jobs.each do |job| %>
	        <tr xmlns="">
	            <td style="margin-bottom:0;line-height:1.4em;">
	                <p style="margin:1em 0 3px 0;">
	                    <a name="1" style="font-family:Arial, Helvetica, sans-serif;font-size:1=
	                    8px;" href="<%= "/job/#{job.id}/apply_to_job" %>"><%= job.title %></a>
	                </p>
	                <p style="font-size:13px;color:#555;margin:9px 0 3px 0;font-family:Georgi=
	                a,Helvetica,Arial,Sans-Serif;line-height:140%;font-size:13px;">
	                <span>Posted:</span> <%= job.created_at %></p>
	                <div style="margin:0;font-family:Georgia,Helvetica,Arial,Sans-Serif;line-=
	                height:140%;font-size:13px;color:#000000;">
	                    <%= job.description %>
	                    <br/>
	                    <br/>
	                </div>
	            </td>
	        </tr>
	    <% end %>
    </table>
</div>
</body>
</html>