<%= form_for @admin_plan, url: generate_admin_path(@admin_plan) do |f| %>
  <% if @admin_plan.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @admin_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Enter name" %>
  </div>
  <div class="form-group">
    <%= f.label :view_limit %>
    <%= f.number_field :view_limit, :class => "form-control", :placeholder => "View Limit" %>
  </div>
  <div class="form-group">
    <%= f.label :download_limit %>
    <%= f.number_field :download_limit, :class => "form-control", :placeholder => "Download Limit" %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, :class => "form-control", :placeholder => "Price" %>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
  &nbsp;
  <a href="<%= admin_plans_url %>"><button type="button" class="btn btn-primary">Cancel</button></a>
<% end %>
