<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_city.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @admin_city.location %>
</p>

<%= link_to 'Edit', edit_admin_city_path(@admin_city) %> |
<%= link_to 'Back', admin_cities_path %>
