<%= form_for(@candidate, url: '/candidate_registration/step1', :html => { :class => 'js-candidate_reg1', :multipart => true }) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input type="hidden" name="candidate[reg_status]" value="1" />
  <div id="candidate_form_registration">
    <div id="candidate_registeration">
        <h3 class="register"> 
        <%= @candidate.new_record? ? "New Candidate Registeration" : "Edit My Account" %> </h3>
        <br/>
        <div class="field_container">
            <div class="form-group js-email_group">
                <label for="inputEmail3" class="col-sm-2 control-label label"><span class="required">*</span> Email </label>
                <input type="email" class="form-control input js-email" id="inputEmail3" placeholder="Email" name="candidate[email_id]" value="<%= @candidate.email_id %>">
                <p class="error_message js-error hide">
                    Please enter valid email id.
                </p>
                <p class="error_message js-error_valid hide">
                    This email id already exist.
                </p>
            </div> 
            <% if @candidate.new_record? %>
                <div class="form-group js-password_group">
                    <label for="inputPassword3" class="col-sm-2 control-label label"><span class="required">*</span>Password</label>
                    <input type="password" class="form-control input js-password" id="inputPassword3" placeholder="Password" name="user[password]" value="">
                    <p class="error_message js-error hide">
                        Please enter valid password.
                    </p>
                </div>
                <div class="form-group js-confirm_password_group">
                    <label for="inputPassword3" class="col-sm-2 control-label label"><span class="required">*</span>Confirm Password</label>
                    <input type="password" class="form-control input js-confirm_password" id="inputPassword3" placeholder="Confirm Password" name="user[confirm_password]">
                    <p class="error_message js-error hide">
                        Please enter valid password.
                    </p>
                    <p class="error_message js-confirm_password_error_match hide">
                        password and confirm passwrd not matching.
                    </p>
                </div>
            <% end %>
        </div>
        <div class="field_container">
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label"> Full Name</label>
                <input type="text" class="form-control input" id="text" placeholder="Full Name" name="candidate[full_name]" value="<%= @candidate.full_name %>">
            </div>
            <div class="form-group js-candidate_locations_group">
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>Current Location</label>
                <select name="candidate[current_location_id]" class="form-control js-candidate_locations">
                    <option value="">Select Location</option>
                    <% @locations.each do |location| %>
                      <option value="<%= location.id %>">
                          <%= location.name %>
                      </option>
                    <% end %>        
                </select>
                <p class="error_message js-candidate_locations_error hide">
                        Please select location.
                </p>
            </div>
            <div class="form-group js-cities">
                <% if @candidate.current_city_id.present? %>
                    <label for="text" class="col-sm-2 control-label label">Current City</label>
                    <select name="candidate[current_city_id]" class="form-control js-cities">
                      <% @cities.each do |city| %>
                          <option value="<%= city.id %>" <% if city.id == @candidate.city_id %>selected<% end %>>
                              <%= city.name %>
                          </option>
                      <% end %>        
                    </select>
                <% end %>
                <p class="error_message js-cities_error hide">
                        Please select current city.
                </p>
            </div>
            <div class="form-group js-phone_number_group">
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>Phone Number</label>
                <input type="text" maxlength="10" class="form-control input js-phone_number" id="text" placeholder="Phone Number" name="candidate[phone_number]" value="<%= @candidate.phone_number %>">
                <p class="error_message js-phone_number_error hide">
                    Please enter valid phone number.
                </p>
            </div>
        </div>
        <!--
        <div class="field_container">
            <div class="form-group">
                <button type="button" class="btn btn-primary" style="margin-bottom: 10px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add PG Qualification
                </button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" style="margin-bottom: 10px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Certification Courses
                </button>
            </div>
        </div>
        -->
        <div class="field_container" id="upload_resume">
            <div class="form-group js-upload_resume_group">
                <label for="exampleInputFile" class="control-label label">Upload Resume</label>
                <%= file_field_tag 'resume' %>
                <p class="help-block left_side">Supported Formates: doc,docx,rtf,pdf,max file size: 300kb</p>
                <p class="error_message js-upload_resume_error hide"> Please enter a valid file formate </p>
            </div>
            <div class="checkbox js-checkbox_group">
                <label>
                    <input type="checkbox" name="job_alert" value="1"> Jobs Alerts <br>
                    <input type="checkbox" name="term_conditions" value="accepted" class="js-terms_conditions"> I have read and agree to the <a href="http://pharmavacancy.com">Terms&amp;Conditions</a> governing the use of pharmavacancy.com
                </label>
                <p class="error_message js-checkbox_error hide" style="padding-left: 2px;">
                        Please check terms &amp; conditions.
                </p>
            </div>            
        </div>
        
        <div>
            <button type="button" class="btn btn-primary candidate_registration_submit js-candidate_step1_registration_submit">Join Pharmavacancy</button>
        </div>
    </div>
  </div>



<% end %>
