<%= form_for(@candidate, url: "/candidate_registration/#{@candidate.id}/step3", :html => { :class => 'js-candidate_reg3' }) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input type="hidden" name="candidate[reg_status]" value="3" />
  <div id="candidate_form_registration">
    <div id="candidate_registeration">
        <h3 class="register"> 
            Some requiters requires this information. Please Complete below informations.
        <br />
        <div class="field_container">
            <div class="form-group multiple_select_option">
                <label for="text" class="col-sm-2 control-label label"style="margin-top: 8px"> Date of Birth: </label>

                <select name="candidate[dob_day]" class="form-control select_option">
                    <%= render :partial => 'shared/days', :locals => { :label => 'Day' }  %>
                </select>
                <select name="candidate[dob_month]" class="form-control select_option" onblur="checkEmpty(this);">
                    <option value="0"> Month</option>
                    <option value="1"> Jan</option>
                    <option value="2"> Feb</option>
                    <option value="3"> Mar</option>
                    <option value="4"> Apr</option>
                    <option value="5"> May</option>
                    <option value="6"> Jun</option>
                    <option value="7"> Jul</option>
                    <option value="8"> Aug</option>
                    <option value="9"> Sep</option>
                    <option value="10"> Sep</option>
                    <option value="11"> Oct</option>
                    <option value="12"> Nov</option>
                    <option value="13"> Dec</option>
                </select>
                <select name="candidate[dob_year]" class="form-control select_option" onblur="checkEmpty(this);">
                    <%= render :partial => 'shared/years', :locals => { :label => 'year' }  %>
                </select>
            </div> 
            <div class="form-group multiple_select_option">
                <label for="text" class="col-sm-2 control-label label"style="margin-top: 8px"> Gender: </label>

                <select name="candidate[gender]" class="form-control select_option">
                    <option value="0"> Male</option>
                    <option value="1"> Female</option>
                </select>
            </div>
            <div class="form-group multiple_select_option">
                <label for="text" class="col-sm-2 control-label label"style="margin-top: 8px"> Marital Status: </label>
                <select name="candidate[marital_status]" class="form-control select_option" onblur="checkEmpty(this);">
                    <option value="0"> Single</option>
                    <option value="1"> Married</option>
                    <option value="2"> Widowed</option>
                    <option value="3"> Divorsed</option>
                    <option value="4"> Separated</option>
                    <option value="5"> Others</option>
                    
                </select>
            </div>
            <div class="form-group multiple_select_option">
                <label for="text" class="col-sm-2 control-label label"style="margin-top: 8px"> Mailing Address: </label>
                <textarea row="2" class="form-control input" name="candidate[mailing_address]" /></textarea>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">City:</label>

                <select name="candidate[home_town]" class="form-control">
                      <% @cities.each do |city| %>
                          <option value="<%= city.name %>">
                              <%= city.name %>
                          </option>
                      <% end %>        
                    </select>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label">Pincode:</label>
                <input type="text" class="form-control input" name="candidate[home_town_pincode]" >
            </div>
            
        </div>
        <div class="field_container" style="overflow:auto">
            <div class="form-group"style="margin-bottom: 20px">
                <label for="text" class="col-sm-2 control-label label">Languages Known:</label>
            </div>
            <div class="languages_container">
                <div id="language" >
                <p style="margin-bottom: 11px;">Language</p>
                <input class="form-control language_input" name="languages[1][name]" />
                <input class="form-control language_input" name="languages[2][name]">
                <input class="form-control language_input" name="languages[3][name]">
                </div>
                <div id="Proficiency">
                <p>Proficiency</p>
                <select class="form-control select_option language_input" name="languages[1][proficiency_level]" />
                    <option value="0"> Select</option>
                    <option value="1"> Beginer</option>
                    <option value="2"> Proficient</option>
                    <option value="3"> Expert</option>
                </select>
                <select class="form-control select_option language_input" name="languages[2][proficiency_level]" />
                    <option value="0"> Beginer</option>
                    <option value="1"> Beginer</option>
                    <option value="2"> Proficient</option>
                    <option value="3"> Expert</option>
                </select>
                <select class="form-control select_option language_input" name="languages[3][proficiency_level]" />
                    <option value="0"> Beginer</option>
                    <option value="1"> Beginer</option>
                    <option value="2"> Proficient</option>
                    <option value="3"> Expert</option>
                </select>
                </div>
                <div id="Read">
                <p>Read</p>
                <input type="checkbox" class="checkbox" name="languages[1][read]" value="1"/>
                <input type="checkbox" class="checkbox" name="languages[2][read]" />
                <input type="checkbox" class="checkbox" name="languages[3][read]" />
                </div>
                <div id="Write">
                <p>Write</p>
                <input type="checkbox" class="checkbox" name="languages[1][write]" value="1"/>
                <input type="checkbox" class="checkbox" name="languages[2][write]" value="1"/>
                <input  type="checkbox"class="checkbox" name="languages[3][write]" value="1"/>
                </div>
                <div id="Speak">
                <p>Speak</p>
                <input type="checkbox" class="checkbox" name="languages[1][speak]" value="1"/ >
                <input type="checkbox" class="checkbox" name="languages[2][speak]" value="1"/>
                <input type="checkbox" class="checkbox" name="languages[3][speak]" value="1"/>
                </div>
            </div>
        </div>
              
        <div>
            <button type="button" class="btn btn-primary candidate_registration_submit js-candidate_step3_registration_submit">Complete My Profile</button>
            <span style="padding-left: 10px; float: left;">
                <a href="<%= root_path %>" style="font-size: 15px;">Skip</a>
            </span>
        </div>
    </div>
</div>

<% end %>