<%= form_for(@candidate, url: "/candidate_registration/#{@candidate.id}/step2", :html => { :class => 'js-candidate_reg2' }) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <input type="hidden" name="candidate[reg_status]" value="2" />
  <div id="candidate_form_registration" class="candidate_form_registration_step2">
    <div id="candidate_registeration">
        <h3 class="register"> 
            Now, to be eligible for job opportunity, please provide the information below
        </h3>
        <br />
        <div class="field_container" style="overflow-x:auto; height: auto;">
            <div class="form-group js-resume_headline_group">
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>Resume Headline:</label>
                <input class="form-control input js-resume_headline" placeholder="Enter Resume Headline" name="candidate[resume_headlines]">
                <p class="help-block" style="margin-left:30px">Your Resume Headline is the first thing Recruiters will see.</p>
                <p class="error_message js-error hide pl168">
                    Please enter Resume Headline.
                </p>
            </div>

            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label"> Job Profile:</label>
                <textarea class="form-control input"row="2" name="candidate_profile_summary[summary]"></textarea>
            </div>

            <div class="form-group js-ug_qualification_group">
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span> UG Qualification </label>
                <select name="education[ug][course_id]" class="form-control js-ug_qualification">
                    <% @ug_qualifications.each do |ug_qualification|%>
                        <option value="<%= ug_qualification.id%>">
                            <%= ug_qualification.name %>
                        </option>
                    <% end %>
                </select>
                <p class="error_message pl168 js-error hide">
                    Please select ug qualification.
                </p>
                <label class="options" style="margin-left: 160px">
                    <% education_types.each do |key, value| %>
                        <input type="radio" name="education[education_type]" id="optionsRadios1" value="<%= key %>" checked> <%= value %>
                    <% end %>
                </label>
            </div>

            <div class="form-group js-graduation_year_group" style="display: block;overflow: auto;">
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>Graduated in</label>
                <select name="education[year]" class="form-control js-graduation_year">
                    <%= render :partial => 'shared/years', :locals => { :label => 'year' }  %>
                </select>
                <p class="error_message js-error hide pl168">
                    Please select Graduation Year.
                </p>
            </div>
            
            <div class="form-group js-pg_qualification_group">
                <label for="text" class="col-sm-2 control-label label"><span class="required">*</span>PG Qualification</label>
                <select class="form-control input js-pg_qualification" name="education[pg][course_id]">
                    <% @pg_qualifications.each do |pg_qualification|%>
                        <option value="<%= pg_qualification.id %>"><%= pg_qualification.name %></option>
                    <% end %>
                </select>
                <p class="error_message js-error hide pl168">
                    Please select PG Qualification.
                </p>
            </div>
        </div>
    <div class=""> <!--middle container starts here-->
        <div class="L_field_container">
            <div class="label sub_form_heading">Current Job</div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label md">Company Name:</label>
                <input type="hidden" name="employment[is_present]" value="1" />
                <input type="text" class="form-control input md" id="" placeholder="Enter Current Company Name" name="employment[employer_name]">
            </div>
            
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label md">
                    <span class="required">*</span>Area Worked:
                </label>
                <select class="form-control js-category large_select" name="employment[category_id]">
                    <% @vacancy_categories.each do |category| %>
                        <option value="<%= category.id %>">
                            <%= category.name %>
                        </option>
                    <% end %>        
                </select>
                <p class="error_message js-error hide">
                    Please select Area Worked.
                </p>
            </div>

            <div class="form-group multiple_select_option">
                <label for="text" class="col-sm-2 control-label label md" style="margin-top: 5px"> CTC:</label>
                <select name="candidate[salary_lakhs]" class="form-control L_sm_select" onblur="checkEmpty(this);">
                    <%= render :partial => 'shared/annual_salary_lakh', :locals => { :label => 'select' }  %>
                        </select>
                    <span class="connector"> Lakhs </span>
                <select name="candidate[salary_thousands]" class="form-control L_sm_select">
                    <%= render :partial => 'shared/annual_salary_thousand', :locals => { :label => 'select'}%>
                </select>
                <span class="connector"> Thousands </span>
            </div>
            
            <div class="form-group multiple_select_option">
                <label for="text" class="col-sm-2 control-label label md"> Duration:</label>
                <select name="employment[start_month]" class="form-control L_sm_select multiple_select_option" onblur="checkEmpty(this);">
                    <option value="0"> Month</option>
                    <option value="1"> Jan</option>
                    <option value="2"> Feb</option>
                    <option value="3"> Mar</option>
                    <option value="4"> Apr</option>
                    <option value="5"> May</option>
                    <option value="6"> Jun</option>
                    <option value="7"> Jul</option>
                    <option value="8"> Aug</option>
                    <option value="9"> Sep</option>
                    <option value="10"> Sep</option>
                    <option value="11"> Oct</option>
                    <option value="12"> Nov</option>
                    <option value="13"> Dec</option>
                </select>
                <select name="employment[start_year]" class="form-control L_sm_select">
                    <%= render :partial => 'shared/years', :locals => { :label => 'year' }  %>
                </select>
                <span class="connector"> to Present </span>
                <input type="hidden" name="employment[end_month]" value="0" />
                <input type="hidden" name="employment[end_year]" value="0" />
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label md">Therapeutic Segments: </label>
                <select  class="form-control large_select" name="employment[therapeutic_segment_id]">
                    <% therapeutic_segments.each do |key, value|%>
                        <option value="<%= key %>"> 
                            <%= value %>
                        </option>
                    <% end %>
                </select>
            </div>
            <div class="form-group multiple_select_option">
                <label for="text" class="col-sm-2 control-label label md" style="margin-top: 8px;"> Notice Period:</label>
                <select name="candidate[notice_period]" class="form-control large_select">
                    <option value="0"> Select</option>
                    <option value="1"> Serving notice period</option>
                    <option value="2"> 15 days or less</option>
                    <option value="3"> 1 month </option>
                    <option value="4"> 2 month </option>
                    <option value="5"> 3 month </option>
                    <option value="6"> More than 3 months</option>
                </select>
                <p class="help-block L_help_block ">Please indicate the least duration of notice period you would have to serve</p>
            </div>
        </div>
        <!--</div>
        <!Left container end here-->
        <!--Right container starts from here
        <div class="R_expected_job">-->
        <div class="L_field_container R_field_container" id="expected">
            <div class="label sub_form_heading">Expected Job</div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label md"> Expected Designation:</label>
                <select  class="form-control large_select" name= "desired_profile[designation_id]">   
                    <% @designations.each do |designation|%>
                        <option value="<%= designation.id%>"> 
                            <%= designation.name %>
                        </option>
                    <% end %>
                </select>
            </div>

            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label md">
                    Area of Interest1:
                </label>
                <select class="form-control large_select" name="desired_profile[area2_id]">
                    <% @vacancy_categories.each do |category| %>
                        <option value="<%= category.id %>">
                            <%= category.name %>
                        </option>
                    <% end %>        
                </select>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label md">
                    Area of Interest2:
                </label>
                <select class="form-control large_select" name="desired_profile[area2_id]">
                    <% @vacancy_categories.each do |category| %>
                        <option value="<%= category.id %>">
                            <%= category.name %>
                        </option>
                    <% end %>        
                </select>
            </div>
            
            <div class="form-group multiple_select_option">
                <label for="text" class="col-sm-2 control-label label sm" style="margin-top: 5px">Expected CTC:</label>
                <select name="desired_profile[expected_sal_lakhs]" class="form-control L_sm_select">
                    <%= render :partial => 'shared/annual_salary_lakh', :locals => { :label => 'select' }  %>
                        </select>
                    <span class="connector"> Lakhs </span>
                <select name="desired_profile[expected_sal_thousands]" class="form-control L_sm_select" onblur="checkEmpty(this);">
                    <%= render :partial => 'shared/annual_salary_thousand', :locals => { :label => 'select'}%>
                </select>
                    <span class="connector"> Thousands </span>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label md"><span class="required">*</span> Expected City:</label>
                <select name="desired_profile[city_id]" class="form-control large_select js-exp_city">
                    <option value="">Select Cities</option>
                        <% @cities.each do |city| %>
                        <option value="<%= city.id %>">
                            <%= city.name %>
                        </option>
                        <% end %>        
                </select>
                <p class="error_message js-error hide">
                    Please select Expected city.
                </p>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label label md">Therapeutic Segments:</label>
                <select  class="form-control large_select" name="desired_profile[therapeutic_segment]">
                    <% therapeutic_segments.each do |key, value|%>
                        <option value="<%= key %>"> 
                            <%= value %>
                        </option>
                    <% end %>
                </select>
            </div>
            <div class="form-group md">
                <label for="text" class="col-sm-2 control-label label md">Reason for job change:</label>
                <input type="text" class="form-control input" id="" name="desired_profile[change_reason]">
            </div>
        </div>
   </div>  <!--middle container end here-->
        <div style="float: left; width: 200px;">
            <button type="button" class="btn btn-primary candidate_registration_submit save_my_profile js-candidate_step2_registration_submit">Save My Profile</button>
        </div>
        <div style="padding-left: 10px; float: left;">
            <a href="<%= root_path %>" style="font-size: 15px;">Skip</a>
        </div>
    </div>
  </div>

<% end %>
