.right-head-sec {
	margin-top: 75px;
}

.admin_page_container {
	width: 100%;
	height: auto;
	min-height: 500px;
	overflow: auto;
	border-top: solid 1px #dddddd;
	padding-top: 20px;
	background-color: #DEDEDE;
}

.login_div {
	min-height: 214px;
	width: 67%;
	overflow: auto;
	border: solid 1px #F37D21;
	margin: auto;
	padding: 20px;
	margin-top: 50px;
}

.label {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.admin_login_form {
	 font-size: 14px;
}

.admin_wrapper {
	width: 50%;
	margin: auto;
}

.admin_wrapper.employers {
	width: 82%;
}

.panel.panel-default.industries_grid_container {
	margin: auto;
}
.new_link_div {
	float: right;
	margin-right: 15px;
}
.panel_heading_text {
	float: left;
	width: 60%;
}

.panel-heading {
	overflow: auto;
}

#error_explanation {
	color: #df1e05;
	margin-bottom: 15px;
}


 #header-sec .logo_image {
	width: 200px;
}

#header-sec {
	height: 115px;
}

.nav {
	margin-top: 12px;
}
body .top-section {
	width: 1177px;
}