.hardblock{display:block !important; visibility:visible;}
.showerror{color:red;}
span.errorForm{
    color: #d10909;
    width: auto;
    float: left;
    padding: 0 0 0 12px;
    text-align: left;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 0px;
}
#wrapper #main-body{width:100%;min-height:125px;}
#boxunder{margin-top: 40px;}
.breadcum{margin:35px 0 15px;}
.box{border:0px;width:765px;margin-top:10px;}
#mct #leftside p{margin:0px;}
#mct #leftside .title-page{margin-top:0px;}
.lt-text-add{padding:10px;}
.errorForm{margin-left:10px;}
.register {font-size: 20px; text-align: center;border-bottom: 1px solid #dddddd;color:#737373;}
.required {color: #cf202e; font-size: 14px;}
.label{color:#737373;margin-bottom: 6px;display:inline-block;text-align:initial; font-size: 14px;padding-left: 0px;font-weight: 600;}
.input {
    width:430px; line-height: 18px;color:#595959; border: 1px solid #dddddd;font-size: 16px;
    font-size: 12px;
    font-weight: normal;
}
.form-control {
    font-size: 12px;
    font-weight: normal;
}
.linkdin {text-align: center;}
.join_separator{font-size: 16px;font-style: italic; margin: 10px;color:#999999;}

#rightside {
	width: 206px;
	float: right;
}

#leftside {
	padding: 0px 20px 20px 20px;
	float: left;
	width: 470px;
	height: auto;
	margin: 0px 50px;
	margin-left: 133px;
}

#main-body {
    overflow-x: hidden;
}


#wrapper #main-body.candidate_registration {
    padding-top: 35px;
}

.register {
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.candidate_registration_submit {
	margin-top: 10px;
}

.dream_job_heading {
	color: #F46600;
	font-weight: bold;
}

#search-section {
	height: 93px;
  	background: url(../images/search-sec-bg.jpg) repeat-x;
  	border-top: 1px solid #ccc;
  	border-bottom: 1px solid #ccc;
}

#left-search-sec {
	margin-top: 5px;
}

.search-one .search_button {
    width: 124px; 
    height:32px; 
    display: block;
    background-color: #f48639;
    color: #ffffff;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
}
select#experience {
	width: 60px;
}
select#min_salary, select#max_salary {
	width: 101px;
}

select#faid {
	width: 136px;
}

li.min_salary_item {
	width: 101px;
}

.search-one ul li.search_button_item {
	margin-right: 0px;
}
#candidate_registration {
    margin-top: -10px;
    float: left;
}
.select_option {
    width: 78px;
    margin-left: 5px;
    padding: 2px;
    
}
#upload_resume {
    color: #737373;
    padding: 5px 0px;
}
.options {
    color: #737373;
    margin-top: 8px;
    font-weight: 500;
}
.connector {
    margin: 8px 5px;
}
.multiple_select_option {
    overflow-y: auto;
}
#language {
    width: 100px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
#language p {
    color: #737373;
    font-weight: 500;
    margin-right: px;
    margin-left: px;
}
.language_input {
    margin: 5px 0px;
    height: 30px;

}
#Proficiency {
    width: 92px !important;
    float: left;
    display: inline-block;
    margin-right: 10px;
}
#Proficiency select {
    padding: 2px;
    width: 92px  !important;
    height: 30px;
}
#Read {
    width: 30px;
    height: 150px;
    float: left;
    display: inline-block;
    margin-right: 10px;
}
#Write {
    width: 30px;
    float: left;
    display: inline-block;
    margin-right: 10px;
}
#Speak {
    width: 30px;
    float: left;
    display: inline-block;
    margin-right: 10px;
}
#Read  input {
    margin: 8px;
    margin-bottom: 20px;
    margin-top: 16px;
}
#Write input {
    margin: 8px;
    margin-bottom: 20px;
    margin-top: 16px;
}
#Speak  input {
    margin: 8px;
    margin-bottom: 20px;
    margin-top: 16px;
}
.languages_container {
    display: block;
    overflow: auto;
    width: 90%;
    margin-left: 8px
}

.languages_container p {
    font-weight: normal;
    font-size: 13px;
    color: #737373;
}

#candidate_form_registration {
    width: 56%;
    margin: auto;
    padding: 0px 20px 20px 20px;
    height: auto;
}
#candidate_form_registration select.form-control  {
    width: 20%;
}
#candidate_form_registration select.form-control.large_select  {
    width: 30%;
    padding: 1px;
    margin-left: 10px;
}

#candidate_form_registration .sub_form_heading {
    width: 90%;
  text-align: center;
  margin-bottom: 11px;
}
#candidate_form_registration .help-block {
    font-size: 10px;
    padding-left: 138px;
}
#candidate_form_registration select.form-control.sm_select  {
    width: 13%;
}

#candidate_form_registration .error_message {
    padding-left: 138px;
}
#candidate_form_registration .help-block.left_side {
    padding-left: 2px;
}
.L_field_container {
    border-right: 1px dashed #dddddd;
    width: 420px;
    padding-right: 5px;
    float: left;
}
.R_field_container{
    border: none;
    padding-left: 15px;
}
.input {
    width:  306px;
}
.L_sm_select {
    width: 69px !important;
    padding: 1px;
    float: left;
    margin-right: 2px;
}
.L_help_block {
    padding-left: 146px !important;
}
.candidate_form_registration_step2 {
    width: 69% !important;
}
.save_my_profile {
    /*position: relative;
    top: 13px;
    left: -422px;*/
}

.control-label.label.sml {
    width: 80px;
}

.control-label.label.md {
    width: 120px;
}

.control-label.label.sml {
    width: 100px;
}

.input.md {
    width: 260px;
}

#candidate_form_registration .error_message.pl168 {
    padding-left: 168px;
}