.candidate_body #wrapper {
    width: 100%;
    overflow: auto;
    clear: both;
    padding-top: 8px;
    border-top: 1px solid #dddddd;
    font-family: 'Open Sans',sans-serif;
}

.candidate_body #main-body {
    padding-left: 100px;
}

.candidate_body .middle_container {
    float: left;
    width: 67%;
    min-width: 700px;
}

.candidate_body .center-sec {
    width: 98%;
}

.candidate_body .left_side_bar {
    width: 15%;
    border: 1px solid #ccc;
    float: left;
    overflow: auto;
    min-height: 200px;
    padding-bottom: 10px;
}

.candidate_body .right_side_bar {
    width: 13%;
    border: 1px solid #ccc;
    float: left;
    overflow: auto;
    min-height: 200px;
}

.candidate_body .center-sec {
    margin-left: 12px;
}

.candidate_body .mid_heading, .candidate_body .profile_heading {
    padding-left: 9px;
    border-bottom: 2px solid #f48639;
    line-height: 16px;
    font-weight: 500;
    height: 23px;
    font-weight: bold; 
    font-size: 14px;
}

.candidate_body .mid_heading .view_all {
    margin-left: 3px;
    color: #126ba6;.
}

.candidate_body .left_side_bar_heading {
    height: 40px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    line-height: 36px;
    padding-left: 5px;
    padding-left: 2px;
}

.candidate_body  .left_menu_section {
    height: auto;
    margin: 17px 4px 0px 4px;
}

.candidate_body  .left_menu_heading {
    border-bottom: 2px solid #f48639;
    color: #434343;
    font-size: 12px;
    font-weight: bold;
    line-height: 19px;
}
.candidate_body .left_side_ul {
    margin-top: 5px;
}
.candidate_body .left_side_ul li {
    line-height: 25px;
    border-bottom: solid 1px #ccc;
    padding-left: 2px;
}

/* Profile Page */
.candidate_body .welcome_msg {
    font-size: 14px;
    line-height: 15px;
    clear: both;
    padding-left: 9px;
    margin-bottom: 10px;
}
.profile_section {
    margin-bottom: 18px;
}
.candidate_body .profile_heading {
    font-size: 16px;
}
.profile_section i {
    color: #aaa;
    font-style: normal;
}

.profile_section .profList li {
    color: #444;
}
.candidate_name {
    line-height: 28px;
    margin-left: 8px;
    font-size: 14px;
}
.resume_headline {
    margin-left: 8px;
}
.key_skills {
    height: auto;
    clear: both;
    margin-left: 8px;
    padding-top: 5px;
}

.section_edit_link {
    font-size: 12px;
    margin-left: 8px;
    font-weight: normal;
}
.profile_summary {
    margin-top: 5px;
}
.employments_list {
    margin-top: 10px;
}
.employment_position {
    margin-top: 10px;
    display: block;
    overflow: auto;
}
.company_details {
    display: block;
    overflow: auto;
}
.skill_table {
    border: 1px solid #c2c6c9;
  border-width: 0 0 1px 1px;
      display: table;
  border-collapse: separate;
   font-size: 12px;
    color: #444;
      margin-top: 10px;
      margin-left: 0px;

}
.skill_table td {
    padding: 5px 10px;
  border: 1px solid #c2c6c9;
  border-width: 1px 1px 0 0;
}
.skill_table th {
  padding: 6px 10px;
  border: 1px solid #c2c6c9;
  border-width: 1px 1px 1px 0;
  color: #666;
}
.education_list {
    width: 100%;
    padding-left: 0px;
}
.other_details {
    overflow: auto;
    clear: both;
    margin-top: 15px;
}
.education_list li {
    padding: 5px 0 5px 0;
}
.language_table td {
    padding: 2px;
}
.profile_section_content {
    color: #444;
}

/* Edit Profile Form */
.candidate_body .center-sec.edit_profile {
    width: 500px;
}
.candidate_body .center-sec.edit_profile .label {
    color: #000000;
    font-size: 12px; 
}
.select_option {
    margin-right: 5px;
    float: left;
    width: 85px; /*used many so be careful in changing its width*/
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 2px;
}
.duration_select {
    width: 101px;
    float: left;
    margin-right: 3px;
    /*margin-left: 0px;used in project dutaion so removing*/
}

.duration_text {
    width: 20px;
    float: left;
    text-align: center;
    line-height: 30px;
}
.edit_inline {
    width: 100%;
    display: block;
    margin-top: 3px;
}
.connector {
    float: left;
    line-height: 30px;
    margin: 0 2px 0 2px;
}

.histroy_back {
    display: block;
    float: right;
    font-size: 13px;
    font-weight: normal;
}
