table { border-collapse: collapse;  border-spacing: 0;}
.informationwindow,#newsletterwindow,#my-contact-div{display:none;}
#wrapper #main-body{/* width: 1000px; */margin: 0 auto;min-height: 350px;margin-top: 1px;}
input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
}
.breadcum{margin:20px 0 15px;font-size:12px;color:#919191;}
.breadcum a{color:#d0060a;text-decoration:none;}
.breadcum a:hover{color:#d0060a;text-decoration:underline;}
.fleft{float: left;}
.clear{clear: both;}
.serch-hd-n{margin-bottom: 5px;line-height: 25px;}
.serch-hd-n h1{color: #000;font: 20px Arial, sans-serif;}
.serch-hd-n h1 span{color: #e30613;}
.emp_section{float:left;width:300px;height:200px;border-right:1px solid #e1e1e1}
.emp_section h2{color:#555;font:18px Arial, sans-serif}
.emp_section h2 span{font:18px Arial, sans-serif}
.small_text_conta{color:#767676;margin-top:20px;font:12px/20px Arial,Helvetica,sans-serif}
.small_text_conta span{color:#3d3d3d;font:12px Arial,Helvetica,sans-serif}
.small_text_conta a{color:#d1060a;text-decoration:underline;font:12px Arial,Helvetica,sans-serif}
.small_text_conta a:hover{color:#d1060a;text-decoration:none;font:12px Arial,Helvetica,sans-serif}
.click_butt{width:215px;height:31px;margin:40px 0 0}
.seek_section{float:left;width:339px;height:200px;border-right:1px solid #e1e1e1;margin-left:40px}
.seek_section h2{color:#555;font:18px Arial, sans-serif}
.seek_section h2 span{font:18px Arial, sans-serif}
.left_txt_cont{float:left;text-align:left;width:120px}
.right_txt_cont{float:left;text-align:left;margin-left:10px;line-height:11px;}
.click_butt2{width:255px;height:31px;margin:20px 0 0}
.sales_section{float:left;width:278px;height:200px;margin-left:40px}
.sales_section h2{color:#494949;padding:0 0 15px;font:15px Arial, sans-serif}
.mail_id{float:left;margin-bottom:15px}
.mail_id img{padding-right:10px}
.mail_id a{color:#d1060a;text-decoration:underline;font:12px Arial,Helvetica,sans-serif}
.mail_id a:hover{color:#d1060a;text-decoration:none;font:12px Arial,Helvetica,sans-serif}
.line_conta{width:100%;height:1px;margin:30px 0;background:#e1e1e1}

.privacy_box{ margin-bottom:20px;}
.lft_pri{ float:left; width:30px; height:30px; text-align: center; line-height:30px; color:#fff; background-color:#e30613; font-size:12px;}
.rht_pri{ float:left; margin-left:10px; width:960px; }
.rht_pri h2 { background-color:#000; font-size:12px; color:#fff; width:300px; height:30px; line-height:30px; padding-left:20px; text-transform:uppercase;}
.rht_pri p{ font-size:12px; color:#676767; line-height:18px;}
.rht_pri p strong{ color:#131313;}


/* #acordation-main{width:700px} */
.acord-part p{color:#646262!important;font:13px Arial,Helvetica,sans-serif}
#acordation-main .acord-part p:hover{color:#646262!important}

.menu{background:none !important;border-bottom: 1px solid #ccc !important;}
#menus{border: none !important;border-bottom: 1px solid #ccc !important;width:640px;padding:0px !important;top:72px;height:300px;}
#menus .menu li{border: none!important;}
#menus .menu li a{line-height: 20px;background-color:#EFEFEF !important;}
#menus .menu .ui-tabs-active{text-decoration: none;background-color: #FFF;}
#menus .menu .ui-tabs-active a{background-color: #FFF !important;}
.breadcrum{margin-top:0px;}

.rht-new{
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 99;
}
.feat-job{float:left;}

.job-heading h3 a{color:#df1e05;}

.viw-mre-btm-nav {
    float: right;
    width: auto;
    margin: 30px 0 10px;
}
.viw-mre-btm-nav ul {
    list-style: none;
}
.viw-mre-btm-nav ul li {
    float: left;
    border: 1px solid #ddd;
    margin: 0 6px;
    padding: 2px 5px;
}
.viw-mre-btm-nav ul li a {
color: #d8325d;
text-decoration: none;
}


.scrollbar1{width:172px;clear:both;margin:0 0 10px}
.scrollbar1 .viewport{width:165px;padding:0;height:202px;overflow:hidden;position:relative;}
.scrollbar1 .viewport input[type=checkbox]{margin:4px;margin-left:0px; padding:0px;}
.scrollbar1 .overview{list-style:none;position:absolute;left:3px;top:1px}
.scrollbar1 .thumb .end,.scrollbar1 .thumb{background:#1f75b2;}
.scrollbar1 .scrollbar{position:relative;float:right;width:7px}
.scrollbar1 .track{height:100%;width:7px;position:relative;background:#4f4f4f}
.scrollbar1 .thumb{height:20px;width:7px;cursor:pointer;overflow:hidden;position:absolute;top:0}
.scrollbar1 .thumb .end{overflow:hidden;height:5px;width:7px}
.scrollbar1 .disable{display:none}
.noSelect{user-select:none;-o-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none}
.jqury-ui-slider{}
.scrollbar1.wdth-add2{width:750px}
.scrollbar1.wdth-add2 .viewport{width:773px;height:600px;overflow:hidden;position:relative}
.scrollbar1.wdth-add2 .overview{list-style:none;position:absolute;left:3px;top:1px}
.scrollbar1.wdth-add2 .thumb .end,.scrollbar1.wdth-add2 .thumb{background:#1f75b2;}
.scrollbar1.wdth-add2 .scrollbar{position:relative;float:right;width:7px}
.scrollbar1.wdth-add2 .track{height:100%;width:7px;position:relative;background:#4f4f4f}
.scrollbar1.wdth-add2 .thumb{height:20px;width:7px;cursor:pointer;overflow:hidden;position:absolute;top:0}
.scrollbar1.wdth-add2 .thumb .end{overflow:hidden;height:5px;width:7px}
.scrollbar1.wdth-add2 .disable{display:none}
.scrollbar1.wdth-add2 .noSelect{user-select:none;-o-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none}

.no_result_sec{width:980px;margin:20px 0 30px 8px;float:left}
.head_no_re{}
.head_no_re img{float:left;width:39px;height:34px;margin-right:13px;margin-bottom:14px}
.head_no_re h2{color:#2a2a2a;font:28px/34px 'Alef', sans-serif}
.sugges{color:#959595;margin:10px 0;font:13px/28px 'Alef', sans-serif}
.sugges h2{color:#e94343;padding-bottom:10px;font:17px 'Alef', sans-serif}
.sugges span{color:#393939;font:normal 12px 'Alef', sans-serif}
.modify_se_but{background:url(../images/modify_ser_but.png) no-repeat left top;width:182px;height:39px;float:left;margin:30px 0 0}
.modify_se_but:hover{background:url(../images/modify_ser_but_hover.png) no-repeat left top;width:182px;height:39px}

#leftside {padding: 20px 0 0;float: left;width: 685px;height: auto;margin: 0;}
#mct #leftside{padding:0;float:left;height:auto;margin:0}
#mct #leftside .banner{width:607px;height:207px;clear:both}
#mct #leftside #box_header{clear:both;width:627px;height:45px;background:url(../images/best_place_work.png) no-repeat;margin:22px 0 0}
#mct #leftside #abut_us{clear:both;width:627px;height:45px;background:url(../images/about_ushd.png) no-repeat;margin:15px 0 0}
#mct #leftside #jobseekerreg{clear:both;width:627px;height:45px;background:url(../images/jobseeker-img.png) no-repeat;margin:5px 0 0}
#mct #leftside #newclntreg{clear:both;width:627px;height:45px;background:url(../images/new_clnt_reg.png) no-repeat;margin:5px 0 0}
#mct #leftside #carclint{clear:both;width:627px;height:45px;background:url(../images/clientofcareer.png) no-repeat;margin:5px 0 0;clear:both;width:627px;height:45px;background:url(../images/clientofcareer.png) no-repeat;margin:5px 0 0 0}
#mct #leftside #yourprofile{clear:both;width:627px;height:45px;background:url(../images/yourdefaultprofile.jpg) no-repeat;margin:5px 0 0}
#mct #leftside #memberpre{clear:both;width:627px;height:45px;background:url(../images/pre_member.jpg) no-repeat;margin:5px 0 0}
#mct #leftside #advancejobsrch{clear:both;width:627px;height:45px;background:url(../images/advance_job_search.jpg) no-repeat;margin:5px 0 0}
#mct #leftside #Jobcritaria{clear:both;width:627px;height:45px;background:url(../images/entercriteria.png) no-repeat;margin:5px 0 0}
#mct #leftside #boxunder{min-height:100px;overflow:hidden}
#mct #leftside #boxunder #logininfo h1 {color: #282828;float: left;margin-top: 10px;padding: 7px 5px 7px 10px;text-decoration: none;width: 670px;font: normal 15px 'Alef', sans-serif;background: #f4f4f4;}
#boxunder-2{border-left:1px solid #ddd;border-right:1px solid #ddd;background:#fff;width:437px;min-height:100px;overflow:hidden}
#boxunder-2 .boxess-2{width:187px;height:130px;-moz-border-radius:10px;border-radius:10px;border:1px solid #000;margin:10px;background:#f2f2f2;color:#5a5353;padding:0 0 0 5px;float:left;text-align:justify;padding-right:4px}
#boxunder-2 .boxess-2 .mh1{margin:5px 0 10px 5px;width:235px;text-align:center;color:#c6171e}
.btmbox-2{clear:both;background:url(../images/btm_box-2.png);width:439px;height:14px}
.ph7-2{color:#666}
.box-span{color:#c6171e;padding-top:10px}
.boxess-2 span img{padding:0 5px 5px 0;float:left}
.boxess-2 div img{padding:0 0 5px 10px;float:left}
.r-titles-2{color:#fff;text-transform:uppercase;background:url(../images/resume-ser-2.png) no-repeat;width:439px;height:36px;line-height:36px;padding:0 0 0 15px}
#mct #leftside #boxunder .boxess{width:250px;height:120px;-moz-border-radius:10px;border-radius:10px;border:1px solid #000;margin:10px;background:#f2f2f2;color:#5a5353;padding:0 0 0 5px;float:left;text-align:justify;padding-right:4px}
#mct #leftside #boxunder .boxess .mh1{margin:5px 0 10px 5px;width:235px;text-align:center;color:#c6171e}
#boxunder ul{margin:0;padding:0;float:left;list-style:none;}
#boxunder ul li{display:block;color:#666;padding-top:3px; padding-left:5px;}
#boxunder ul .redtxt{margin:0 5px 7px 0;padding:0;color:#900;text-decoration:none}
#mct #leftside .btmbox{clear:both;width:627px;height:14px}
#mct #leftside .featuredhding{clear:both;margin:10px 0 0;background:url(../images/featured.png) no-repeat;height:37px;width:627px}
#mct #leftside h1{display:block;height:auto;color:#5a5353;}
#mct #leftside h2{color:#282828;padding:10px;margin:0;clear:both;font:bold 14px arial, sans-serif;background:#f4f4f4}
#mct #leftside p{display:block;height:auto;color:#666;margin:-5px -5px 0 10px}
#mct #leftside .das{display:block;width:627px;height:auto;color:#666;margin:0 0 0 10px}
#mct #leftside span{margin:0 0 0 10px}
#mct #leftside span a{color:#900;text-decoration:none;text-decoration:none}
#mct #leftside span a:hover{color:#900;text-decoration:none;text-decoration:underline}
.new-add-rgstr{border:1px solid #dcdcdc}
.new-add-rgstr .lgin-span-lg{margin:0 5px 0 0}


.searc_tbl{width:440px;padding-top:40px;padding-bottom:10px}
.searc_tbl td{padding:8px 0 8px 7px;vertical-align:top}
.searc_tbl td span{color:#cd3131}
.text_fld_sear{width:295px;border:1px solid #e6e6e6;background:none;height:20px}
.text_slet_sear{width:301px;border:1px solid #e6e6e6;background:none;height:25px}
.text_slet_sear_small{float:left;width:106px;border:1px solid #e6e6e6;background:none;height:25px}
.searc_tbl td table td{padding:0}
.searc_tbl td h4{font-size:13px;color:#2a2a2a;font-weight:700;padding:6px 0;border-bottom:1px solid #d7d7d7}
.search_but_adv{width:123px;height:37px;margin:0 auto}

#mct #leftside .title-page {color: #282828;padding-top: 15px;margin-top: 11px;clear: both;font: bold 14px arial, sans-serif;}
#mct #leftside .top-com .box-one.industries{width: 300px;margin: 10px;float: left;padding: 10px 0;}
#mct #leftside .top-com .box-one ul.industries{float: left;width: 280px;}
#mct #leftside .top-com .box-one ul li {display: block;text-align: left;list-style: circle;padding: 2px 0;margin-bottom: 10px;font-size: 13px;line-height: 16px;word-wrap: break-word;}
.text_slet_sear {border: 1px solid #e6e6e6;background: none;height: 25px;   }


.arrow_left_right{float:right;width:28px;height:28px;margin:20px 7px 10px}
a.icon-1,a.icon-2{width:27px;height:27px;display:block;background:url(../images/left_arrow.png) no-repeat left top;transition-duration:.5s;-moz-transition-duration:.5s;-webkit-transition-duration:.5s;-o-transition-duration:.5s;cursor:pointer}
a.icon-1:hover{background:url(../images/left_arrow.png) no-repeat 0 -32px}
a.icon-2{background:url(../images/right_arrow.png) no-repeat left top}
a.icon-2:hover{background:url(../images/right_arrow.png) no-repeat 0 -32px}
.tooltip{border:1px solid #fff;padding:8px 5px 8px 8px;width:130px;display:none;color:#fff;text-align:left;font-size:11px;border-radius:5px;background:#d0191e}
.left_sec{float:left;width:680px;margin-top:20px}
.search_box{width:336px;float:left;border:1px solid #dbdbdb;background:#fff;background:-moz-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#f5f5f5));background:-webkit-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);background:-o-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);background:-ms-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);background:linear-gradient(to bottom,#ffffff 0%,#f5f5f5 100%);/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f5f5f5",GradientType=0);*/padding:4px 0px;}
.text_box_ser{border:1px solid #dad8d8;width:251px;height:29px;float:left;margin:15px 7px;background:#fff}
.text_box_ser input{background:none;border:none;width:240px;height:27px;padding-left:10px;color:#c3c3c3;font:12px Arial,Helvetica,sans-serif}
.but{float:left;width:38px;height:29px;margin:15px 0}
.search_but_com{background:url(../images/search_com.jpg) no-repeat left top;width:38px;height:29px;border:none;cursor:pointer}
.listing_sec{margin:10px 0;width:658px;padding:10px;border:1px solid #dad8d8;background:#fcfcfc}
.listing_sec h4{font-size:13px;color:#757575;font-weight:400}
.big_icon{float:left;width:29px;height:24px;margin:20px 4px 10px 12px}
.atoz_list{float:left;margin:20px 10px;width:575px}
.atoz_list strong{ padding:0 8px 10px 0;}
.atoz_list a{padding:0 8px 10px 0;font-weight:700;color:#d03333;text-decoration:underline;line-height:26px}
.atoz_list a:hover{padding:0 8px 10px 0;font-weight:700;color:#272727;text-decoration:none}
.listing_result{width:620px;margin:0 auto;height:auto;background:#fff}
.listing_result ul{margin:0 20px;list-style:none;}
.listing_result li{font-size:12px;line-height:40px;background:url(../images/arrow_listing.jpg) no-repeat left;padding-left:20px;width:270px;float:left}
.listing_result li a{color:#707070;font-size:12px;text-decoration:none}
.listing_result li a:hover{color:#e03e3e;font-size:12px;text-decoration:underline}

.contact_section{width:100%;margin:20px 0 10px}
.mail_id{float:left;margin-bottom:15px}
.mail_id img{padding-right:10px}
.mail_id a{color:#d1060a;text-decoration:underline;font:12px Arial,Helvetica,sans-serif}
.mail_id a:hover{color:#d1060a;text-decoration:none;font:12px Arial,Helvetica,sans-serif}
.line_conta{width:100%;height:1px;margin:30px 0;background:#e1e1e1}
.contact_form{float:left;width:680px;border-right:1px solid #e1e1e1;margin-bottom:20px}
.contact_form h2{color:#555;padding-bottom:20px;font:18px Arial, sans-serif}
.contact_form h2 span{color:#d1060a;font:18px Arial, sans-serif}
.contact_f{width:680px;margin:0 auto}
.contact_f td{padding:5px 0;color:#555;font:14px/30px Arial, sans-serif}
.text_conta{width:350px;height:25px;padding-left:6px;color:#827c7c;font-size:12px;padding-right:6px;border-radius:5px}
.textare_conta{width:350px;height:120px;padding-left:6px;color:#827c7c;font-size:12px;padding-right:6px;border-radius:5px}
.submit_but_conta{float:left;width:86px;margin-right:20px}
.submit_but_conta input{width:86px;height:31px;border-radius:5px;color:#FFF;cursor:pointer;border:0;font:17px Arial, sans-serif;background:#d0060a}
.submit_but_conta input:hover{background:#1d1d1d}
.conta_detail_section{float:left;width:278px;height:200px;margin-left:40px}
.conta_detail_section h2{color:#555;font:18px Arial, sans-serif;}
.conta_detail_section h2 span{color:#d1060a;font:18px Arial, sans-serif;}
.sitemap_sec{margin:0 0 20px}
.sitemap_sec h3{color:#313131;border-bottom:1px solid #e1e1e1;padding:15px 3px;font:400 16px Arial, sans-serif}
.sitemap_list{margin:15px 0;width:100%}
.sitemap_list ul{float:left;margin-right:20px;width:229px;list-style:none;}
.sitemap_list ul li{list-style:none;color:#8a8a8a;font:12px/21px Arial,Helvetica,sans-serif}
.sitemap_list ul li a{color:#8a8a8a;text-decoration:none}
.sitemap_list ul li a:hover{color:#d0060a;text-decoration:underline}
.inner-section_site{padding-bottom:20px}



 /* Style for overlay and box */
.overlay_popup{
    background:transparent url('url-images/overlay_bg.png') repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}
.informationwindow{
    position:fixed;
    top:-300px;
    left:30%;
    right:30%;
    background-color:#fff;
    border:2px solid #ccc;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}
.informationwindow .lHead{
    background: #eeeeee;
    border: 1px solid #e5e5e5;
    padding: 10px;
    /* margin: 0px 0px 20px 0px; */
    color: #3a87ad;
    font-weight: 500;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
a.boxclose{
    float: right;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    color: #3a87ad;
    margin:5px 15px 0px 0px;
    text-shadow: 0 1px 0 #fff;
    opacity: .4;
    filter: alpha(opacity=20);
}
a.boxclose:hover, a.boxclose:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50);
}
.span-lg{padding:15px 0px 10px 78px;}
.span-lg span a{color:#E51E05;}
.errorForm{color:red;}
.tbl td {vertical-align:top;}
.button_class{padding: 5px 10px 5px 10px;background-color: #1B71AE;color: #fff;border: 0px;border-radius:5px;cursor:pointer;}
span .required{color:red;}
.serch-hd-rt {color: #4f4d4d;font-size: 13px;padding: 30px 5px 0 0;}
.frht {float: right;}
.innr-section-left {
    width: 200px;
    float: left;
    padding: 0 20px 0 0;
}
.setn-lt1 h1 {
    color: #2a2a2a;
    padding: 7px 5px 7px 10px;
    margin: 20px 0 10px;
    font: 700 14px Arial, sans-serif;
    background: #e5e5e5;
}
.ma-acount-h1 h1 {
    background: url('../images/employern.png') no-repeat 0px 0px;
    padding: 0 0 0 25px;
    display: block;
    margin: 0 0 0 5px;
    float: left;
    line-height: 25px;
}
.ma-acount-h1.add-employr2 h1 {
    background: url('../images/employern.png') no-repeat 0px -31px;
    padding: 0 0 0 25px;
    display: block;
    margin: 0 0 0 5px;
    float: left;
    line-height: 25px;
}
.ma-acount-h1.add-employr3 h1 {
    background: url('../images/employern.png') no-repeat 0px -63px;
    padding: 0 0 0 25px;
    display: block;
    margin: 0 0 0 5px;
    float: left;
    line-height: 25px;
}
.ma-acount-h1 {
    padding: 7px 5px 7px 10px;
    margin: 20px 0 0;
    background: #e5e5e5;
}
.ma-acount-h1 span {
    float: right;
    display: block;
    margin: 5px 0 0;
}
ul.lt-nav2 {
    line-height: 22px;
    margin: 10px 0 0 5px;
    font-size: 13px;
    list-style: none;
}
.innr-section-mid4 {
    width: 780px;
    float: left;
    padding: 10px 0px 0px 0px;
}
.job-seeker-top {
    padding: 20px 0 0;
}
#seeker-lt-add.seeker-left {
    border: 1px solid #d9d9d9;
    min-height: 312px;
}
.seeker-rht {
    width: 285px;
    float: left;
}
.seeker-left {
    width: 460px;
    float: left;
    border-radius: 7px;
    position: relative;
    padding: 10px;
    margin: 0 10px 0 0;
}
.seekr_box_new {
    background: #fff;
    background: -moz-linear-gradient(top,#ffffff 0%,#eeeeee 99%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(99%,#eeeeee));
    background: -webkit-linear-gradient(top,#ffffff 0%,#eeeeee 99%);
    background: -o-linear-gradient(top,#ffffff 0%,#eeeeee 99%);
    background: -ms-linear-gradient(top,#ffffff 0%,#eeeeee 99%);
    background: linear-gradient(to bottom,#ffffff 0%,#eeeeee 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#eeeeee",GradientType=0);
    border: 1px solid #d2d0d0;
}
.progressbar_style {
    height: 4px!important;
    background: #fff;
    border: 1px solid #ccc;
    height: 7px!important;
    margin-left: 7px;
    margin-right: 7px;
}
.list_completeness {
    margin: 10px 7px;
}
.list_completeness ul {
    list-style: none;
}
.list_completeness ul li {
    padding: 0;
    font-size: 12px;
    color: #e54141;
    line-height: 26px;
    list-style: none;
    text-decoration: none;
}
.list_completeness ul li span {
    color: #a7a7a7;
    padding-left: 0;
}
.list_completeness ul li a {
    color: red;
    padding-left: 0;
}
a:hover {
    text-decoration:underline !important;
    color:#f48639 !important;
}
.up_but {
    width: 87px;
    height: 34px;
    float: right;
    margin: 5px;
}
.tabing_prof {
    margin-top: 15px;
}
.TabbedPanels {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    clear: none;
    width: 100%;
}
.lft-hd {
    float: left;
    font-size: 13px;
    color: #3f3f3f;
    width: 140px;
    padding: 0 0 0 10px;
}
.rht-p {
    float: left;
    font-size: 12px;
    color: #8d8d8d;
    line-height: 22px;
}
.seeker-hd1 {
    margin: 0 0 7px;
}
.lbUL, .cnpUL {
margin: 0 0 20px;
padding: 0;
list-style: none;
}
.lbUL li, .cnpUL li {
border: 2px solid #f7fbd1;
padding: 10px 5px 10px 30px;
font-size: 11px;
margin: 15px 0;
}
.lbUL li label, .cnpUL li label {
position: relative;
display: block;
font-size: 16px;
font-weight: 700;
color: #000;
}
.lt-nav2 li span , .lactive {
    color: #247bb7!important;font-weight:bold;
}
.left_resume {
    float: left;
    width: 710px;
    height: auto;
    margin-top: 20px;
}
.resume_left_box {
    width: 776px;
    border-radius: 7px;
    position: relative;
    border: 1px solid #d9d9d9;
    padding: 0;
    margin: 0 0 10px;
    line-height: 20px;
}
.res_had {
    height: auto;
    padding: 0 5px;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    margin-bottom: 10px;
    background: #f6f6f6;
}
.main_text {
    float: left;
    margin: 8px;
    color: #3f3f3f;
    font: 14px Arial, sans-serif;
    width: 670px;
}
.main_text h1 {
    font-size: 20px;
    color: #202020;
    font-weight: 400;
    padding-bottom: 10px;
}
.candidate_photo {
    float: right;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 8px;
    border: 1px solid #919191;
}
.descr {
width: 770px;
margin: 0 auto;
}
ul.profList {
list-style: none;
}
.profList {
width: 47%;
margin: 7px 0 0;
float: left;
font: 13px Arial, sans-serif;
padding: 0px 11px;
}
.profList li {
padding: 5px 0;
color: #a9a9a9;
line-height: 18px;
}
.profList i {
color: #3f3f3f;
font-style: normal;
}
.snall_had {
height: 29px;
padding: 0 5px;
border-top-left-radius: 10px 5px;
border-top-right-radius: 10px 5px;
margin-bottom: 10px;
background: #f6f6f6;
}
.snall_had img {
float: left;
height: 29px;
padding-left: 10px;
}
.snall_had h2 {
color: #202020;
padding-left: 8px;
float: left;
font: 16px/29px Arial, sans-serif;
}
.tb_cont {
width: 718px;
float: left;
padding-left: 10px;
border: 0 solid red;
margin-top: 10px;
}
.jobdetail1 {
text-align: left;
padding: 8px 0;
float: left;
width: 160px;
text-decoration: none;
color: #3f3f3f;
font: 700 13px Arial,Helvetica,sans-serif;
}
.jobdetail_res {
text-align: left;
padding: 8px 0 8px 10px;
float: left;
width: 560px;
text-decoration: none;
color: #a9a9a9;
font: 13px Arial,Helvetica,sans-serif;
}
.wrapL22 {
word-wrap: break-word;
padding-top: 10px;
padding-bottom: 10px;
width: 745px;
margin: 0 auto;
font: 13px/20px Arial, sans-serif;
}
.wrapL22 i {
    color: #3f3f3f;
    font-style: normal;
}
.wrapL22 span {
    color: #A2A2A2;
}
.link_had {
    margin: 10px 8px 15px;
    color: #cb3535;
    font: 12px Arial, sans-serif;
}
.link_had a {
    color: #cb3535;
    text-decoration: underline;
    padding: 0 5px;
    font: 12px Arial, sans-serif;
}
.resume_left_box {
    width: 776px;
    border-radius: 7px;
    position: relative;
    border: 1px solid #d9d9d9;
    padding: 0;
    margin: 0 0 10px;
    line-height: 20px;
}
.resume_left_box p {
padding: 10px;
}
.edit_csss {
    float: right;
    line-height: 29px;
    color: #ce4545;
    margin: 5px 10px 0px 0px;
}
.edit_csss a{
    color: #ce4545;
    text-decoration: underline;
    font-size:14px;
}
.back_top {
    float: right;
    color: #ce4545;
    margin: 8px 10px 10px;
    font: 400 13px Arial, sans-serif;
}
.back_top  a{
    color: #ce4545;
    text-decoration: underline;
    font-size:14px;
}
.back_top a:hover {
    text-decoration: none;
}
.span_loctn {
    width: 110px!important;
    display: block;
    float: left;
}
.eductn-span {
    color: #a2a2a2;
    line-height: 30px;
}
.skill_tt {
    width: 750px;
    border: none;
}
.skill_table {
    margin: 0 10px;
}
.skill_tt th {
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #3f3f3f;
    font: 700 13px/30px arial;
}
.skill_tt td {
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    color: #8a8a8a;
    font: 400 13px/30px arial;
}
.head_txt_im {
    font-size: 15px;
    font-weight: 400;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.buttons_top {
    width: 100%;
    margin-bottom: 5px;
}
.hd-left {
    color: #2a2a2a;
    font-size: 14px;
    font-weight: bold;
}
.title-page {
    color: #282828;
    padding-top: 15px;
    clear: both;
    font: bold 14px arial, sans-serif;
}
.postbtn {
    float: right;
    padding: 10px 10px 0 0;
    margin: 15px 0 25px;
}
#login-table {
    margin: 0 auto;
    clear: both;
}
#login-table table {
    width: 97%;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    margin: 1em auto;
    border-collapse: collapse;
    text-align: center;
    color: #5a5353;
}
#login-table th {
    background: #eaeaea;
    color: #d33636;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: .2em 0.5em;
    text-align: left;
}
#login-table th a{
    color: #d33636;
}
.odd {
    font-size: 13px;
    color: #797979;
    background: #fff;
}
#login-table tr.odd td {
    background: #fbfbfb;
}
#login-table tr.odd td {
    background: #fbfbfb;
}
#login-table td {
    color: #5a5353;
    font-size: 12px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: .3em 1em;
    text-align: left;
    min-width: 50px;
}
.forgot_password {
    margin-bottom: 5px;
}
a.forgot_password {
    color: #f48639;
    margin-left: 5px;
}
#pagntn {
    width: 95%;
    margin: 10px auto;
    clear: both;
}
#pagntn .result {
    text-align: center;
    float: left;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    margin: 30px 20px 0 0;
    color: #757373;
    font: 14px Arial, sans-serif;
    background: #f4f4f4;
}
#pagntn .result span {
    background: url(../images/a-hrf-arow.png) no-repeat left center;
    padding: 0 0 0 20px;
}
.scrollbar1.wdth-add2 .scrollbar {
    position: relative;
    float: right;
    width: 7px;
}
.scrollbar1.wdth-add2 .viewport {
    width: 705px;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.scrollbar1 .overview {
    list-style: none;
    position: absolute;
    left: 3px;
    top: 1px;
}
.scrollbar1.wdth-add2 .overview {
    list-style: none;
    position: absolute;
    left: 3px;
    top: 1px;
}
.rightrad {
    width: 730px;
    height: auto;
    float: left;
    margin-left: 8px;
    padding-bottom: 10px;
    font-size: 13px;
}
.jobposthd {
    padding: 10px 10px 12px 12px;
    text-decoration: none;
    color: #282828;
    font: 700 14px 'Alef', sans-serif;
    background: #E5E5E5;
}
.change-pass {
    width: 690px;
    margin: 0 auto;
    clear: both;
    background: #fff;
}
.change-pass .row {
    min-height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #b2adad;
    padding: 5px 0;
}
.change-pass .row label {
    color: #5a5353;
    width: 150px;
    float: left;
    padding: 0 0 0 20px;
}
.change-pass .row table td label {
    width: 250px;
}
.change-pass .row input[type=text] {
    color: #5a5353;
    padding: 5px 10px;
    width: 200px;
    border: 1px solid #b2adad;
    margin: 0 5px 0 0;
}
input.error, select.error, textarea.error {
    border: 1px red solid!important;
    background: #ffebeb!important;
}
.change-pass .row input.error {
    margin: 5px 0 0; 
    float: left;
    color: #5a5353;
    padding: 5px 10px;
    width: 200px;
    border: 1px solid #b2adad;
}
div.errorForm4 {
    color: #d10909;
    padding: 0 0 0 12px;
}
.field_space {
    border-bottom: 1px solid #b2adad;
    padding: 0 0 10px 169px;
}
.field_box {
    width: 200px;
    text-align: left;
    float: left;
    min-height: 20px;
    text-decoration: none;
    color: #5A5353333;
    border: 1px solid #b2adad;
    margin: 0 5px 0 0;
    padding: 4px;
}
.field_box input {
    float: left;
}
.field_box label {
    padding: 3px 0 0;
    display: block;
    float: left;
}
.fieldcont {
    width: 670px;
    text-align: left;
    padding: 5px 0 10px 10px;
    float: left;
    text-decoration: none;
    color: #5A5353333;
    background: #fff;
}
input[type="radio"] {
    margin: 3px 3px 0px 5px;
}
.field_text {
    width: 158px;
    text-align: left;
    padding: 0 10px;
    float: left;
    line-height: 28px;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color: #3b3b3b;
    background: #fff;
}
.field_text_add {
    width: 140px;
    text-align: left;
    padding: 0 10px;
    float: left;
    line-height: 28px;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color: #3b3b3b;
    background: #fff;
}
.change-pass .row select {
    color: #5a5353;
    padding: 5px 10px;
    width: 221px;
    border: 1px solid #b2adad;
}
.change-pass .row select.small {
    color: #5a5353;
    padding: 5px;
    float:left;
    width: 110px;
    border: 1px solid #b2adad;
    margin: 0 10px 0 0;
}
.left-new-lg {
    width: 660px;
    float:left;
}
.tbl_cls {
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.tbl_cls table td {
    vertical-align: top;
    min-width: 50px;
    padding: 6px 0;
}
.heading_tbbl {
    width: 150px;
}
.small {
    padding: 12px;
    border-bottom: 1px dashed;
    margin-bottom: 20px;
}
.post_form {
    width: 983px;
    margin: 0 auto;
}
.post_form td {
    padding: 6px 5px;
    line-height: 23px;
    text-align: left;
}
.post_form .text_fei2 {
    width: 336px;
}
.inbox_tbl {
    width: 100%;
}
.listing_inbox {
    width: 100%;
    margin-top: 20px;
}
.inbox_tbl th {
    height: 37px;
    line-height: 37px;
    text-align: left;
    padding: 0 8px;
    color: #fff;
    font-size: 12px;
    background: #eaeaea;
}
.inbox_tbl th a {
    color: #d33636;
    text-decoration: underline;
}
.inbox_tbl td {
    height: 33px;
    line-height: 33px;
    padding: 0 8px;
    font-size: 12px;
    color: #767676;
}
#mct #rightside {
    float: right;
    margin: 0;
    width: 300px;
}.reco_job {
    padding-bottom: 10px;
}.head_dec {
    color: #000;
    height: 31px;
    padding-left: 10px;
    line-height: 31px;
    font-size: 15px;
    margin-bottom: 10px;
    background: #E7E7E7;
}
#mct #rightside .employ-icon {
    width: 290px;
    margin: 0 auto;
    padding: 0 0 0 10px;
}
.reco_job .employ-icon span {
    display: block;
    float: left;
    margin: 10px !important;
    width: 117px;
}
.innr-section-mid_ser {
    width: 670px;
    float: left;
    padding: 0 25px 0 0;
    padding: 10px;
}

.employr-bannr {
    padding: 30px 0 0;
}
.bannr-lt {
    width: 700px;
}
.bannr-img-employer {
    margin: 5px 0 0;
    background: url(../images/post-job.png) no-repeat;
    width: 563px;
    height: 58px;
    padding: 190px 0 0 110px;
}
.bannr-rt {
    width: 300px;
}
.right-top-emp {
    border-bottom: 1px solid #ececec;
    padding: 0 0 15px;
}
.right-top-emp h1 {
    color: #2a2a2a;
    padding: 7px 10px;
    font: 700 15px Arial, sans-serif;
    background: #e5e5e5;
}
.right-top-emp .rht-login-main .email span {
    display: block;
    color: #4c4c4c;
    margin: 10px 0 0 5px;
}
.right-top-emp .rht-login-main .email input {
    display: block;
    color: #aaa;
    padding: 5px 10px;
    margin: 5px 0 0 5px;
    border: 1px solid #cecece;
    width: 85%;
}
.right-top-emp .rht-login-main .frgt-pswrd {
    margin: 12px 0;
}
.frgt-pswrd a {
    color: #f31c0a;
    font-size: 12px;
    margin: 0 0 0 10px;
    display: block;
}


.empolr-h1 {
    padding: 20px 0 10px;
}
.empolr-h1 h1 {
    color: #2a2a2a;
    padding: 7px 10px;
    font: 700 22px Arial, sans-serif!important;
    background: #f0f0f0;
}
h1 {
    color: #000;
    font-size: 24px;
    font-weight: 400;
}

.package_mid{width:100%;margin:30px 0}
.packa_box1{float:left;width:243px;border:1px #bfbfbf solid;position:relative;top:20px;height:430px;padding-top:0;cursor:pointer;margin-right:5px;background:#fff;background:-moz-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#ffffff),color-stop(100%,#dcdcdc));background:-webkit-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:-o-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:-ms-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:radial-gradient(ellipse at center,#ffffff 0%,#dcdcdc 100%);/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dcdcdc",GradientType=1)*/}
.packa_box1:hover{float:left;width:243px;border:1px #bfbfbf solid;top:0;padding-top:20px;margin-right:5px;background:#333;background:-moz-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#333333),color-stop(100%,#2e2e2e));background:-webkit-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:-o-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:-ms-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:radial-gradient(ellipse at center,#333333 0%,#2e2e2e 100%);/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333",endColorstr="#2e2e2e",GradientType=1)*/}
.packa_box1 .heading_packa{width:221px;height:106px;margin:3px 0;color:#fff;padding:20px 0 0 10px;font:36px Arial, "Conv_Helvetica Neue CE 35 Thin";background:#303030}
.packa_box1 .heading_packa span{color:#fff;font:22px Arial, "Conv_Helvetica Neue CE 35 Thin"}
.packa_box1 .heading_packa img{position:absolute;left:180px;top:20px}
.packa_box1:hover .heading_packa img{position:absolute;left:180px;top:40px}
.packa_box1:hover .heading_packa{width:221px;height:106px;margin:3px 0;background:#c72b2f}
.packa_box1 ul{margin:30px 5px 0 10px;list-style:none;}
.packa_box1 .view_mor{font-size:14px;color:#fff;width:100px;text-align:center;padding:10px 0;margin:0 auto;margin-top:15px;background:#303030; position: absolute;
left: 70px;
bottom: 10px;}
.packa_box1:hover .view_mor{font-size:14px;color:#fff;width:100px;text-align:center;padding:10px 0;margin:0 auto;margin-top:15px;background:#c72b2f}
.view_mor a{color:#fff;text-decoration:none}
.view_mor a:hover{color:#fff;text-decoration:none}
.packa_box2{float:left;width:243px;border:1px #bfbfbf solid;height:430px;cursor:pointer;position:relative;top:20px;margin-right:5px;background:#fff;background:-moz-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#ffffff),color-stop(100%,#dcdcdc));background:-webkit-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:-o-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:-ms-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:radial-gradient(ellipse at center,#ffffff 0%,#dcdcdc 100%);/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dcdcdc",GradientType=1)*/}
.packa_box2:hover{float:left;width:243px;border:1px #bfbfbf solid;top:0;padding-top:20px;margin-right:5px;background:#333;background:-moz-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#333333),color-stop(100%,#2e2e2e));background:-webkit-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:-o-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:-ms-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:radial-gradient(ellipse at center,#333333 0%,#2e2e2e 100%);/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333",endColorstr="#2e2e2e",GradientType=1)*/}
.packa_box2 .heading_packa2{width:221px;height:106px;margin:3px 0;color:#fff;padding:20px 0 0 10px;font:36px Arial, "Conv_Helvetica Neue CE 35 Thin";background:#303030}
.packa_box2 .heading_packa2 span{color:#fff;font:22px Arial, "Conv_Helvetica Neue CE 35 Thin"}
.packa_box2 .heading_packa2 img{position:absolute;left:180px;top:20px}
.packa_box2:hover .heading_packa2 img{position:absolute;left:180px;top:40px}
.packa_box2:hover .heading_packa2{width:221px;height:106px;margin:3px 0;background:#c72b2f}
.packa_box2 ul{margin:30px 5px 0 10px;list-style:none;}
.packa_box2 ul li{color:#323232;border-bottom:1px solid #989898;list-style:none;background:url(../images/resume_smal_icon.png) no-repeat left;padding-left:40px;font:400 14px/48px Arial, sans-serif}

.packa_box2 p{color:#323232;border-bottom:1px solid #989898;list-style:none;padding-left:40px;font:400 14px/28px Arial, sans-serif}
.packa_box2:hover p{color:#fff;border-bottom:1px solid #989898;list-style:none}
.packa_box2 .view_mor{font-size:14px;color:#fff;width:100px;text-align:center;padding:10px 0;margin:0 auto;margin-top:15px;background:#303030; position: absolute;
left: 70px;
bottom: 10px;}
.packa_box2:hover .view_mor{font-size:14px;color:#fff;width:100px;text-align:center;padding:10px 0;margin:0 auto;margin-top:15px;background:#c72b2f}
.packa_box3{float:left;width:243px;border:1px #bfbfbf solid;height:430px;cursor:pointer;position:relative;top:20px;margin-right:5px;background:#fff;background:-moz-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#ffffff),color-stop(100%,#dcdcdc));background:-webkit-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:-o-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:-ms-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:radial-gradient(ellipse at center,#ffffff 0%,#dcdcdc 100%);/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dcdcdc",GradientType=1)*/}
.packa_box3:hover{float:left;width:243px;border:1px #bfbfbf solid;top:0;padding-top:20px;margin-right:5px;background:#333;background:-moz-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#333333),color-stop(100%,#2e2e2e));background:-webkit-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:-o-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:-ms-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:radial-gradient(ellipse at center,#333333 0%,#2e2e2e 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333",endColorstr="#2e2e2e",GradientType=1)}
.packa_box3 .heading_packa3{width:221px;height:106px;margin:3px 0;color:#fff;padding:20px 0 0 10px;font:36px Arial, "Conv_Helvetica Neue CE 35 Thin";background:#303030}
.packa_box3 .heading_packa3 span{color:#fff;font:22px Arial, "Conv_Helvetica Neue CE 35 Thin"}
.packa_box3 .heading_packa3 img{position:absolute;left:180px;top:20px}
.packa_box3:hover .heading_packa3 img{position:absolute;left:180px;top:40px}
.packa_box3:hover .heading_packa3{width:221px;height:106px;margin:3px 0;background:#c72b2f}
.packa_box3 ul{margin:30px 5px 0 10px;list-style:none;}
.packa_box3 .view_mor{font-size:14px;color:#fff;width:100px;text-align:center;padding:10px 0;margin:0 auto;margin-top:15px;background:#303030; position: absolute;
left: 70px;
bottom: 10px;}
.packa_box3:hover .view_mor{font-size:14px;color:#fff;width:100px;text-align:center;padding:10px 0;margin:0 auto;margin-top:15px;background:#c72b2f}
.packa_box4{float:left;width:243px;border:1px #bfbfbf solid;height:430px;cursor:pointer;position:relative;top:20px;margin-right:5px;background:#fff;background:-moz-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#ffffff),color-stop(100%,#dcdcdc));background:-webkit-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:-o-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:-ms-radial-gradient(center,ellipse cover,#ffffff 0%,#dcdcdc 100%);background:radial-gradient(ellipse at center,#ffffff 0%,#dcdcdc 100%);/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dcdcdc",GradientType=1)*/}
.packa_box4:hover{float:left;width:243px;border:1px #bfbfbf solid;top:0;padding-top:20px;margin-right:5px;background:#333;background:-moz-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#333333),color-stop(100%,#2e2e2e));background:-webkit-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:-o-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:-ms-radial-gradient(center,ellipse cover,#333333 0%,#2e2e2e 100%);background:radial-gradient(ellipse at center,#333333 0%,#2e2e2e 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333",endColorstr="#2e2e2e",GradientType=1)}
.packa_box4 .heading_packa4{width:221px;height:106px;margin:3px 0;color:#fff;padding:20px 0 0 10px;font:36px Arial, "Conv_Helvetica Neue CE 35 Thin";background:#303030}
.packa_box4 .heading_packa4 span{color:#fff;font:22px Arial, "Conv_Helvetica Neue CE 35 Thin"}
.packa_box4 .heading_packa4 img{position:absolute;left:180px;top:20px}
.packa_box4:hover .heading_packa4 img{position:absolute;left:180px;top:40px}
.packa_box4:hover .heading_packa4{width:221px;height:106px;margin:3px 0;background:#c72b2f}
.packa_box4 ul{margin:30px 5px 0 10px;list-style:none;}
.packa_box4 .view_mor{font-size:14px;color:#fff;width:100px;text-align:center;padding:10px 0;margin:0 auto;margin-top:15px;background:#303030; position: absolute;
left: 70px;
bottom: 10px;}
.packa_box4:hover .view_mor{font-size:14px;color:#fff;width:100px;text-align:center;padding:10px 0;margin:0 auto;margin-top:15px;background:#c72b2f}
.pack_box{width:100%;margin-top:20px}
.bot_boxes{float:left;width:327px;height:353px;margin-right:4px;border:1px solid #e4e4e4;background:#fff}
.bot_boxes h1 span{color:#303030}
.buy_now_ser {
    width: 90px;
    margin: 0 auto;
}
.buy_now_ser a {
    text-decoration: none;
    color: #fff;
    padding: 3px 10px;
    text-align: center;
    font: 400 14px/24px Arial, sans-serif;
    background: #c72b2f;
}
.rw-buy-nowlt {
    width: 132px;
    color: #c1bfbb;
    padding: 5px 0 0 5px;
    font: 14px Arial, sans-serif;
}
.rw-buy-nowlt span {
    background: url(../images/wt-rs-icon.png) no-repeat left center;
    padding: 0 0 0 18px;
    color: #ff6464;
    font: 19px Arial, sans-serif;
}
.rw-buy-nowlt p, .packa_box2 p {
    color: #8a8a8a;
    font-size: 13px;
    line-height: 20px;
    padding: 8px;
    color: #5a5353;
    font-size: 13px;
}
.resume_ser {
    width: 720px;
    border: 1px solid #dbdbdb;
    border-bottom: 3px solid #c72b2f;
    margin-bottom: 25px;
}.resum_tbl {
    width: 720px;
}
.resum_tbl th {
    line-height: 38px;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    padding-left: 7px;
    background: #303030;
}
.resum_tbl td {
    padding: 16px 0;
    font-size: 14px;
    color: #404040;
    font-weight: 400;
    padding-left: 5px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 2px;
}
.service_left {
    float: left;
    width: 720px;
}
.service_right {
    float: right;
    width: 260px;
}
.why_cyb {
    width: 240px;
    border: 1px solid #e5e5e5;
    padding: 9px;
    margin-bottom: 25px;
}
.why_cyb h2 {
    color: #303030;
    padding-bottom: 10px;
    text-align: center;
    font: 23px Arial, "Conv_Helvetica Neue CE 35 Thin";
}
.why_list {
    width: 250px;
    margin-top: 10px;
}
.why_list td {
    padding: 8px 0 8px 6px;
    color: #3d3d3d;
    font: 13px/16px 'Alef', sans-serif;
}
.new-tble-add-apl {
    margin: 10px 0 0;
}
.new-tble-add-apl tr td.new-tble-lt {
    text-align: left;
    padding: 7px 10px 0;
    width: 170px;
    vertical-align: top;
}
.new-tble-add-apl tr td {
    padding: 5px 0;
}
.new-tble-add-apl span {
    margin: 0!important;
}
.new-tble-lt span {
    color: #ea2525;
}
#mct #leftside #boxunder .ph3 {
    clear: both;
    color: #666;
    width: 680px;
    text-align: left;
}
.ph3-newdiv {
    margin: 10px 0 0 190px;
}
#rightside #emplogfrm #register {
    width: auto;
    height: auto;
    margin: 0 0 0 20px;
}
#emplogfrm #register .new-add-rgstr {
    margin: 0;
}
#rightside #register .memberlogin {
    width: 288px;
    height: 36px;
    margin: 0;
}
#rightside #register .memberlogin h1 {
    color: #020000;
    padding: 5px 10px;
    font: 16px Arial, sans-serif;
    background: #f4f4f4;
}
.reg_textbx {
    clear: both;
    margin: 11px 9px;
    color: #d10909;
}
#mct #rightside .new-add-rht-emplor {
margin: 15px 0 0 9px;
}
.new-add-rht-emplor#add-neww-empolyer {
width: 288px;
margin: 15px 0 0 20px!important;
}
.new-add-rht-emplor {
width: 262px;
border: 1px solid #dcdcdc;
margin: 0 0 0 7px;
}
#rightside #hotemployee {
    width: 262px;
    clear: both;
    height: 39px;
    margin: 0;
}
#rightside #hotemployee h1 {
    color: #020000;
    padding: 5px 10px;
    font: 16px Arial, sans-serif;
    background: #f4f4f4;
}
.reg_textbx {
    clear: both;
    margin: 11px 9px;
    color: #d10909;
}
#rightside #register .reg_textbx span {
    font-size: 12px;
    color: #545454;
    width: 80px;
    text-align: left;
}
#rightside #register span {
    color: #666;
    display: block;
    float: left;
    padding: 5px 0;
}
#rightside #register .txtboxrg {
    color: #8c8a8a;
    border: 1px solid #d9d7d7;
    width: 151px;
    padding: 5px 10px;
    float: left;
    margin: 0 0 10px!important;
    background: #fff;
}
.seeker-botom-section {
    padding: 20px 0 0;
    position: relative;
}
.seekr-btm-hd {
    background: #e5e5e5;
    padding: 5px;
}
.hd-left {
    color: #2a2a2a;
    font-size: 14px;
    font-weight: bold;
}
.empolyr-table-section {
padding: 10px 0 0;
}
.empolyr-table-section table {
margin: 0 0 0 10px;
}
.empolyr-table-section table tr {
font-size: 13px;
color: #545454;
}
.empolyr-table-section table tr.table-hd {
font-size: 15px;
color: #000;
}
.empolyr-table-section table tr td {
border-bottom: 1px solid #e5e5e5;
padding: 10px 0;
vertical-align: top;
}
.empolyr-table-section table tr.table-hd td {
padding: 5px 0 10px;
color: #c52d2d!important;
font-size: 14px;
vertical-align: middle !important;
font-weight: bold;
}
.popup {
    position: fixed;
    top: 48%;
    left: 50%;
    width: 300px;
    height: auto;
    margin-left: -150px;
    background: #fff;
    z-index: 100000;
    color: #333;
    display: none;
    padding-bottom: 10px;
}
.popup_head {
    padding: 7px 10px;
    color: #333;
    font-weight: 700;
    background: #fff;
    background: -moz-linear-gradient(top,#ffffff 0%,#dbdbdb 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#dbdbdb));
    background: -webkit-linear-gradient(top,#ffffff 0%,#dbdbdb 100%);
    background: -o-linear-gradient(top,#ffffff 0%,#dbdbdb 100%);
    background: -ms-linear-gradient(top,#ffffff 0%,#dbdbdb 100%);
    background: linear-gradient(to bottom,#ffffff 0%,#dbdbdb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dbdbdb",GradientType=0);
}
.close {
    float: right;
}
.popup_container {
    padding: 10px;
    text-align: left;
    font-size: 12px;
}
.tb_cont {
    width: 718px;
    float: left;
    padding-left: 10px;
    border: 0 solid red;
    margin-top: 10px;
}
.jobdetail {
    text-align: left;
    padding: 8px 0 8px 10px;
    float: left;
    text-decoration: none;
    color: #3f3f3f;
    font: 13px Arial,Helvetica,sans-serif;
}
.head_job_detail {
    text-align: left;
    float: left;
    width: 185px;
    padding-right: 0;
}
.jobdetail strong {
    padding-right: 20px;
}
.result_jobdetail {
    text-align: justify;
    margin-left: 20px;
    width: 552px;
    float: left;
}
.edit-bt {
    width: 72px;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}
.infoMessage {
    padding: 6px;
    color: #fff;
    font-weight: 700;
    /* margin: 30px 0 0 0; */
    background: #494949;
}
.field_box {
    width: 200px;
    text-align: left;
    float: left;
    min-height: 20px;
    text-decoration: none;
    color: #5A5353333;
    border: 1px solid #b2adad;
    margin: 0 5px 0 0;
    padding: 4px;
}
.field_box.newadd-fildbox {
    width: 570px;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}
#add-field-gg {
    width: 180px;
    float: left;
    margin: 0 0 20px;
    height: 100px;
}
#add-field-gg .checkbox {
    clear: both;
    margin: 20px 0 0 0px!important;
}
#add-field-gg2 {
    width: 170px;
    float: left;
    margin: 0 0 20px;
    height: 75px;
}
.fieldcont_add_us {
    width: 760px;
    text-align: left;
    padding: 5px 0 10px 10px;
    float: left;
    text-decoration: none;
    color: #5A5353333;
    background: #fff;
}
.serch-main .serch-hd h1 {
    color: #000;
    font: 22px 'Alef', sans-serif;
}
.serch-main .serch-hd-rt {
    padding: 30px 5px 10px 0;
}
.serch-hd-rt .rht-nav ul li {
    float: left;
    padding: 3px 8px;
}
.serch-hd-rt .rht-nav ul li:hover, .active-nw {
    background: #000;
}
.serch-hd-rt .rht-nav ul li:hover a, .active-nw a {
    color: #FFF!important;
}
.serch-hd-rt .rht-nav ul {
    list-style: none;
}
.serch-setn1 {
    background: #f6f6f6;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin: 10px 0 20px;
}
.serch-setn1 h1 {
    color: #d0060a;
    border-bottom: 2px dotted silver;
    font-size: 17px;
    padding: 0 0 5px;
}
.text-fild-main {
    padding: 10px 0 0;
    line-height: 30px;
}
.text-fld-left {
    width: 490px;
    float: left;
}
.mid-main1 {
    padding: 5px;
}
.mid-main1 span {
    width: 160px;
    float: left;
    line-height: 30px;
    display: block;
    text-align: right;
    padding: 0 15px 0 0;
    color: #3b3b3b;
}
.text-fld-rht {
    width: 490px;
    float: left;
}
.mid-main2 {
    padding: 5px 10px;
}
.main2lft1 {
    width: 120px;
    text-align: center;
    padding-right: 10px;
}
.main2lft2 {
    width: 135px;
}
.main2lft3 {
    width: 30px;
}
.main2lft4 {
    width: 130px;
}
.main2lft5 {
    width: 45px;
    font-size: 12px;
    color: #3b3b3b;
}
input[type=text] ,input[type=password] {
    /*border: 1px solid #999999;
    height: 20px;*/

}
.mid-main1 input {
    width: 278px;
    height: 13px;
    padding: 5px;
    border: 1px solid #eaeaea;
    box-shadow: inset 0 0 2px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,.5);
    color: #797575;
}
.select2 {
    width: 120px;
    height: 28px;
    padding: 4px;
    border: 1px solid #eaeaea;
    color: #797575;
    box-shadow: inset 0 0 2px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,.5);
}
.select1 {
    width: 288px;
    height: 28px;
    padding: 4px;
    border: 1px solid #eaeaea;
    color: #797575;
    box-shadow: inset 0 0 2px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,.5);
}
.rht-li-main {
    width: 288px;
    float: left;
    height: 120px;
    overflow: auto;
    border: 1px solid #c2c2c2;
}
.mid-main1 input[type=checkbox] {
    box-shadow: none!important;
    border: none!important;
}
.rht-li-main input {
    width: auto!important;
    margin-right: 8px;
}
.mid-main1 input[type=radio] {
    box-shadow: none!important;
    border: none!important;
}
.radio-main {
    width: 287px;
    float: left;
    line-height: 18px;
    color: #646464;
    font-size: 12px;
}
.mid-main1.new-add-radio input {
    width: auto!important;
}
.serch-hd {
    padding: 20px 0 5px 5px;
}
.innr-section-mid3 {
width: 780px;
float: left;
padding: 0 0px 0 0;
}
.innr-section-mid3 {
    width: 778px;
    float: left;
    padding: 0;
}
.tab-section {
    padding: 14px 0 0;
}
#tabs {
    position: relative;
    z-index: 999;
    clear: both;
    width: 778px;
    height: auto;
    padding: 0;
}
.innr-section-mid3 .tab-section #tabs ul.new-add {
    margin: 0;
    list-style: none;
}
#nw-serch-navul {
    border-bottom: 1px solid #dcdcdc;
    width: 784px;
    height: 27px;
}
.new-add {
    width: 780px;
    float: left;
    margin: 20px 0 0;
}
.innr-section-mid3 .tab-section #tabs ul.new-add li {
    float: left;
    margin: 0 10px;
    font-size: 16px;
}
.innr-section-mid3 .tab-section #tabs ul.new-add li a.active-tab {
    color: #FFF;
    background: #7d7e7d;
    background: -moz-linear-gradient(top,#7d7e7d 12%,#0e0e0e 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(12%,#7d7e7d),color-stop(100%,#0e0e0e));
    background: -webkit-linear-gradient(top,#7d7e7d 12%,#0e0e0e 100%);
    background: -o-linear-gradient(top,#7d7e7d 12%,#0e0e0e 100%);
    background: -ms-linear-gradient(top,#7d7e7d 12%,#0e0e0e 100%);
    background: linear-gradient(to bottom,#7d7e7d 12%,#0e0e0e 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d7e7d",endColorstr="#0e0e0e",GradientType=0); */
    padding: 8px 15px;
    border-radius: 10px 10px 0 0;
    position: relative;
    font: 13px Arial, sans-serif;
}
.innr-section-mid3 .tab-section #tabs ul.new-add li a {
    padding: 8px 15px;
    color: #a5a5a5;
    font: 13px Arial, sans-serif;
}
.innr-section-mid3 .tab-section #tabs ul.new-add li a.active-tab{color:#FFF;background:#7d7e7d;background:-moz-linear-gradient(top,#7d7e7d 12%,#0e0e0e 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(12%,#7d7e7d),color-stop(100%,#0e0e0e));background:-webkit-linear-gradient(top,#7d7e7d 12%,#0e0e0e 100%);background:-o-linear-gradient(top,#7d7e7d 12%,#0e0e0e 100%);background:-ms-linear-gradient(top,#7d7e7d 12%,#0e0e0e 100%);background:linear-gradient(to bottom,#7d7e7d 12%,#0e0e0e 100%);/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d7e7d",endColorstr="#0e0e0e",GradientType=0);*/padding:8px 15px;border-radius:10px 10px 0 0; position:relative;font:13px Arial, sans-serif}
.innr-section-mid3 .tab-section #tabs ul.new-add li a:hover{color:#FFF;background:#7d7e7d;background:-moz-linear-gradient(top,#7d7e7d 12%,#0e0e0e 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(12%,#7d7e7d),color-stop(100%,#0e0e0e));background:-webkit-linear-gradient(top,#7d7e7d 12%,#0e0e0e 100%);background:-o-linear-gradient(top,#7d7e7d 12%,#0e0e0e 100%);background:-ms-linear-gradient(top,#7d7e7d 12%,#0e0e0e 100%);background:linear-gradient(to bottom,#7d7e7d 12%,#0e0e0e 100%);/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d7e7d",endColorstr="#0e0e0e",GradientType=0);*/padding:8px 15px;border-radius:10px 10px 0 0; position:relative;text-decoration:none;font:13px;color:#fff !important;text-decoration:none !important;}
#tabs-1 {
padding: 40px 0 0;
}
.top-left.nw-add {
padding: 10px 0 9px;
float: left;
font-size: 12px;
}
.top-left {
color: #eb4545;
}
.spcl {
color: #5a5353;
font-weight: bold;
}
.top-rht {
font-size: 12px;
}
.rht-1a {
background: url(../images/rht1-img.png) no-repeat left center;
color: #757575;
text-decoration: underline;
padding: 0 0 0 30px;
display: block;
float: left;
line-height: 30px;
margin: 0 10px 0 0;
}
.rht-2a {
background: url(../images/rht2-img.png) no-repeat left center;
padding: 0 6px 0px 30px;
display: block;
color: #757575;
text-decoration: underline;
float: right;
line-height: 30px;
margin: 0 0px 0 0;
}
.table-top {
background-color: #4a4a4a;
color: #fff;
font-size: 12px;
}
.table-top {
    color: #484848;
    font-size: 14px;
    background: #e5e5e5;
}
table.search-list tr td {
    padding: 5px 0px 5px 5px;
    font-size: 12px;
}
.table-top td {
    padding: 5px;
}
.title_head {
    color: #f02424;
    font: normal 15px arial!important;
}
.name-table {
    display: block;
    color: #e23f3f;
    margin: 0 0 5px;
    font-size: 14px;
}
.gray-list {
    color: #787878;
    font-weight: bold;
}
table.search-list .border-search {
    background: #DCDCDC;
    height: 1px;
    margin: 20px 0px;
}
.wrk-tme-ul {
    margin: 10px 0 0 8px;
    line-height: 28px;
    list-style: none;
}
.selt-select2 {
    width: 180px;
    margin: 0 0 0 10px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #d0d0d0;
    color: #949494;
    font-size: 12px;
}
.head_post {
    border-bottom: 1px #CCC dashed;
    line-height: 40px;
    color: #d0060a;
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 15px;
}
.head_post2 {
    border-bottom: 1px #CCC dashed;
    border-top: 1px #CCC dashed;
    line-height: 45px;
    color: #d0060a;
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.small_select {
width: 125px;
height: 25px;
border: 1px solid #CCC;
background: none;
color: #827c7c;
font-size: 12px;
}
#new-add-show-job {
    background: url("../images/show-job-bk.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    position: relative;
    width: 665px;
}
.detail_lft {
    float: left;
    width: 685px;
}
#main-body .serch-main .right_dec {
    float: right;
    width: 300px;
}
.right_dec {
    float: right;
}
#new-add-show-job .confidental-h1 {
    margin: 20px 0 0 10px;
    width: 395px;
}
.confidental-h1 {
    float: left;
}
.listing_tab {
    margin-top: 5px;
    width: 680px;
}
#new-add-show-job .hd-main-showjob {
}
.hd-main-showjob {
    background: none repeat scroll 0 0 #f1f1f1;
    color: #202020;
    font: 16px/29px 'Alef',sans-serif;
    padding: 3px 7px;
}
#new-add-show-job .dec_sepra {
    border-bottom: 1px solid #e3e3e3;
}
.dec_sepra {
    border-bottom: 1px dashed #ccc;
    margin: 1px 0 10px;
    width: 100%;
}
.dec_job {
    font: 13px Arial,Helvetica,sans-serif;
    margin: 10px;
    padding: 0;
    text-align: left;
}

.listing_tab {
    margin-top: 5px;
    width: 680px;
}
#new-add-show-job .lt-nw-list {
    font-weight: 700;
    width: 170px;
}
.listing_tab td {
    color: #8a8a8a;
    font-size: 13px;
    padding: 3px 7px;
}

.dec_job {
    font: 13px Arial,Helvetica,sans-serif;
    margin: 10px;
    padding: 0;
    text-align: left;
}
.dec_job p {
    width: 665px;
    word-wrap: break-word;
}
.dec_job p {
    color: #5a5353;
    font-size: 13px;
    line-height: 20px;
    padding: 8px 0 !important;
    text-align: left;
}

.right_sec {
    border: medium none;
    margin-bottom: 15px;
    width: 300px;
}
.right_sec td {
    color: #d0181c;
    font-size: 13px;
    line-height: 25px;
    padding: 3px;
}
img {
    border: medium none;
    outline: medium none;
}
#contact_details_div{display:none;}

.apply_btn {
    float: right;
}

.left_desr_pro {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    width: 120px;
}
.rigt_desr_pro_new {
    float: left;
    width: 320px;
}

#container_spot {
    margin: 20px auto 0;
    width: 1000px;
}


.resume-writing-bannr {
    float: left;
    width: 1000px;
}
.banr-nav-section {
    width: 1000px;
}

.main_get_but {
    background-color: #f3f3f3;
    padding: 56px 0;
}
.vtabs .vtabs-content-column {
    float: right;
    margin: 0 !important;
    padding: 0;
}

.vtabs .vtabs-content-column .vtabs-content-panel {
    background-color: #f2f2f2;
    margin: 0;
}

.bannr-part-wt-lt {
    width: 503px;
}

.wt-ltlt22 {
    height: 351px;
    margin: 0;
    width: 231px;
}
.wt-ltlt12 {
    float: left;
    margin: 0;
    width: 260px;
}

.wt-rt-top {
    background: none repeat scroll 0 0 #424243;
    height: 85px;
    padding: 10px 5px;
}

.line_inner {
    background-color: #8c8c8d;
    float: left;
    height: 60px;
    margin: 20px 10px;
    width: 1px;
}
.rupee_new {
    color: #fc5454;
    float: left;
    font-family: 'open_sanssemibold';
    font-size: 29px;
    margin-top: 24px;
}

.addtocart_but input {
    background: url("../images/addto_crrt.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    height: 39px;
    margin: 10px 40px;
    outline: medium none;
    width: 148px;
}
.inn_tct {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    margin: 45px 20px;
    text-align: center;
}
.wt-rt-botom {
    color: #bab8b8;
    font-size: 12px;
    height: 239px;
    line-height: 17px;
    overflow: hidden;
    padding: 5px 10px;
}.send_ma {
width: 680px;
margin: 0 auto;
width: 680px;
margin: 0 auto;
}
.send_ma td {
padding: 5px 0;
padding: 5px 0;
line-height: 25px;
font-size: 13px;
}
.text_fei_nw {
    width: 280px;
    height: 25px;
    padding-left: 6px;
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px#888;
    box-shadow: inner 0 0 5px #888;
    color: #827c7c;
    font-size: 12px;
    padding-right: 6px;
    padding-left: 6px;
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px#888;
    box-shadow: inner 0 0 5px #888;
    color: #827c7c;
    font-size: 12px;
    padding-right: 6px;
}
.box1 {
    margin: 20px 0 0;
    border: 1px solid #dcdcdc;
    line-height: 19px;
    position: relative;
    background: #f9f9f9;
}
.box1-left {
    width: 390px;
    float: left;
    padding: 10px 0 10px 10px;
    border-right: 1px solid #dcdcdc;
}
.box1-left .top-hd a {
    color: #d33636;
    text-decoration: underline;
    margin: 0 10px 0 0;
}
.cmpny-name {
    color: #5a5353;
    font-size: 13px;
    padding: 10px 0 0;
}
.cmpny-name span {
    color: #5a5353;
    color: #a9a9a9;
    font-size: 12px;
}
.text-btm {
    color: #545454;
    font-size: 12px;
    padding: 0 30px 0 0;
    margin: 10px 0 0;
    word-wrap: break-word;
}
.text-btm a {
    color: #d33636;
    text-decoration: underline;
}
.box-botom {
    padding: 10px 0 0;
}
.postd-on {
    color: #545454;
    font-size: 12px;
    line-height: 20px;
}
.crt_page {
    width: 100%;
    margin-top: 10px;
}
.left_sec_cartstart {
    width: 725px;
    float: left;
}
.left_sec_cart {
    width: 725px;
    border: 1px solid #d4d4d4;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-bottom: 4px;
    background: #e5e5e5;
}
.heading_cart {
    height: 48px;
    background: #45494d;
    background: -moz-linear-gradient(top,#45494d 0%,#353434 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#45494d),color-stop(100%,#353434));
    background: -webkit-linear-gradient(top,#45494d 0%,#353434 100%);
    background: -o-linear-gradient(top,#45494d 0%,#353434 100%);
    background: -ms-linear-gradient(top,#45494d 0%,#353434 100%);
    background: linear-gradient(to bottom,#45494d 0%,#353434 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#45494d",endColorstr="#353434",GradientType=0); */
    color: #e0d9d9;
    padding-left: 10px;
    font: 400 20px/48px 'Alef', sans-serif;
}
.heading_cart_img {
    float: left;
    margin-right: 5px;
    margin-top: 13px;
}
.cart_tbl {
    width: 725px;
}
.cart_tbl th {
    height: 33px;
    text-align: left;
    padding-left: 10px;
    color: #38393a;
    font: 13px/33px Arial,Helvetica,sans-serif;
    background: #e5e5e5;
}
.cart_tbl td {
    height: 33px;
    text-align: left;
    border-bottom: 1px solid #b2adad;
    padding-left: 10px;
    color: #7f7e7e;
    font: 12px/33px Arial,Helvetica,sans-serif;
    background: #fff;
}
#wrapper #main-body .section-second {
    margin: 10px 0 20px;
    width: 1000px;
}
#wrapper #main-body .section-second .secnd-one{width:220px;border:1px solid #dcdcdc;padding:9px;float:left;margin:0 10px 0 0;transition-duration:.8s;-moz-transition-duration:.8s;-webkit-transition-duration:.8s;-o-transition-duration:.8s;height:200px}
#wrapper #main-body .section-second .secnd-one:hover{transition-duration:.8s;-moz-transition-duration:.8s;-webkit-transition-duration:.8s;-o-transition-duration:.8s;background:#bd2828}
#wrapper #main-body .section-second p{padding:8px 0px;}
#wrapper #main-body .section-second .secnd-one:hover h1{color:#fff;-moz-transition-duration:.8s;-webkit-transition-duration:.8s;-o-transition-duration:.8s}
#wrapper #main-body .section-second .secnd-one:hover p{color:#f5bbbb;-moz-transition-duration:.8s;-webkit-transition-duration:.8s;-o-transition-duration:.8s}
#wrapper #main-body .section-second .secnd-img {
    width: 80px;
    float: left;
    height: 70px;
    position: relative;
}
#wrapper #main-body .section-second .secnd-txt {
    width: 140px;
    float: left;
}
#wrapper #main-body .section-second .secnd-txt h1 {
    color: #c8252d;
    -moz-transition-duration: .8s;
    -webkit-transition-duration: .8s;
    -o-transition-duration: .8s;
    font-size: 15px;
}
#wrapper #main-body .section-second p {
    padding: 8px 0px;
}
#wrapper #main-body .section-second .last {
    width: 220px;
    border: 1px solid #dcdcdc;
    padding: 10px;
    float: left;
    margin: 0 0 0 7px;
    height: 200px;
}
#wrapper #main-body .section-second .last:hover{transition-duration:.8s;-moz-transition-duration:.8s;-webkit-transition-duration:.8s;-o-transition-duration:.8s;background:#bd2828}
#wrapper #main-body .section-second .last:hover h1{color:#fff;-moz-transition-duration:.8s;-webkit-transition-duration:.8s;-o-transition-duration:.8s}
#wrapper #main-body .section-second .last:hover p{color:#f5bbbb;-moz-transition-duration:.8s;-webkit-transition-duration:.8s;-o-transition-duration:.8s}
#wrapper #main-body .section-second .secnd-img{width:80px;float:left;height:70px;position:relative}
#wrapper #main-body .section-second .secnd-img .send-img1{display:inline-block;position:absolute;text-indent:-9999px;right:5px;width:80px;height:70px;background:url(../images/section-secnd-icon1.png) no-repeat;margin-bottom:0}
#wrapper #main-body .section-second .secnd-img .send-img2{display:inline-block;position:absolute;text-indent:-9999px;right:5px;width:80px;height:70px;background:url(../images/section-secnd-icon1.png) no-repeat -90px 0px;margin-bottom:0;}
#wrapper #main-body .section-second .secnd-img .send-img3{display:inline-block;position:absolute;text-indent:-9999px;right:5px;width:80px;height:70px;background:url(../images/section-secnd-icon1.png) no-repeat -170px 0px;margin-bottom:0}
#wrapper #main-body .section-second .secnd-img .send-img4{display:inline-block;position:absolute;text-indent:-9999px;right:5px;width:80px;height:70px;background:url(../images/section-secnd-icon1.png) no-repeat -250px 0px;margin-bottom:0}
#wrapper #main-body .section-second .secnd-img .send-img5{display:inline-block;position:absolute;text-indent:-9999px;right:5px;width:80px;height:70px;background:url(../images/section-secnd-icon1.png) no-repeat -340px 0px;margin-bottom:0}
#wrapper #main-body .section-second .secnd-img .send-img6{display:inline-block;position:absolute;text-indent:-9999px;right:5px;width:80px;height:70px;background:url(../images/section-secnd-icon1.png) no-repeat -400px 0px;margin-bottom:0}
#wrapper #main-body .section-second .secnd-img .send-img7{display:inline-block;position:absolute;text-indent:-9999px;right:5px;width:80px;height:70px;background:url(../images/section-secnd-icon1.png) no-repeat -530px 0px;margin-bottom:0}
#wrapper #main-body .section-second .secnd-img .send-img8{display:inline-block;position:absolute;text-indent:-9999px;right:5px;width:80px;height:70px;background:url(../images/section-secnd-icon1.png) no-repeat -620px 0px;margin-bottom:0}
#wrapper #main-body .section-second .secnd-txt{width:140px;float:left}
#wrapper #main-body .section-second .secnd-txt h1{color:#c8252d;-moz-transition-duration:.8s;-webkit-transition-duration:.8s;-o-transition-duration:.8s;font:15px Arial, sans-serif}
#wrapper #main-body .section-second .secnd-txt h1 p{color:#6c6c6c;font-size:12px;padding:0!important;-moz-transition-duration:.8s;-webkit-transition-duration:.8s;-o-transition-duration:.8s}
#wrapper #main-body .section-third .thrd-one{width:240px;height:180px;float:left;margin:0 8px 0 0;border:1px solid #dcdcdc;background:#f7f7f7}
#wrapper #main-body .section-third .thrd-last{width:240px;height:180px;border:1px solid #dcdcdc;float:left;margin:0 0 0 7px;background:#f7f7f7}
#wrapper #main-body .section-third .heding{border-bottom:1px solid #dcdcdc;margin-bottom:5px;padding:7px 10px;color:#2a2a2a;font-size:14px;font-weight:700}
#wrapper #main-body .section-third ul.thr-ul{margin:0 0 0 15px;list-style:none;}
#wrapper #main-body .section-third ul.thr-ul a{font-size:12px;color:#000;line-height:22px}
#wrapper #main-body .section-third ul.thr-ul a:hover{text-decoration:underline;color:#e6000b}
#wrapper #main-body .section-third .thrd-one .thrd-p{padding:0 10px;font-size:12px;color:#000;line-height:22px;height:100px}
#wrapper #main-body .section-third .thrd-one .thrd-a-btn{background:#efefef;background:-moz-linear-gradient(top,#efefef 0%,#e2e3e2 56%,#d7d7d8 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#efefef),color-stop(56%,#e2e3e2),color-stop(100%,#d7d7d8));background:-webkit-linear-gradient(top,#efefef 0%,#e2e3e2 56%,#d7d7d8 100%);background:-o-linear-gradient(top,#efefef 0%,#e2e3e2 56%,#d7d7d8 100%);background:-ms-linear-gradient(top,#efefef 0%,#e2e3e2 56%,#d7d7d8 100%);background:linear-gradient(to bottom,#efefef 0%,#e2e3e2 56%,#d7d7d8 100%);/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef",endColorstr="#d7d7d8",GradientType=0);*/float:right;border:1px solid #c5c5c5;margin:0 7px 0 0}
#wrapper #main-body .section-third .thrd-one .thrd-a-btn a{color:#4e4e4e;font-size:12px;padding:5px 10px;display:block}
#wrapper #main-body .section-third .thrd-last-ul{margin:0 0 0 10px;list-style:none;}
#wrapper #main-body .section-third .thrd-last-ul a{color:#000;margin:0 0 0 10px;font:13px/32px Arial, sans-serif}
#wrapper #main-body .section-third .thrd-last-ul a:hover{color:#cb202d}
#wrapper #main-body .section-third .thrd-last-ul ul{list-style:none;}
.lMid{padding:10px;}
.lHead{margin:0px;}
.make_payment {
    width: 220px;
    height: 43px;
    float: right;
    margin: 27px 0;
}
#leftsidee2 {
    float: left;
    width: 200px;
    height: auto;
    margin: 0 10px 0 0;
}
.new-left-ul {
    margin: 10px 0 0;
    list-style: none;
}
.new-left-ul li:hover, .new-left-ul li.active {
    background: #353535;
    color: #fff!important;
}   
.new-left-ul li:hover a, .new-left-ul li.active a {
    color: #fff!important;
}
.new-left-ul li a {
    color: #494949;
    display: block;
}
.new-left-ul li {
    padding: 8px 10px;
    margin: 3px 0;
    background: #e5e5e5;
}
#rightsidee3 {
    float: left;
    width: 790px;
    height: auto;
    margin: 0;
}
.confidental-rating2 {
    float: right;
    width: 90px;
    margin-top:15px;
}
.part_lft p {
    text-align: justify;
    padding-bottom: 15px;
}
.part_lft {
    float: left;
    width: 700px;
    margin-right: 10px;
}
.part_rht {
    float: right;
    width: 280px;
    margin-left: 8px;
}
.enqu_frm {
    width: 280px;
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
}
.enqu_frm h2 {
    padding: 7px 10px;
    font-size: 15px;
    background: #f4f4f4;
}
.enqy_frm {
    margin: 10px;
    width: 260px;
}
.enqy_frm td {
    padding: 7px 0;
    font-size: 13px;
}
.inpu_enq {
    width: 242px;
    height: 29px !important;
    background: url(../images/inpu_ser_bg.jpg) no-repeat;
    border: none;
}
.txtar_enq {
    width: 242px;
    height: 99px;
    background: url(../images/comme_bx_bg.jpg) no-repeat;
    border: none;
}
.enqy_frm td select {
    border: none!important;
    padding: 6px 0px 4px 8px;
    width: 240px;
    color: #c4c4c4;
}
.enqy_frm td input {
    border: none!important;
    padding-left: 10px;
}
.enqy_frm td textarea {
    border: none!important;
    width: 236px;
    height: 88px;
    padding: 11px 0 0 6px;
}
.small_txtnew {
    font-size: 13px;
    padding: 10px;
    text-align: justify;
    margin-top: 5px;
    line-height: 17px;
}
.small_txtnew span {
    font-size: 14px;
}
.small_txtnew a {
    color: #c72b2f;
    font-size: 12px;
    text-decoration: underline;
}
.list {
    padding: 10px 0px;
}
.list li {
    padding: 7px 0px 7px 20px;
    background: url("../images/bulet.jpg") 0px 13px no-repeat;
    font: italic normal 14px 'Open Sans', sans-serif;
}
.seekr-btm-hd2 table span.table-bk-btn {
    background: #fff;
    background: -moz-linear-gradient(top,#ffffff 1%,#f0f0f0 67%,#e1e1e1 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#ffffff),color-stop(67%,#f0f0f0),color-stop(100%,#e1e1e1));
    background: -webkit-linear-gradient(top,#ffffff 1%,#f0f0f0 67%,#e1e1e1 100%);
    background: -o-linear-gradient(top,#ffffff 1%,#f0f0f0 67%,#e1e1e1 100%);
    background: -ms-linear-gradient(top,#ffffff 1%,#f0f0f0 67%,#e1e1e1 100%);
    background: linear-gradient(to bottom,#ffffff 1%,#f0f0f0 67%,#e1e1e1 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e1e1e1",GradientType=0); */
    padding: 3px 10px;
    border: 1px solid #d9ddde;
    box-shadow: 1px 1px 2px #6b6a6a;
}
.seekr-btm-hd2 table span.table-bk-btn a {
    color: #424242;
    font-size: 13px;
    background: url(../images/arow5.png) no-repeat right center;
    padding: 0 15px 0 0;
    position: relative;
}
.seekr-btm-hd2 {
    background: #e5e5e5;
    padding: 7px 0px 9px 1px;
}
.expand_submenu {
    background: #efefef;
    background: -moz-linear-gradient(top,#efefef 0%,#e2e3e2 56%,#d7d7d8 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#efefef),color-stop(56%,#e2e3e2),color-stop(100%,#d7d7d8));
    background: -webkit-linear-gradient(top,#efefef 0%,#e2e3e2 56%,#d7d7d8 100%);
    background: -o-linear-gradient(top,#efefef 0%,#e2e3e2 56%,#d7d7d8 100%);
    background: -ms-linear-gradient(top,#efefef 0%,#e2e3e2 56%,#d7d7d8 100%);
    background: linear-gradient(to bottom,#efefef 0%,#e2e3e2 56%,#d7d7d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef",endColorstr="#d7d7d8",GradientType=0);
    border: 1px solid #d9d7d7;
    box-shadow: 3px 3px 2px #bcb8b8;
    padding: 5px 10px;
    position: absolute;
    top: 81px;
    display: none;
    height: auto;
    border-radius: 0 0 10px 10px;
    z-index: 999;
}
.expand_submenu_first{
    left: 21px;
}
.expand_submenu_second{
    left:127px;
}
.expand_submenu_third{
    right:1px;
}
#expand_submenu ul.root,#expand_submenu1 ul.root,#expand_submenu2 ul.root{
    margin: 5px;
    line-height: 24px;
    list-style: none;
}
#expand_submenu ul.root li, #expand_submenu1 ul.root li, #expand_submenu2 ul.root li {
    background: url(../images/li-circle.png) no-repeat left center!important;
    color: #515151;
    padding: 0 0 0 20px;
}
#expand_submenu ul.root li a ,#expand_submenu1 ul.root li a, #expand_submenu2 ul.root li a {
    color: #515151;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}
.empolyr-table-section2 table tr td {
    border-bottom: 1px solid #e5e5e5;
}
.txtnew {
    text-align: center!important;
    font-weight: bold;
}
.ma-acount-h1.add-employr5 h1 {
    background: url(../images/employern.png) no-repeat 0px -121px;
    padding: 0 0 0 25px;
    display: block;
    margin: 0 0 0 5px;
    float: left;
    line-height: 25px;
}
.ma-acount-h1.shortlisted h1 {
    background: url(../images/jobresponse.png) no-repeat 0px 4px;
    padding: 0 0 0 25px;
    display: block;
    margin: 0 0 0 5px;
    float: left;
    line-height: 25px;
}
.ma-acount-h1.hold h1 {
    background: url(../images/jobresponse.png) no-repeat 0px -19px;
    padding: 0 0 0 25px;
    display: block;
    margin: 0 0 0 5px;
    float: left;
    line-height: 25px;
}
.ma-acount-h1.reject h1 {
    background: url(../images/jobresponse.png) no-repeat 0px -44px;
    padding: 0 0 0 25px;
    display: block;
    margin: 0 0 0 5px;
    float: left;
    line-height: 25px;
}

.comment_txt_bg {
    font-size: 13px;
    color: #cb202d;
    font-weight: 400;
    padding-bottom: 10px;
}
.comment_bg {
    width: 980px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    background: #f6f6f6!important;
}
.coment_txt {
    line-height: 51px;
    font-size: 13px;
    margin-right: 10px;
    font-weight: 700;
}
.com_txta {
    width: 755px;
    height: 45px;
    float: left;
    padding: 5px;
}
.post_comment_but {
    width: 113px;
    height: 55px;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    background: #252525;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
}
#validationErrors p{color:#fff !important; background-color:#000;padding:5px;}
.mid-main1_new {
padding: 5px;
}
.mid-main1_new span {
    width: 218px;
    float: left;
    line-height: 30px;
    display: block;
    text-align: right;
    padding: 0 15px 0 0;
    color: #3b3b3b;
}
.mid-main1_new input {
    width: 278px;
    height: 19px;
    padding: 5px;
    border: 1px solid #eaeaea;
    box-shadow: inset 0 0 2px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,.5);
    color: #797575;
}
.mid_select {
    width: 350px;
    height: 25px;
    border: 1px solid #CCC;
    background: none;
    color: #827c7c;
    font-size: 12px;
}
.nw-rtseprtr {
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;
}
.rt-nw span.nw-hd {
    font-size: 12px;
    display: block;
    margin: 5px 0 2px 7px;
}
.rt-nw input.text-fild {
    border: 1px solid #cecece;
    width: 160px;
    padding: 5px 10px;
    color: #bababa;
    margin: 3px 0 7px 5px;
}
.nw-rtseprtr {
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;
}

.sert-select {
    border: 1px solid #b2adad;
    width: 180px;
    padding: 5px 5px 5px 10px;
    color: #929292;
    margin: 3px 0 7px 5px;
    float: left;
}
.innr-section-right {
    float: right;
    width: 200px;
}
.add-sucflly {
    clear: both;
    color: #d10909;
    margin: 11px 0;
    font-size: 14px;
}
.login-lg {
    border: 1px solid #dcdcdc;
}
.login-lg h1 {
    padding: 5px 10px;
    color: #2a2a2a;
    font-size: 15px;
    background: #e5e5e5;
}
/* .setn-lt1 a{color:red;} */
#logininfo table.new-add-logininfo tr td {
    padding: 8px 3px;
    vertical-align: top;
    line-height: 26px;
}
.tbl_edu td {
    padding: 6px 10px;
}
.hedu {
    vertical-align: top;
    width: 175px;
}
.left-new-lg ul li {
    background: url(../images/yes-icon2.png) no-repeat 0 7px;
    padding: 0 0 0 30px;
    font-size: 14px;
    line-height: 30px;
    background-position: left top;
}
.tbl_edu div.newspan {
    margin: 7px 0 0 2px!important;
    float: left!important;
    width: 125px!important;
    display: none;
}

/* New css */
body.home_page {
    background-image: url('url-images/background-image.jpg');
    background-repeat: no-repeat;
    background-color: #eaf2f8;
}

body {
    background-color: #ffffff;
}


#menus {
    top: 0px;
}

#main-body {
    height: auto;
    overflow-y: auto;
}

.alert.alert-error {
    color: #ea2525;
}

.required {
    color: #ea2525;
}

.filter_container_content ul li.filter_cat {
    border-bottom: 1px solid #ccc;
    width: 200px;
    padding: 5px;
    margin: 0px 5px;
}
.filter_container_content ul li.filter_designation {
    border-bottom: 1px solid #ccc;
    width: 200px;
    padding: 5px;
    margin: 0px 5px;
    float: left;
}
.filter_container_content ul li.filter_location {
    border-bottom: 1px solid #ccc;
    width: 200px;
    float: left;
    padding-left: 15px;
     margin: 0px 5px;
}
.jobs_filter_container {
    float: left;
    width: 230px;
    height: 250px;
    margin-right: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.jobs_filter_container_heading {
    
    padding: 0px 20px;
    background-color: #A9A9A9;

}
.filter_container_content {
    
    width: 200px;
    margin: 0px 4px;
    padding: 10px 5px;
    float: left;
}

.filter_container_content_list {
    list-style-type: none;
}
.filter_container_content_list li a {
    font: bold 14px 'Open Sans', sans-serif;
    color: #848484;
    text-decoration: none;
}
.more_jobs {
    position: relative;
    top: 250px;
}
.more_jobs a {
    font: bold 14px 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: initial;
}

#menus {
    background-color: #fff;
    display: block;
    width: 633px;
    overflow: auto;
    padding-top: 22px !important;
    height: auto;
}

.menus {
    margin-top: 17px;
    height: 30px;
}

.menu {
    margin-top: 0px;
    height: 30px;
}

.tab-container {
    margin-left: 14px;
    border-bottom: none;
    margin-bottom: 2px;
}

textarea.form-control {
    padding: 0px;
}
.bottom_grey_border {
    border-bottom: solid 1px rgb(218, 211, 211);
}
.p4 {
    padding-top: 4px;
}

.control-label.label {
    color:#434343;
    font-size: 12px;
    padding-left: 0px;
    text-align: left;
}

.required {
    margin-right: 3px;
}

.error_message {
    color: red;
    font-size: 10px;
}

.hide {
    display: none;
}
.hideEdit {
    display: none;
}

.error input, .error select {
    border: solid 1px red;
}
