/**************** HEADER **************/
#right-search-sec {
	margin-top: 10px;
}
/**************** HEADER **************/

#wrapper {
    width: 100%;
    overflow: auto;
    clear: both;
    padding-top: 8px;
    border-top: 1px solid #dddddd;
    font-family: 'Open Sans',sans-serif;
}

#main-{
    padding-left: 100px;
}

.middle_container {
    float: left;
    width: 67%;
    min-width: 700px;
    padding-left: 0px;
}

.center-sec {
    width: 98%;
}

.left_side_bar {
    width: 15%;
    border: 1px solid #ccc;
    float: left;
    overflow: auto;
    min-height: 200px;
    padding-bottom: 10px;
}

.right_side_bar {
    width: 13%;
    border: 1px solid #ccc;
    float: left;
    overflow: auto;
    min-height: 200px;
}

.center-sec {
    margin-left: 12px;
}

.mid_heading, .profile_heading {
    padding-left: 9px;
    border-bottom: 2px solid #f48639;
    line-height: 16px;
    font-weight: 500;
    height: 23px;
    font-weight: bold; 
    font-size: 14px;
}

.mid_heading .view_all {
    margin-left: 3px;
    color: #126ba6;.
}

.left_side_bar_heading {
    height: 40px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    line-height: 36px;
    padding-left: 5px;
    padding-left: 2px;
}

 .left_menu_section {
    height: auto;
    margin: 17px 4px 0px 4px;
}

 .left_menu_heading {
    border-bottom: 2px solid #f48639;
    color: #434343;
    font-size: 12px;
    font-weight: bold;
    line-height: 19px;
}
.left_side_ul {
    margin-top: 5px;
}
.left_side_ul li {
    line-height: 25px;
    border-bottom: solid 1px #ccc;
    padding-left: 2px;
}

.full_width  {
    width: 79%;
    float: none;
    margin: auto;
}

.section_container {
    width: 100%;
    padding: 3px;
    overflow: auto;
}

.multi_column.col_count_four  {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.multi_column.col_count_three  {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.multi_column.col_count_two  {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.multi_column {
  padding: 15px;
}

.multi_column a {
  word-break: break-word;
  width: 100%;
  padding: 5px;
  font-weight: 300;
  display: inline-block;
  font-size: 12px;
  color: #000000;
  font-weight: 500;
}
.col_count_two a {

  padding-left: 0px;
  padding-bottom: 3px;
  font-weight: 600;
  color: #f48639;
}
.margin_left_100 {
    margin-left: 100px;
}

.center-sec.ml_0 {
    margin-left: 0px;
}

.zero_result {
      background: #fff;
  clear: both;
  padding: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 300;
}

.zero_result .large_text {
  color: #515050;
  margin-bottom: 24px;
    font-size: 24px;
}

.left_menu_section.bottom_border {
      border-bottom: solid 1px #ccc;
}

/************************ Root Page *************************/

.home_page .search_error {
  color:red;
  padding: 5px 0px 5px 0px;
  font-size:11px;
  clear: both;
}

.tab-container .multi_column.col_count_three a {
  border-bottom: solid 1px #cccccc;
}
/*********************** search **********************/

.mt_10 {
  margin-top: 10px;
}

.home_page.search_body #left-search-sec {
  margin-top: 30px;
}

.search_body .search_select {
  height: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 3px;
}

.search_body .left_menu_section {
  margin: 5px 0px 5px 0px;
  padding: 0px 4px 8px 4px;
}

.search_body .search_label {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #747474;
}

.search_body .refine_search {
  width: 83%;
  height: 32px;
  display: block;
  background-color: #f48639;
  color: #ffffff;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
.search_body .left_side_bar_heading {
  padding-left: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #747474;
}

/************* Autocomplete *********************/
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-helper-hidden-accessible {
  display: none;
}


.hot-employer .multi_column.col_count_two, .recent-job-sec .multi_column.col_count_two {
  padding-top: 0px;
}

.emp-details .simpleBColor {
  font-weight: normal;
  font-size: 10px;
}