.dashboard_container {
    width: 80%;
    margin: auto;   
}

.employer_job {
	width: 60%;
  	border: solid 1px #f48639 !important;
  	margin: auto;
  	margin-top: 10px;
}

.employer_job .back_button, .employer_candidate .back_button {
	height: 50px;
  width: 100%;
  padding-left: 30px;
  overflow: auto;
  border-top: 1px solid #dddddd;
  padding-top: 8px;
}

.employer_candidate {
    width: 60%;
    border: 1px solid #dddddd;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
}

.employer_candidate .profile_section_content {
  padding-left: 10px;
}
.plan_status {
  width: 50%;
  float: left;
  overflow: auto;
}

.plan_status th, .plan_status td {
  color: #737373;
}

.status_table {
  border: solid 1px #dddddd;
}

.status_table .plan_name {
    color: #191D1A;
  font-size: 15px;
}
.candidate_search {
  width: 45%;
  margin: auto;
  overflow: auto;
}

.form-control.dash-select {
  width: 93px;
  display: inline-block;
}
/************* Autocomplete *********************/
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-helper-hidden-accessible {
  display: none;
}

.payment_form {
  width: 60%;
  margin: auto;
  margin-top: 36px;
}

.payment_button_div {
  margin-left: 181px;
}

.employer_image {
  margin-top: 12px;
  margin-bottom: 10px;
}