#main-body {
    overflow-x: hidden;
    border-top: 1px solid #dddddd;
    font-family: 'Open Sans',sans-serif;
}
#leftside {
	padding: 20px;
	float: left;
	width: 500px;
	height: auto;
	margin: 0px 50px;
	margin-left: 133px;
	/*border: 1px solid red;*/
}
#employer_registeration {
	/*border: 1px solid black;*/
	margin-top: -10px;
	float: left;
}
h3 {
	text-align: initial;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	color: #737373;
	font-weight: 700;
	padding-top: 5px;
	font-size: 16px;
}
.field_container {
	border-bottom: 1px dashed #dddddd;
	padding: 5px 0px;
}
.label{
	color:#737373;
	margin-bottom: 5px;
	margin-right: 25px;
	display:inline-block;
	text-align:initial;
	font-size: 12px;
	padding-left: 0px;
	font-weight: 600;
}
.input {
	width:430px; 
	line-height: 16px;
	color:#595959; 
	border: 1px solid #dddddd;
	font-size: 14px;
}
.logininput {
	width: 185px;
	float: right;
}
.radio {
	width: 10px;
	height: 10px;
	float: left;
	margin: 5px;
}
.register {
	font-size: 20px; 
	text-align: center;
	border-bottom: 1px solid #dddddd;
	color:#737373;
}
.required {
	color: #cf202e;
	 font-size: 14px;
}
.employer_registration_submit {
	margin-top: 10px;
}

#rightside {
	/*border: 1px solid black;*/
	float: right;
	width: 300px;
	margin-right: 133px;
}
#employer_login {
	margin-top: 10px;
	float: left;
	width: 277px;
	margin-left: 20px;
	padding: 5px 20px;
	border: 1px solid #dddddd;
	
}
.forgotpassword {
	color: #f48639;
	font-weight: 500;
}
.login {
	margin-right: 11px;
}
.credential {
	padding-top: 10px;
	padding-left: 25px;
}
#rightsidebottom {
	margin-top: 340px;
	margin-left: 20px;
	width: 277px;
	border: 1px solid #dddddd;
	height: 330px;
}

div.row {
	width: 277px;
	float: right;
	padding: 5px;
}
.employer-icon {
	padding: 5px;
}
/* Post new job css will start from here*/
.select_option {
	width: 80px;
	float: left;
	margin-left: 20px;
	margin-right: 5px;
}
.connector {
	margin: 5px 15px;
	float: left;
	color: #737373;
}
.cancel_button {
	margin-left: 20px;
	
}
.heading {
	color: #f48639;
	font-weight: 600;
	font-style: italic;
	border-bottom: none;
}
.text {
	color: #737373; 
	font-weight: 500;
}
#leftside.post_job {
	margin-left: 445px;
}
.foot-sec {
	width: 165px;
}

.login_div {
	min-height: 214px;
	width: 37%;
	overflow: auto;
	border: solid 1px #F37D21;
	margin: auto;
	padding: 20px;
	margin-top: 50px;
}

.grid_container {
	width: 80%;
	margin: auto;
	margin-top: 15px;
}

.new_link_div {
	float: right;
	margin-right: 15px;
}
.panel_heading_text {
	float: left;
	width: 60%;
}

.panel-heading {
	overflow: auto;
}

.panel-heading h3 {
	border-bottom: none;
}

#error_explanation {
	margin-top: 12px;
	margin-left: 169px;
	color: red;
}

#error_explanation {
    width: 335px;
    margin-top: 12px;
}

.employer_form {
    width: 600px;
    height: 100%;
    overflow: auto;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.employer_form select.form-control {
	width: 30%;
}

.employer_form .terms_conditions {
	text-align: left;
  	padding-left: 112px;
}

.employer_form .button_container {
	display: block;
  height: auto;
  width: 100%;
  text-align: left;
  padding-left: 125px;
}
.employer_form .error_message {
	text-align: left;
  padding-left: 122px;
}

.select_option.sm {
	margin-left: 0px;
}

.candidate_search .connector {
	margin: 5px 2px 0px 2px;
}

.candidate_search .select_option {
	margin-left: 5px;
}

.gender_box {
	height: auto;
  overflow: auto;
}