/* Header Section */
.support_email_text {
    line-height: 15px;
}

/* Login popup css */
.errorForm {
	font-weight: normal;
	font-size: 10px;
}

label.error {
	padding-bottom: 0px;
}

#register_forgot_id {
	padding-top: 0px;
}

.candidate_login_table .response_error {
	width: 350px;
	clear: both;
	overflow: auto;
	color: red;
	font-size: 10px;
	margin: auto;
	margin-bottom: 5px;
}
.error input, .error select,.error  textarea, .error .input{
	border: solid 1px red;
}
.error_msg {
	font-size: 10px;
	color: red;
	float: left;
}

.profile_section a, .blue_font {
	color: #126ba6 !important;
}

/* new hdeader css */

 #header-sec .logo_image {
	width: 200px;
}

#header-sec {
	height: 115px;
}

.nav {
	margin-top: 12px;
}

.search_keywords {
	color: red;
	padding: 5px;
	font-size: 11px;
}

/**************** Home Page ***********************/
.home_page .search-section {
	height: 307px;
}

.home_page #wrapper {
	padding-top: 0px;
}

.home_page #main-body {
	border-top: none;
}
.home_page h3 {
	border-bottom: none;
	padding-bottom: 2px;
}

.home_page #left-search-sec {
	margin-top: 71px;
}

.home_page #right-search-sec {
  margin-top: 54px;
}

input[name="commit"] {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin: auto;
  text-align: center;
  margin: 40px 0px 0px 305px;
}