@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0; outline:0;}

.flt{ float:left;}
.flr{ float:right;}
.clr{ clear:both;}

a img{ border:0;}
a{text-decoration:none; color:#000;}


body{font:12px 'Open Sans', sans-serif; overflow-x: hidden;}

/*top nav css start*/

#top-section{ background:#dedede; height:27px;}
.top-section{width:1000px; margin:0 auto;}
.top-left-sec{float:left;}
.top-left-sec ul li{ list-style:none; float:left;border-right:1px solid #ccc;}
.top-left-sec ul li:last-child{border-right:none;}
.top-left-sec ul li a{ font:12px 'Open Sans', sans-serif;color:#000; text-decoration:none; background:#dedede;
 padding:6px 10px 5px 10px; line-height:27px;}
.top-left-sec ul li a:hover{ color:#000; text-decoration:none; background:#FFF;}
.top-left-sec ul li.active  a{ color:#000; text-decoration:none; background:#FFF;}

.top-right-sec{float:right;width:256px;height:35px; border-right:1px solid #ccc; border-left:1px solid #ccc; border-bottom:2px solid #df1e05; background:#fff;}

.chat{font:bold 12px 'Open Sans', sans-serif; height:35px; color:#525252;  border-right:1px solid #ccc; width:130px; float:left;}
.chat img{margin:8px 5px 0px 27px; float:left;}
.chat span{margin:8px 5px; float:left;}
.chat span a{color:#525252;}

.consultant{ float:left;font:bold 12px 'Open Sans', sans-serif;}
.consultant img{margin:14px 5px 0px 5px; float:left;}
.consultant span{margin:8px 5px 0 20px; float:left;}
.consultant span a{color:#525252;}


/*header section*/

#header-sec{ background:#fff; height:115px;}
.header-sec{ width:1000px; margin:0 auto;}

.logo{}
.left-head-sec{ float:left;}
.left-head-sec img {margin-top:2px}

.right-head-sec{ float:right;}
.log-sec{font:12px 'Open Sans', sans-serif; margin-top:15px; color:#000; float:right; clear:both; }
.log-sec span a{ font-weight:bold; color:#f48639;}

.right-head-sec h2{font:bold 14px 'Open Sans', sans-serif; float:right; margin-top:6px;margin-bottom: 15px;}
.right-head-sec h2 img{margin:0px 10px; float:left;}

.nav{ float:right; margin-top:16px}
.nav ul li{ list-style:none; float:left; margin-right:5px;}
.nav ul li:last-child{ margin-right:0px;}
.nav ul li a{
color:#FFF;
font:600 14px 'Open Sans', sans-serif; 
-moz-border-radius: 8px 8px 0px 0px;
-webkit-border-radius: 8px 8px 0px 0px;
border-radius: 8px 8px 0px 0px;
border:1px solid #ccc; padding:7px 13px;
-moz-border-radius: 8px 8px 0px 0px;
-webkit-border-radius: 8px 8px 0px 0px;
border-radius: 8px 8px 0px 0px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#188cad', endColorstr = '#00adf2');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#188cad', endColorstr = '#00adf2')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
background-image: -moz-linear-gradient(top, #188cad, #00adf2);
background-image: -ms-linear-gradient(top, #188cad, #00adf2);
background-image: -o-linear-gradient(top, #188cad, #00adf2);
background-image: -webkit-gradient(linear, center top, center bottom, from(#188cad), to(#00adf2));
background-image: -webkit-linear-gradient(top, #188cad, #00adf2);
background-image: linear-gradient(top, #188cad, #00adf2);
/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
}

.nav ul li a:hover{
background:#fff; color:#000 !important;text-decoration:none !important; border-bottom:1px solid #FFF;
 }
 .simpleWColor{
color:#FFF !important;text-decoration:none !important; 
 } 
 .simpleBColor{
color:#000 !important;text-decoration:none !important; 
 } 
 .simpleWColor:hover{
color:#FFF !important;text-decoration:none !important; 
 } 
 .simpleBColor:hover{
color:#000 !important;text-decoration:none !important; 
 } 
.nav ul li.active a{
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#185fad', endColorstr = '#00adf2');
  /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
  /*Element must have a height (not auto)*/
  /*All filters must be placed together*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#185fad', endColorstr = '#00adf2')";
  /*Element must have a height (not auto)*/
  /*All filters must be placed together*/
  background-image: -moz-linear-gradient(top, #185fad, #00adf2);
  background-image: -ms-linear-gradient(top, #185fad, #00adf2);
  background-image: -o-linear-gradient(top, #185fad, #00adf2);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#185fad), to(#00adf2));
  background-image: -webkit-linear-gradient(top, #185fad, #00adf2);
  background-image: linear-gradient(top, #185fad, #00adf2);
  /*color:#FFF; border-bottom:1px solid #FFF;*/
}



/*search section css start*/

#search-section, {
    /*height:200px;*/
    height: auto;
    overflow: auto;
    /*background:url(../images/search-sec-bg.jpg) repeat-x;*/
}

.search-section{
    width:1000px;
    margin:0 auto;
    height: auto;
    overflow: auto;
}

#left-search-sec{ widows:615px; float:left; margin-top:30px;}
#left-search-sec h2{font:bold 18px 'Open Sans', sans-serif;}
#left-search-sec h2 img{margin-right:5px;}
#left-search-sec h2 span{color:#f48639}
#left-search-sec p{font:12px 'Open Sans', sans-serif; color:#5a5a5a;}

.search-one{margin-top:20px}
.search-one ul li{ list-style:none; float:left; margin-right:5px;}
.search-one ul li input[type="text"]{padding:7px; border:1px solid #ccc; width:224px; color:#5a5a5a;}
.search-one ul li select{padding:7px; border:1px solid #ccc; width:105px;}


.search-two{margin-top:20px;}
.search-two ul li{ list-style:none; float:left; margin-right:10px;}
.search-two ul li select{padding: 7px;border: 1px solid #ccc;width: 147px;}
.search-two ul li span{font:11px 'Open Sans', sans-serif; color:#5a5a5a;}


#right-search-sec{ width:345px; float:right;margin-top:30px;}
#right-search-sec h2{font:bold 18px 'Open Sans', sans-serif;}
#right-search-sec h2 span{color:#df1e05}


.article-list{margin:15px 0 0 15px;}
.article-list li{ list-style-image:url(../images/left-arrow.jpg); margin-bottom:5px;}
.article-list li a{font:12px 'Open Sans', sans-serif; color:#000;}

.post-resume{margin-top:10px; width:235px; height:35px; -moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius: 20px; background:#247bb7; text-align:centerl}
.post-resume img{margin-left:20px; margin-top:4px; margin-right:10px; float:left;}
.post-resume span a{margin-top:7px; margin-left:5px; color:#FFF;font:14px 'Open Sans', sans-serif; float:left; display:block;}


/*cat-menu-section css start*/

#cat-menu-section{ height:60px; border-bottom:1px solid #ccc;}

.cat-menu-section{ width:1000px; margin:0 auto; }

/*=================================left section=============================================================*/

.left-cat-sec{ float:left;}

.menu{margin-top:28px;}
.menu li{ list-style:none; float:left; margin-right:5px;}
.menu li a{ font:600 14px 'Open Sans', sans-serif;color:#000; text-decoration:none; 
/* background:url(../images/cat-bg.png) repeat-x; */
 padding:8px 15px 10px 15px; line-height:27px;border:1px solid #ccc; border-bottom:0px;}
.menu li a:hover{ color:#000; text-decoration:none; background:#FFF;}
.menu li.active  a{ color:#000; text-decoration:none; background:#FFF;}


/*tab container css*/
.tab-container{ width:610px; border-bottom:1px solid #ccc; float:left; margin-bottom:20px;padding-bottom:10px;}
.tab-list{margin-top:20px; float:left; width:200px;margin-bottom:5px;}
.tab-list li{ list-style:none; float:left; margin-right:25px; border-bottom:1px solid #ccc; margin-bottom:10px; padding-bottom:5px;width:180px;}
.tab-list li a{font:bold 12px 'Open Sans', sans-serif;color:#848484; text-decoration:none;}
.tab-list li a:hover{color:#1873b5; text-decoration:none; }

.view-more a{ float:right; color:#df1e05; font-size:12px; font-weight:bold;}
.view-more a:hover{color:#df1e05;text-decoration:underline;}


/*recent-job-sec css*/

.recent-job-sec{width:610px; border-bottom:1px solid #ccc; float:left; margin-bottom:20px;padding-bottom:10px;margin-top:20px;}
.recent-job-sec h3{ color:#6b6b6b;}
.hot-job-list{margin-top:15px; width:280px;}
.hot-job-list li{ list-style:none; border-bottom:1px solid #ccc; padding-bottom:8px;margin-bottom:10px; width:280px;}
.hot-job-list li a h3{color:#df1e05; font-size:12px;}
.hot-job-list li a {
    /*color:#615e5e;*/
    color: #B85108;
    text-decoration:none;
}


.add-section{ float:left; width:200px;}
.add-section h3{ color:#6b6b6b;}
.add-section ul{margin-top:15px;}
.add-section li{ list-style:none; margin-bottom:3px;}

.hot-employer{ float:left; width:450px;}
.hot-employer h3{ color:#6b6b6b;}
.emp-list{margin-top:15px; margin-left:15px}
/*.emp-list li{ list-style-image:url(assets/images/brown-arrow-icon.jpg) ;margin-bottom:10px}*/
.emp-list li a{color:#000; text-decoration:none;}
.emp-list li a:hover{color:#df1e05; text-decoration:none;}


/*=============================right section=========================================================*/
.right-cat-sec{ float:right; width:345px; margin-top: 38px;}
.right-cat-sec p{ margin-top:6px;}
.right-cat-sec p a{font:600 12px 'Open Sans', sans-serif;color:#848484;}
.right-cat-sec p a span{color:#df1e05;}

.add{margin-top: 25px;}

.future-employer{ width:345px; border:1px solid #ccc;  float:left; margin-top:15px;}
.f-heading{ background:#efefef; display:block; height:45px}
.f-heading img{ float:left; margin:0px 0 0 30px;}
.f-heading h3{ float:left;margin:10px 0 0 5px; font-size:16px}

.feature-list{ float:left; clear:both; margin-top:15px}
.feature-list li {list-style: none;border-bottom: 1px solid #ccc;float: left;width: 349px; margin-bottom:10px; padding-bottom:10px}
.empl-logo{ float:left;}
.empl-logo img{ width:78px; border:1px solid #ccc; margin-left:20px}
.emp-details{ float:right; width:230px; margin-top:5px;}

.emp-details a span, .emp-details h4, {margin-bottom:2px; font-size:12px; font-weight:600;}
.emp-details a span{ color:#B85108;}

.view-more-right a{ float:right; color:#df1e05; font-size:12px; font-weight:bold;padding:0px 10px 10px 0}
.view-more-right a:hover{color:#df1e05;text-decoration:underline;}



/*top-employer css*/

#top-employer{ width:1000px; margin:0 auto; margin-top:20px;}
#top-employer h3{ border-bottom:1px solid #ccc; padding-bottom:8px;color:#6b6b6b}
.top-emp-list{margin-top:15px;margin-bottom:10px;}
.top-emp-list li{ list-style:none; float:left; margin-right:15px;}

/*footer css start*/
#footer{border-top:5px solid #f48639; margin-top:20px;}
.footer{ width:1000px; margin: auto;}

.foot-sec{ float:left; width:137px; border-right:1px solid #ccc; padding-right:5px; margin-right:28px; margin-top:20px}
.foot-sec h3{color:#000;}
.foot-sec{}
.foot-sec ul{margin-top:15px;}
.foot-sec ul li{ list-style:none; margin-bottom:6px; color:#000;}
.foot-sec ul li:hover{ color:#df1e05; text-decoration:none;}

.right-zero{border-right:none; margin-right:0;}


#copyright{height:50px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; line-height:50px;margin-top: 20px;}
.copyright{ width:1000px; margin: auto;}

.alphabeticaly-job{ width:1000px; margin:0 auto; margin-top:10px; margin-bottom:10px;}

/*inner-search pannel*/

#inner-search-sec{height:200px; background:url(../images/inner-search-bg.jpg) repeat-x; }
.inner-search-sec{ width:1000px; margin:0 auto;}
.search-panel{margin-top:20px; float:left;}
.search-panel ul li{ float:left; list-style:none; margin-right:10px}
.search-panel ul li:last-child{margin-right:0px;}
.search-panel ul li p{ font: 600 14px 'Open Sans', sans-serif; color:#000; margin-bottom:5px;}
.search-panel ul li p em{ font:11px 'Open Sans', sans-serif; color:#000; margin-left:5px;}
.search-panel ul li input[type="text"]{padding: 7px;border: 1px solid #ccc;width:160px;color: #5a5a5a;background:#f3f3f3;}
.search-panel ul li select {padding: 7px;border: 1px solid #ccc;background:#f3f3f3;width: 110px;}

#breadcrum-section{ width:1000px; margin:0 auto;}
.breadcrum{margin-top:37px;}
.left-bd{ float:left;}
.left-bd ul li{ list-style:none; float:left; margin-left:5px; border-right:1px solid #ccc;}
.left-bd ul li:last-child{ border-right:none;}
.left-bd ul li a {font: 11px 'Open Sans', sans-serif; color:#000; padding-right:10px;}
.left-bd ul li a:hover{ color:#df1e05; text-decoration:none;}
.left-bd ul li.active a{ color:#df1e05;}
.left-bd ul li a span{color:#000 !important;}

.right-bd{ float:right;}
.right-bd ul li{ list-style:none; float:left; margin-left:5px}

.sorting{ width:1000px; margin:0 auto;}
.search-left-quee{ float:left;margin-top:25px;font: 600 16px 'Open Sans', sans-serif; color:#000;}
.search-left-quee span{color:#df1e05}

.shortby{ float:right; margin-top:25px;}
.shortby ul li{ list-style:none; float:left; margin-right:7px; border-right:1px solid #ccc;font:12px 'Open Sans', sans-serif; color:#000;}
.shortby ul li span{color:#000;}
.shortby ul li:last-child{border-right:none; margin-right:0px;}
.shortby ul li a{font: 12px 'Open Sans', sans-serif; color:#df1e05; padding-right:7px; text-decoration:none;}



/*left-panel css*/
#left-panel{width:18%; float:left;}

.box-heading{width:175px; height:35px; line-height:35px;margin-bottom:8px; background:#ececec; border-top:2px solid #1f75b2 !important; border-bottom:1px solid #ccc;}
.box-heading h2{ color:#000; padding-left:8px; font-size:14px;font-weight:normal;}

.box{margin-bottom:15px; border:1px solid #ccc; width:175px; float:left;}
.box-select{padding:5px}
.box-select  select {padding: 7px;border: 1px solid #ccc;width: 165px;}
.box-checkbox div{margin-bottom:10px;}
.box-checkbox input[type="checkbox"]{margin:5px;}
.box-checkbox label{font-size:14px;}

.box input[type="image"]{margin:10px; float:left; clear:both;}
.area-list{margin-left:5px;}
.area-list ul li{ list-style:none;margin-bottom:8px;}
.area-list ul li a{color:#000; text-decoration:none;}
.area-list ul li a:hover{color:#000; text-decoration:underline;}
.mar10{margin-top:22px;}

/*mid-panel css*/
#mid-panel{ width:59%; float:left; margin:0px 10px 0 10px;}

.box-mid-heading{width:100%; height:35px; line-height:35px;margin-bottom:8px; background:#ececec; border-top:2px solid #1f75b2 !important; border-bottom:1px solid #ccc;}
.box-mid-heading h2{ color:#000; padding-left:8px; font-size:14px; font-weight:normal; float:left; }
.box-mid-heading span{ float:right;padding-right:8px; }

.job-container{ width:555px; padding:5px; margin-bottom:30px; float:left;}
.job-heading {float:left; width:565px; margin-bottom:5px;}
.job-heading h3{font-weight:bold; font-size:16px; text-decoration:underline; color:#df1e05; float:left;}
.job-heading span{font-size:12px; text-decoration:none; color:#000; float:left; margin:5px 0px 0px 5px;}
.job-container p{margin-bottom:4px;}
.job-container strong{color:#126ba6}
.job-container p span a{margin-left:5px; color:#df1e05;}

.job-cat{ border-top:1px dotted #ccc; width:565px;margin-top:15px; padding:5px;}
.job-cat ul { float:left;}
.job-cat ul li{ list-style:none; float:left; margin-right:10px;}
.job-cat ul li a{ color:#126ba6; font-weight:bold;}
.job-cat span{ float:right;}

/*right-panel css*/
#right-panel{ width:203px; float:left;}

.right-panel{ float:left;}
.box-right{margin-bottom: 15px;border: 1px solid #ccc;width: 203px;}
.box-right-heading{width:203px; height:35px; line-height:35px;margin-bottom:8px; background:#ececec; border-top:2px solid #1f75b2 !important; border-bottom:1px solid #ccc;}
.box-right-heading h2{ color:#000; padding-left:8px; font-size:14px;font-weight:normal;}

.login-box{margin-left:7px;}
.login-box input[type="text"],.login-box input[type="password"]{ padding:4px; border:1px solid #ccc; margin-bottom:8px; width:180px;}
.login-box div{margin-bottom:5px;}
.forgot a,.sign a{color:#df1e05}

.job-alert{}
.job-alert ul{margin-left:25px;}
.job-alert ul li{ list-style:none; list-style-image:url(../images/left-arrow.jpg); margin-bottom:8px;}
.post-cv{margin:8px 0 20px 10px;}


.nav{ position:relative;}
.search-drop-down{display:none; position:absolute; top:27px; left:73px;z-index:99999;}
.search-drop-down ol{width:100%;}
.search-drop-down ol li{ list-style:none; clear:both;width:100%;}
.search-drop-down ol li a{ display:block; padding:10px; line-height:25px; color:#FFF;  border-bottom:1px solid #fff;
 border-radius:0px;font:600 14px 'Open Sans', sans-serif
}
.search-drop-down ol li a:hover{ display:block; padding:10px; line-height:25px; color:#FFF; background:#63b8f4;font:600 14px 'Open Sans', sans-serif}

.search-overwrite-first{top:25px; left:73px;}
.search-overwrite-second{top:26px; left:184px;}
.search-overwrite-one{top:25px; left:68px;}
.search-overwrite-two{top:25px; left:190px;}
.search-overwrite-three{top:25px; left:308px;}
.search-overwrite-fourth{top:25px; left:413px;}
.search-overwrite-fifth{top:25px; left:511px;}

/* new css */
.search-two .search_button, .search_body .search_button {
    width: 124px; 
    height:32px; 
    display: block;
    background-color: #f48639;
    color: #ffffff;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
}

.search-one ul li input[type="text"],
.search-one ul li select,
.search-two ul li select {
    line-height: 18px;
    color: #595959;
    border-radius: 3px;
    border: 1px solid #dddddd;
}
.search-one ul li input[type="text"]:focus,
.search-one ul li select:focus,
.search-two ul li select:focus {
    outline: none;
    border-color: #91bde5;
    background: #FFFFFF;
    box-shadow: 0 0 1px 2px #e5f3fa;
}

.feature-list li:last-child { margin-bottom:0px;border:0px; }

.yl{background-color: #247BB7;padding: 15px;width: 110px;color: #fff;text-align: center;font-size:15px;}
.bl{background-color: #63B8F4;padding: 15px;width: 110px;color: #fff;text-align: center;font-size:15px;}
.bfont{font-size: 24px;width: 160px;}
.cols-2 .col {
    width: 99.4%;
}
.cta-backer {
    background-color: rgba(17,34,51,0.8);
    padding: 5px 50px 10px 50px;
    margin-top: 5px;
    border-radius:7px;
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc112233,endColorstr=#cc112233);
    zoom: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cols-wrapper {
    overflow: hidden;
}
.cta-text {
    font-size: 30px;
    margin: 25px auto;
    text-align:center;
}
p {
    margin: 5px 0;
    padding: 0;
}
.cols-5 .col:nth-of-type(5n), .cols-4 .col:nth-of-type(4n), .cols-3 .col:nth-of-type(3n), .cols-2 .col:nth-of-type(2n) {
    margin-right: 0;
    clear: right;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.bluecta {
    background-color: #3D7BB9;
    color: white;
    padding: 5px 12px;
    text-align: center;
    font-size: 20px;
    margin: 15px auto;
    border-bottom: 5px solid #144778;
}
.orangecta {
    background-color: #f48639;
    color: white;
    /* padding: 5px 12px; */
    text-align: center;
    font-size: 25px;
    line-height: 39px;
    margin: 25px auto;
    /* border-bottom: 5px solid #BF8430; */
}
.tdCL{
    border: 1px solid #e7e7e7;
    padding: 11px;
}

/* new css */
.future-employer{ 
    background-color: #ffffff;
    margin-top: 0px;
}

.recent-job-sec {
    margin-top: 69px;
}

#left-search-sec h2 span {
    color: #F46600;
    font-size: 20px;
}

.cta-backer {
    background-color: #005A9F;
}
#cat-menu-section {
    overflow-y: auto;
    height: auto;
    border-bottom: 0px;
}
.cat-menu-section { 
    height: auto; 
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 15px;
}

.search-section {
    /*height: 307px;*/
    height: 241px;
}

.right-cat-sec {
    margin-top: 0px;
}

.recent-job-sec {
    margin-top: 0px;
}
.help_note {
  color: #524A4A;
  font-size: 10px;
}
/* Nav bar */
.nav ul li.active a {
  color: #f48639;
}

.nav ul li.active a:hover {
  color: #f48639 !important; 
}

.nav ul li a {
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#185fad', endColorstr = '#00adf2');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#185fad', endColorstr = '#00adf2')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #185fad, #00adf2);
    background-image: -ms-linear-gradient(top, #185fad, #00adf2);
    background-image: -o-linear-gradient(top, #185fad, #00adf2);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#185fad), to(#00adf2));
    background-image: -webkit-linear-gradient(top, #185fad, #00adf2);
    background-image: linear-gradient(top, #185fad, #00adf2);
    /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
    }
.foot-sec h3 {
  font-size: 13px;
  font-weight: 600;
}

.employer_logo {
  width: 150px;
}
.multi_column h4 {
  font-weight: 600;
  font-size: 11px;
}