.body-top-sec {
	height: 30px;
	border-bottom: 1px solid #ccc;
	padding: 5px;

}
span ul li {
	list-style: none;
	
	float: left;
	margin-left: 5px;
}
span ul li.active a {
	color: #f48639;
}
.search-menu {
	float: left;
	border-right: 1px solid #ccc;
	padding: 0 10px;
}
.body-middle-sec {
	background: #dedede;
	border-bottom: 1px solid #ccc;
	height: 40px;
	margin-bottom: 15px;
}
.body-bottom-sec {
	overflow: auto;
	
}
.bottom-wrapper {
	overflow: auto;
	border: 1px solid red; 
}
.heading {
	width: 174px;
  	height: 35px;
  	line-height: 35px;
  	margin-bottom: 8px;
  	background: #ececec;
  	border-top: 2px solid #1f75b2 !important;
  	border-bottom: 1px solid #ccc;
  	text-align: center;
}
.heading h3 {
	font-weight: 500;
}

.left-sec {
	width: 17%;
	float: left;
}

.filter_container {
	margin-bottom: 15px;
  	border: 1px solid #ccc;
  	width: 176px;
  	float: left;
  	overflow: auto;
}
.filter_container ul {
	overflow: auto;
}
.content {
	padding: 5px;
	overflow: auto;
}
.content select {
	padding: 7px;
  	border: 1px solid #ccc;
  	width: 165px;	
}
/* job container css starts here */
.center-sec {
	width: 60%;
	/*border: 1px solid red;*/
	margin-left: 30px;
	height: auto;
	float: left;
}
.job_container {
	padding: 8px;
	border-bottom: 1px solid #ccc;
}
.mid_heading {
	height: 40px;
}
.mid_heading h3 {
	width: 100%;
  	height: 35px;
  	line-height: 35px;
  	font-weight: 500;
  	margin-bottom: 8px;
  	background: #ececec;
  	border-top: 2px solid #1f75b2 !important;
  	border-bottom: 1px solid #ccc;
}
.mid_heading span a {
	color: #f48639;
	font-weight: 500;
}
.content p a {
	color: #f48639;
}
.discription {
	margin: 20px 0px;
}
.company {
	position:relative; 
	left:-68px;
	top: 6px;
}
div p a {
	color: #f48639;
}
.job_heading h3 a {
	color: red;
}
.designation {
	position:relative;
	left:-68px;
	top:10px;
}
.designation a {
	position:relative;
	left: 68px;
	color: #126ba6;
	font-weight: 600;
}
.footer_fearturs {
	border-top: 1px dashed #ccc;
	padding: 5px;
}
.footer_fearturs div a {
	color: #126ba6;
  	font-weight: bold;
}
.right-sec {
	margin-left: 820px;
	margin-top: 0px;
	/*border: 1px solid red;*/
	width: 17%;
}
.jp_input {
	padding: 2px;
	margin: 5px;
	margin-right: 0px;
}
.jp_button {
	margin: 5px;
	float: right;
}
.content a {
	color: #f48639;
	margin: 5px 0px 5px 5px;

}
.jp_label {
	font-weight: 600;
	margin-left: 5px;
}
.job_heading span {
	margin: 10px 0px;
}
