.top_container {
	margin-bottom: 10px;
	/*border: 1px solid red;*/
	padding: 5px 0px 0px 25px;
	background-color: ;
}
.top_container h3 {
	color: #00adf2;
	border: none;
}
.top_container h4 {
	color: #737373;
	margin: 0px 5px 12px 0px;
}
.top_container_footer {
	margin-top: 10px;
	padding: 3px 0px 3px 0px;
	height: 25px;
}
.middle_container {
	margin-bottom: 10px;
	/*border: 1px solid red;*/
	padding: 5px 0px 0px 25px;
	background-color: ;
}

.middle_container h3 {
	color: #00adf2;
	border: none;
}

.middle_container p {
	margin-bottom: 10px;
}

.middle_container h4 {
	margin-top: 25px;
	color: #333;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 5px;
}
.middle_container h4.show_job_h4 {
	margin-top: 10px;
}

.middle_container h5 {
	color: #737373;
}

.button {
	margin: 10px 5px;
}

.exp_icon {

	background: url(srpSprites_v1.png)  no-repeat;
}
.city_icon {
	
	background: url(srpSprites_v1.png) 0 -15px no-repeat;
}
.feature {
	background: url(srpSprites_v1.png) 0 -32px no-repeat;
	border-right: 1px solid silver;
	margin-right: 10px;
  	padding-right: 23px;
  	
}
.rupee {
	background: url(srpSprites_v1.png) 0 -48px no-repeat;
	border-right: 1px solid silver;
	padding-right: 10px;
	
}
.icon {
	width: 13px;
	height: 13px;
}
.openings_days {
	padding: 0px 10px;
	border-right: 1px solid silver;
}
.keyskills {
	width: 20px;
	height: 20px;

}
.keyskills:hover {
	background-color: #e5e6e6;
}
.bottom_container {
	margin-bottom: 10px;
	/*border: 1px solid red;*/
	padding: 5px 0px 0px 25px;
	background-color: ;
}

