  .wrapL {
  	word-wrap: break-word; 
  }

  .pl8 {
  	padding-left: 8px;
  }
  .normal_list {
  	list-style: none;
  }
  .pl20 {
  	padding-left: 20px !important;
  }
  .pt20 {
  	padding-top: 20px;
  }
  .normal_list li {
  	padding: 5px 0 5px 0;
  }
  .resHead {
  background: #eee;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
}
.bdrinp1 {
  border: 1px solid #aeaeae;
}
.mt16 {
  margin-top: 16px;
}
.p10 {
  padding: 10px;
}
.p5 {
  padding: 5px;
}
a.link {
	  color: #126ba6;
}