body.home_page.search_body #wrapper {
    background-color: #eaf2f8;
}

.search_body .search-section {
    height: 172px;
}
.field_container {
  width:50%;
  margin: auto;
  padding-top: 10px;
}
.dash-input {

  width: 400px;
  margin-left: 135px;

}
.dash-select {
  width: 130px;
  display: inline;
  margin: 0 10px 0 30px;
  padding: 2px;
}
.dash_select_exceptional {
  margin-left: 50px;
}
.dash-label {
  margin-top: 10px;
}
.adv-search {
	margin-left: 138px;
}
.dash-checkbox {
	margin-left: 135px !important;
}
.dashboard h3 {
	color: #434343;
	margin-left: 120px;
	margin-bottom: 15px;
}
.dash-radio {
	margin-left: 30px !important;
}
.error_message {
  margin-left: 135px;
}