<div class="panel panel-default industries_grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Inustries</h3>
    </div>
    <div class="new_link_div">
      <a href="<%= new_admin_industry_path %>" class="">
          <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-warning">New Industry</button>
          </div>
      </a>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @admin_industries.each_with_index do |admin_industry, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= admin_industry.name %></td>
          <td>
            <%= link_to 'Edit', "#{edit_admin_industry_path(admin_industry)}" %> &nbsp;
            <%= link_to 'Destroy', "#{admin_industry_path(admin_industry)}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
