<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_industry.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_industry.description %>
</p>

<%= link_to 'Edit', edit_admin_industry_path(@admin_industry) %> |
<%= link_to 'Back', admin_industries_path %>
