<div class="panel panel-default ug_qualifications_grid_container">
  <%= render :partial => "/shared/success_message", :locals => { :message => notice } %>
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>UG Qualification</h3>
    </div>
    <div class="new_link_div">
      <a href="<%= new_admin_ug_qualification_path %>" class="">
          <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-warning">New UG Qualification</button>
          </div>
      </a>
    </div>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @admin_ug_qualifications.each_with_index do |admin_ug_qualification, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= admin_ug_qualification.name %></td>
          <td><%= admin_ug_qualification.description %></td>
          <td><%= link_to 'Edit',"#{edit_admin_ug_qualification_path(admin_ug_qualification)}" %> &nbsp;<%= link_to 'Destroy', "#{admin_ug_qualification_path(admin_ug_qualification)}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
