<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_ug_qualification.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_ug_qualification.description %>
</p>

<%= link_to 'Edit', edit_admin_ug_qualification_path(@admin_ug_qualification) %> |
<%= link_to 'Back', admin_ug_qualifications_path %>
