<%
if @source == 'job'
	multiple = "multiple"
	field_name = "job[city_ids][]"
	class_name = "js-job_cities"
elsif @source == "candidate" 
	multiple = ""
	field_name = "candidate[current_city_id]"
	class_name = "js-current_city"
elsif @source == "candidate_exp"
	multiple = ""
	field_name = "desired_profile[city_id]"
	class_name = "js-desired_city"
else
	multiple = ""
	field_name = "employer[city_id]"
	class_name = "js-employer_city"
end

%>

<label for="text" class="col-sm-2 control-label label">City</label>
<select name="<%= field_name %>" class="form-control <%= class_name %>" <%= multiple %> >
	<option value="">Select City</option>
	<% @cities.each do |city| %>
		<option value="<%= city.id %>">
			<%= city.name %>
		</option>
	<% end %>        
</select>
<p class="error_message js-cities_error hide">
    Please select current city.
</p>