<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Job Portal :: Admin Portal</title>
    
    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'home_page', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
     <%= javascript_include_tag 'jquery-1.11.2.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery_all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery-ui', 'data-turbolinks-track' => true %>
    
    <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'general', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'loginAdmin', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="admin_header">
        <%= render :partial => "shared/admin_header" %>
    </div>
    <!-- Main Page Container Start-->
    <div class="admin_page_container">
        <div class="admin_wrapper <%= controller.controller_name %>">
            <%= yield %>
        </div>
    </div>
    <!-- Main Page Container End-->
    <%= render :partial => "layouts/ga" %>
</body>
</html>
