<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Search Jobs | Find Jobs | Apply Jobs | Hot Vacancies | Employment | India</title>
  <meta name="keywords" content="Search Jobs | Find Jobs | Apply Jobs | Hot Vacancies | Employment | India" />
  <meta name="description" content="Find thousands of jobs with best of the employers in Sales, Marketing, BPO, Call Center, IT, Banking, Engineering, Accounting &amp; Finance across India. Prime jobs in Delhi, Hyderabad, Bangalore, Chennai, Pune, Mumbai, Noida, Gurgaon, Ahmedabad, Jaipur, Kolkota" />

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', media: 'all' %>
  <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-tur
  bolinks-track' => true %>
  <%= stylesheet_link_tag 'home_page', media: 'all' %>
  <%= stylesheet_link_tag 'common', media: 'all' %>
  <%= stylesheet_link_tag 'header', media: 'all' %>
  <%= stylesheet_link_tag 'footer', media: 'all' %>
  <%= stylesheet_link_tag 'employer_registration', media: 'all' %>
  <%= stylesheet_link_tag 'employer_dashboard', media: 'all' %>
  <%= stylesheet_link_tag 'dashboard', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'general' %>
  <%= javascript_include_tag 'candidate_registration_popup' %>
  <%= javascript_include_tag 'employers' %>
  <%= javascript_include_tag 'dashboard' %>
  <%= javascript_include_tag 'search' %>
  <%= javascript_include_tag 'autocomplete' %>
  <%= csrf_meta_tags %>

  <meta name="google-site-verification" content="" />
</head>
<body class="home_page">
    <%= render :partial => 'shared/header_nav' %>
    <div class="clr"></div>
    <%= render :partial => 'shared/application_header' %>
    <div class="clr"></div>
    <%= render :partial => 'shared/application_loginpopup' %>
    <%= render :partial => 'shared/application_search' %>
    <div class="clr"></div>  
    <div id="wrapper">
        <div id="header"></div>
        <div id="main-body">
            <div id="cat-menu-section">
              <%= render 'shared/application_home_jobs_employers' %>
            </div>
            <div class="clr"></div>    
            <%= render 'shared/application_top_employers' %>
        </div>
        <div class="clr"></div>
        <%= render 'shared/candidate_registration_popup' %>
        <%= render :partial => "shared/footer" %>
        <%= render :partial => "layouts/ga" %>
    </div>
</body>
</html>
