<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="msvalidate.01" content="0FF1A5DA94E1A8F6F7EA86A2C250FD02" />
  <title>Search Jobs | Find Jobs | Apply Jobs | Hot Vacancies | Employment | India</title>
  <meta name="keywords" content="Search Jobs | Find Jobs | Apply Jobs | Hot Vacancies | Employment | India" />
  <meta name="description" content="Find thousands of jobs with best of the employers in Sales, Marketing, BPO, Call Center, IT, Banking, Engineering, Accounting &amp; Finance across India. Prime jobs in Delhi, Hyderabad, Bangalore, Chennai, Pune, Mumbai, Noida, Gurgaon, Ahmedabad, Jaipur, Kolkota" />

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'home_page', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'common', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'header', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'footer', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'employer_registration', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'candidate_registration', media: 'all' %>
  <%= stylesheet_link_tag 'job_apply', media: 'all' %>
  <%= stylesheet_link_tag 'changePassword', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'jquery-1.11.2.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery_all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-ui', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-ui', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'general', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'candidate_registration', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'common', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'changePassword', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>  
    <!--top-section-->
    <div class="clr"></div>
    <div id="header-sec">
        <div class="header-sec">
            <div class="left-head-sec">
                <a href="<%= root_path %>">
                  <img src="<%= image_path('pharma_vacancies_logo.jpg') %>" alt="pharnavacancies.com" title="pharnavacancies.com" class="logo_image" />
                </a>
            </div>
        </div>
        <!--class header-sec end-->
    </div>
    <!--header sec end-->
    <div class="clr"></div>
    <div class="clr"></div>   
    <div id="wrapper"> <!--id="wrapper" -->
        <!--main-body-start-from-here-->
        <div id="main-body">
            <%= yield %>
        </div>
    </div>
    <!--main-body-end-from-here-->
    <div class="clr"></div>
    <div id="footer">
        <div id="copyright">
            <div class="copyright">
                <p style="margin: 0px; padding:0px;">&copy; Copyright 2015 Pharma Vacancy Private Limited. All Right Reserved in trems of use Privacy Statement</p>
            </div>
        </div>
    </div>
    <%= render :partial => "layouts/ga" %>
</body>
</html>
