<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="msvalidate.01" content="0FF1A5DA94E1A8F6F7EA86A2C250FD02" />
  <title>Search Jobs | Find Jobs | Apply Jobs | Hot Vacancies | Employment | India</title>
  <meta name="keywords" content="Search Jobs | Find Jobs | Apply Jobs | Hot Vacancies | Employment | India" />
  <meta name="description" content="Find thousands of jobs with best of the employers in Sales, Marketing, BPO, Call Center, IT, Banking, Engineering, Accounting &amp; Finance across India. Prime jobs in Delhi, Hyderabad, Bangalore, Chennai, Pune, Mumbai, Noida, Gurgaon, Ahmedabad, Jaipur, Kolkota" />
  
  <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-tur
  bolinks-track' => true %>
  <%= stylesheet_link_tag 'candidates', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'job_apply', media: 'all' %>
  <%= stylesheet_link_tag 'home_page', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'header', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'footer', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'employer_registration', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'employer_dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'post_job', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'changePassword', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'general', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'employers', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'employer', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'post_job', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'common', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'changePassword', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'employerEdit', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="" />
</head>
<body>  
    <%= render :partial => 'shared/header_nav' %>
    <!--top-section-->
    <div class="clr"></div>
    <%= render :partial => 'shared/logo_header', :locals => {:role => 'employer'} %>
    <!--header sec end-->
    <div class="clr"></div>
    <%= render :partial => 'shared/login_popup' %>
    <div class="clr"></div>   
    <div id="wrapper" style="margin-top: 7px;"> <!--id="wrapper" -->
        <!--header-start-from-here-->
        <div id="header"></div>
        <!--header-end-from-here-->
        <!--main-body-start-from-here-->
        <div id="main-body">
            <%= yield %>
        </div>
    </div>
    <!--main-body-end-from-here-->
    <div class="clr"></div>     
    <%= render :partial => 'shared/candidate_registration_popup' %>
    <!--fotter-start-from-here-->
    <%= render :partial => "shared/footer" %>
    <!--fotter-end-from-here--> 
    <%= render :partial => "shared/newsletter_form" %>
    <!--</div>
    </div> Wrapper...-->
    <div id="my-contact-div"><!-- contactable html placeholder --></div>
    <%= render :partial => "layouts/ga" %>
</body>
</html>
