<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Search Jobs | Find Jobs | Apply Jobs | Hot Vacancies | Employment | India</title>
  <meta name="keywords" content="Search Jobs | Find Jobs | Apply Jobs | Hot Vacancies | Employment | India" />
  <meta name="description" content="Find thousands of jobs with best of the employers in Sales, Marketing, BPO, Call Center, IT, Banking, Engineering, Accounting &amp; Finance across India. Prime jobs in Delhi, Hyderabad, Bangalore, Chennai, Pune, Mumbai, Noida, Gurgaon, Ahmedabad, Jaipur, Kolkota" />

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', media: 'all' %>
  <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-tur
  bolinks-track' => true %>
  <%= stylesheet_link_tag 'job_apply', media: 'all' %>
  <%= stylesheet_link_tag 'job_search', media: 'all' %>
  <%= stylesheet_link_tag 'home_page', media: 'all' %>
  <%= stylesheet_link_tag 'common', media: 'all' %>
  <%= stylesheet_link_tag 'header', media: 'all' %>
  <%= stylesheet_link_tag 'footer', media: 'all' %>
  <%= stylesheet_link_tag 'dashboard', media: 'all' %>
  <%= stylesheet_link_tag 'search', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'common' %>
  <%= javascript_include_tag 'general' %>
  <%= javascript_include_tag 'candidate_registration_popup' %>
  <%= javascript_include_tag 'employers' %>
  <%= javascript_include_tag 'search' %>
  <%= javascript_include_tag 'autocomplete' %>
  <%= javascript_include_tag 'advance_search' %>
  <%= csrf_meta_tags %>
  <!--toggle-comon-end-here-->
  <!--[if gte IE 9]>
      <style type="text/css">.elementClass { filter: none !important; }</style>
  <![endif]-->
  <meta name="google-site-verification" content="" />
</head>
<body class="home_page search_body">
    <%= render :partial => 'shared/header_nav' %>
    <div class="clr"></div>
    <%= render :partial => 'shared/application_header' %>
    <div class="clr"></div>
    <%= render :partial => 'shared/application_loginpopup' %>
    <%= render :partial => 'shared/job_by_search' %>
    <div class="clr"></div>  
    <div id="wrapper">
        <div id="main-body">
            <% if action_name != "job_by_section" && action_name != "advanced_search" && controller_name != "job_alert" && controller_name != 'session' %>
              <%= render 'left_panel' %>
            <% end %>
            <%= yield %>
        </div>
        <div class="clr"></div>
        <%= render 'shared/candidate_registration_popup' %>
        <!--fotter-start-from-here-->
        <%= render :partial => "shared/footer" %>
        <!--fotter-end-from-here--> 
        <%= render :partial => "shared/newsletter_form" %>
        <!--</div>
        </div> Wrapper...-->
        <div id="my-contact-div"><!-- contactable html placeholder --></div>
        <%= render :partial => "layouts/ga" %>
    </div>
</body>
</html>
